[2022-06-19 02:12] #1340 closed

[2022-06-20 08:20] jokerZhou opened #1345 "多节点安装的时候,出现找不到etcd 证书的问题"
### What is version of KubeKey has the issue?

2.0.0

### What is your os environment?

centos7

### KubeKey config file

[code]

### A clear and concise description of what happend.

This is a simple check of your environment.
Before installation, you should ensure that your machines meet all requirements specified at
https://github.com/kubesphere/kubekey#requirements-and-recommendations

Continu

[2022-06-20 08:46] #1345 closed

[2022-06-20 09:01] gongysh2004 opened #1346 "cgroup driver wrong configured"
### What is version of KubeKey has the issue?

2.2

### What is your os environment?

rocky 8.5

### KubeKey config file

_No response_

### A clear and concise description of what happend.

https://github.com/kubesphere/kubekey/blob/master/pkg/kubernetes/templates/v1beta2/kubeadm_config.go#L239 is using default systemd cgroup driver,  even if the https://github.com/kubesphere/kubekey/blob/master/

[2022-06-20 13:21] LuckyT0mat0 opened #1347 "Audit 自定义使用webhook方式的问题"
### What is version of KubeKey has the issue?

2.2.0

### What is your os environment?

Ubuntu 20.04

### KubeKey config file

[code]

### A clear and concise description of what happend.

装是装成功了，但是我尝试开启audit webhook功能失败了，试了好久。
kube-apiserver.yaml：
[code]
audit-policy.yaml:
[code]
audit-webhook-kubeconfig：
[code]
修改为上述的配置后，我尝试使用sudo systemctl daemon-reload &&  systemctl restart kubelet.service，然后就

[2022-06-21 02:05] 24sama commented on #1347
Hi @LuckyT0mat0
Can you paste some logs of `kube-apisever`? You can use `docker logs` or `cat /var/log/pods/xxxxx`.

[2022-06-21 02:38] 24sama commented on #1310
Hi @kinghu88 , I think maybe that is caused by your ingress config?

[2022-06-23 05:52] #1346 closed

[2022-06-23 13:43] adityabbg opened #1349 "Unable to connect to the server: x509: certificate signed by unknown authority0.0", GitCommit:"ff9d30b7", GitTreeState:"", GoVersion:"go1.17.7"}"
### What is version of KubeKey has the issue?

Can't create cluster issue: Unable to connect to the server: x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "kubernetes")

### What is your os environment?

ubuntu 20.04

### KubeKey config file

[code]

### A clear and concise description of wh

[2022-06-24 00:41] 24sama commented on #1349
Hi @adityabbg
It looks like your environment had installed k8s before. Try to use `./kk delete cluster -f config.yaml` to clean the environment. And check there is no `/etc/kubernetes` directory in your filesystem.

[2022-06-24 01:12] calvinyv opened #1350 "[Feat]Integrate descheduler"
### Your current KubeKey version

2.0

### Describe this feature

Kubernetes depends on schedule, especially in the complex cluster env of the large enterprise, descheduler is an enhancement of scheduler's decision making, which is very useful for enterprise customers.

### Describe the solution you'd like

Integrate descheduler helm chart into kk: https://github.com/kubernetes-sigs/descheduler#in

[2022-06-24 01:12] calvinyv commented on #1350
/kind feature

[2022-06-24 01:13] calvinyv commented on #1350
/area installation

[2022-06-24 01:13] calvinyv commented on #1350
/cc @kubesphere/sig-installation

[2022-06-24 01:16] calvinyv opened #1351 "[Feat]Integrate Trimaran into Kubekey"
### Your current KubeKey version

2.0

### Describe this feature

Integrate Trimaran into Kubekey to enhance cluster scheduling capability

### Describe the solution you'd like

https://github.com/paypal/load-watcher/blob/master/README.md

### Additional information

_No response_

[2022-06-24 01:16] calvinyv commented on #1351
/area installation
/kind feature
/cc @kubesphere/sig-installation

[2022-06-24 01:28] btdan opened #1352 "Ubuntu22.04: unknown service runtime.v1alpha2.ImageService"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.2.0", GitCommit:"979f18ca", GitTreeState:"", GoVersion:"go1.17.11"}

### What is your os environment?

Ubuntu22.04

### KubeKey config file

[code]

### A clear and concise description of what happend.

I run the command
 kk create cluster -f config-sample.yaml
but I can not install k8s 1.24.1 successfully.

### Relevant l

[2022-06-24 01:38] 24sama commented on #1352
Hi @btdan
Here is a reference link, I think it can help you.
https://github.com/kubernetes-sigs/cri-tools/issues/710

[2022-06-25 00:33] liushaobo05 commented on #1339
能支持英伟达gpu的安装么

[2022-06-25 00:34] liushaobo05 opened #1353 "gpu安装"
能支持英伟达gpu的安装么

[2022-06-25 03:45] 24sama commented on #1331
hi @bashfulrobot
I think it should be the `v1.24.1` rather than `1.24.1`

[2022-06-25 06:02] bashfulrobot opened #1354 "Ubuntu 22.04 Support"
### Your current KubeKey version

version.BuildInfo{Version:"2.2.1", GitCommit:"c056977c", GitTreeState:"", GoVersion:"go1.17.11"}

### Describe this feature

I am looking to use `kubekey` to install on top of Ubuntu 22.04 (current LTS). However I noted that it is not on your supported list.

I did try to run (to test), and it is complaining about a lack of `iptables` (to be expected, I "think" th

[2022-06-27 01:42] 24sama commented on #1353
Hi @liushaobo05 , for now, kk doesn't support installing GPU drivers. Please prepare it manually.

[2022-06-27 02:02] 24sama commented on #1331
Thanks for your suggestion!
A semantic version with a "v" is just a common way (vA.B.C), and we also just followed [Kubernetes](https://github.com/kubernetes/kubernetes/releases).
So, I think we can to give some tips or auto-complete the version when the "v" is missing.

[2022-06-27 06:19] javaXiaoHan opened #1355 "SonarQube install fail . i had install openssl in aliyun ecs . but kubesphere tell me i dont install"
### What is version of KubeKey has the issue?

kubekey-v1.2.1-linux-amd64.tar

### What is your os environment?

CentOS 7.5 64位 8核 16 GiB

### KubeKey config file

[code]

### A clear and concise description of what happend.

/ # curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2022-06-27 06:21] javaXiaoHan commented on #1355
im confused for 2 weeks，i cant find out where the reason is. help me pls！！

[2022-06-27 06:23] 24sama commented on #1355
@javaXiaoHan
![image](https://user-images.githubusercontent.com/43993589/175872842-d6bd3a44-4ba9-4a1e-81de-e0a7ae762232.png)
It test ok.

[2022-06-27 06:28] javaXiaoHan commented on #1355
![1656311249645](https://user-images.githubusercontent.com/32090060/175873647-12479697-a4b8-4196-b5ac-fcd9247e814f.jpg)
im ok too,  but in kubectl  i fail.

<img width="350" alt="1656311321709" src="https://user-images.githubusercontent.com/32090060/175873821-1f466ae5-4dd9-4dcd-bdc7-5e2f9a433637.png">

[2022-06-27 06:30] javaXiaoHan commented on #1355
i had install openssl in every node

[2022-06-27 06:31] 24sama commented on #1355
I mean the version v1.1.1 of openssl tested ok.

And the helm script uses the command `type openssl` to check openssl, you can use this command and see the results.
Here is my:
![image](https://user-images.githubusercontent.com/43993589/175874178-4564188c-6a8a-4054-bdc1-799be3392f9b.png)

[2022-06-27 06:35] javaXiaoHan commented on #1355
you mean uses the command type openssl  in kubectl  or  in my aliyun ecs ?
in ecs ,the results is same as  you
but in kubectl  results is(openssl: not found)

[2022-06-27 06:44] 24sama commented on #1355
I don't understand your kubectl? What is your kubectl? Kubectl is just a command program, You mean you want to install a k8s cluster in the kubectl?

If it is ok, I think the cluster creation should be successful.

[2022-06-27 06:53] javaXiaoHan commented on #1355
i want to install SonarQube.
![image](https://user-images.githubusercontent.com/32090060/175877550-e15cdc18-d768-4047-8eba-5a16a34a67b3.png)
 this command run in aliyun ecs  or in kubectl

<img width="491" alt="1656312802210" src="https://user-images.githubusercontent.com/32090060/175877720-75ed380f-8bf4-403a-bd2c-355b023e8c22.png">

[2022-06-27 06:59] 24sama commented on #1355
I think you need to run this command on your Linux server, rather than on your web terminal.

[2022-06-27 07:23] javaXiaoHan commented on #1355
ok  i will try

[2022-06-27 07:47] #1353 closed

[2022-06-27 09:17] 24sama commented on #1355
I will close this issue because it is not related to kk.

/close

[2022-06-27 09:17] #1355 closed

[2022-06-27 12:39] Heyz6 opened #1356 "Offline installation of the specified etcd version"
### What is version of KubeKey has the issue?

v2.2.0

### What is your os environment?

centos 7.9

### KubeKey config file

[code]

### A clear and concise description of what happend.

When I use kubekey 2.2.0 installed offline install v1.21.13 scenario, etcd 3.4.13 found vulnerability, how do I replace etcd 3.4.13 with 3.4.18 in the offline install scenario

### Relevant log output

_No respon

[2022-06-27 13:09] 24sama commented on #1356
For now, kk only supports installing  v3.4.13 etcd (binary), if you want to use other versions, you can use kk to install the etcd by kubeadm.
<img width="999" alt="image" src="https://user-images.githubusercontent.com/43993589/175948815-3e14ac9e-3ba4-4dd7-9142-1fafb3899546.png">

See: https://github.com/kubesphere/kubekey/blob/master/docs/config-example.md

And before air-gapped installation, I t

[2022-06-27 13:39] adityabbg commented on #1349
**I have some errors again.**
20:34:51 WIB success: [k8s-master-1]
20:34:51 WIB success: [k8s-master-2]
20:34:51 WIB success: [k8s-worker-1]
20:34:51 WIB success: [k8s-worker-2]
20:34:51 WIB [ConfigureOSModule] configure the ntp server for each node
20:34:51 WIB skipped: [k8s-worker-2]
20:34:51 WIB skipped: [k8s-master-2]
20:34:51 WIB skipped: [k8s-worker-1]
20:34:51 WIB skipped: [k8s-master-1]
20

[2022-06-28 00:35] 24sama commented on #1356
Please see:
zh: https://github.com/kubesphere/kubekey/blob/master/docs/zh/manifest_and_artifact.md
en: https://github.com/kubesphere/kubekey/blob/master/docs/manifest_and_artifact.md

[2022-06-28 05:44] xiaods opened #1359 "Support for deploying k8e"
### Your current KubeKey version

_No response_

### Describe this feature

k8e native support install enterprise environment

[Kubernetes Easy (k8e)](https://getk8e.com/) is a lightweight, Extensible, Enterprise Kubernetes distribution that allows users to uniformly manage, secure, and get out-of-the-box kubernetes cluster for enterprise environments.

The k8e 🚀 (said 'kuber easy') project builds

[2022-06-28 07:22] Jaycean opened #1360 "containerd does not apply insecureRegistries in config.toml"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"latest+unreleased", GitCommit:"b21bdd4d858b87d9c5e93150a7c1fb5495eeed24", GitTreeState:"dirty", GoVersion:"go1.17.11"}

### What is your os environment?

centos 7

### KubeKey config file

[code]

### A clear and concise description of what happend.

- containerd does not apply insecureRegistries in config.toml
- I see that

[2022-06-28 07:24] Heyz6 commented on #1356
cat manifest-sample.yaml

apiVersion: kubekey.kubesphere.io/v1alpha2
kind: Manifest
metadata:
  name: sample
spec:
  arches:
  - amd64
  operatingSystems:
  - arch: amd64
    type: linux
    id: centos
    version: "7"
    osImage: CentOS Linux 7 (Core)
    repository:
      iso:
        localPath:
        url:
  kubernetesDistributions:
  - type: kubernetes
    version: v1.21.13
  components:

[2022-06-28 08:00] 0x9be00ff1 opened #1361 "Provide a default all-in-one config file"
### Your current KubeKey version

2.2.1

### Describe this feature

I want change controlPlaneEndpoint.domain, kubernetes.clusterName and containerManager based on the default all-in-one config file

### Describe the solution you'd like

Provide a default all-in-one config file

### Additional information

_No response_

[2022-06-28 16:17] afrojewelz commented on #652
i don't think simply just switch this version to 2 can solve this problem.
i had just very similar log ouput and configuration as issue raiser.

pvesc:~# containerd config dump|grep -Ei "version|san"
version = 2
    sandbox_image = "k8s.gcr.io/pause:3.5"

trim down to simplest config-sample.yaml to only 2 nodes,1 etcd 1 master 2worker

still cannot bootstrap the kubelet by those default confs

[2022-06-29 01:31] 24sama commented on #1356
Just append a etcd image to the `images`:
[code]

[2022-06-29 01:38] hellocn9 commented on #1356
Can I modify the kk source to a specified etcd version?

[2022-06-29 01:43] 24sama commented on #1356
Definitely!
First, modify the default etcd version which is in the kubekey
https://github.com/kubesphere/kubekey/blob/edc1aa41bfb7e7a8f2b74c16bd44400705508e8f/apis/kubekey/v1alpha2/default.go#L42

Second:
Add the new etcd SHA256 checksum in the kubekey
https://github.com/kubesphere/kubekey/blob/edc1aa41bfb7e7a8f2b74c16bd44400705508e8f/pkg/files/file.go#L650

If I haven't forgotten anything else, I

[2022-06-29 01:54] 24sama commented on #1359
Hi @xiaods, very happy to learn about k8e!
Would you like to join our online sig meeting and discuss this agenda?

[code]

[2022-06-29 02:06] 24sama commented on #1360
Hi @Jaycean
KK will do nothing about container runtime when installing a k3s cluster. The containerd which is installed in your cluster is installed by the k3s.
So, you need to refer to the k3s document.
Here are some documents I found, that maybe you needed:
https://rancher.com/docs/k3s/latest/en/installation/private-registry/
https://rancher.com/docs/k3s/latest/en/installation/airgap/
https://ra

[2022-06-29 02:10] Jaycean commented on #1360
Hi @24sama
Thks,I have solved this problem by manually modifying the configuration, but I am curious about why the problem fixed by PR #1271 does not take effect. I need further tests

[2022-06-29 02:10] 24sama commented on #1361
Hi @0x9be00ff1
The simplest way is to use the kk config file that config file only contains one node.
Steps:
1. Use the command to generate the kk config
[code]
2. Modify the config. Only one node needs to be included.
3. Create the cluster by using config.
[code]

[2022-06-29 02:15] 24sama commented on #1360
This PR #1271 is related to the `containerd` installed by kk.

* About Kubernetes:
  KK will install the `containerd` and configure it.

* About K3s:
  KK only exec the k3s official install script and the `containerd` is installed by k3s which it couldn't manage by kk.

[2022-06-29 02:23] Minus-Z opened #1362 "使用 kk All-In-One 模式 Create Cluster 过程Calico-node 启动失败"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.2.1", GitCommit:"c056977c", GitTreeState:"", GoVersion:"go1.17.11"}

### What is your os environment?

Ubuntu 18.04.6 LTS

### KubeKey config file

[code]

### A clear and concise description of what happend.

1. 通过 kk 命令初始化 ks
./kk create cluster --with-kubernetes v1.22.10 --with-kubesphere v3.3.0
2. 通过 kubectl get po -A

[2022-06-29 02:45] 24sama commented on #1362
It seems an `openrc` issue.

Can you exec this command and paste the result?
[code]

[2022-06-29 05:49] Jaycean commented on #1360
Yes, I tested that the configuration of KK for containerd did not take effect. I don't know why

[2022-06-29 05:53] 24sama commented on #1360
Other information:
KK only does a configuration task when the node didn't have a `containerd`. If you manually installed the containerd or docker at first, kk will skip the configuration task.

[2022-06-29 06:11] Jaycean commented on #1360
What I can confirm is that I have not pre installed docker and containerd
Thks.

[2022-06-29 06:25] 24sama commented on #1360
KK only exec the k3s official install script and the containerd is installed by k3s that couldn't be managed by kk.

So about this, kk will do nothing about configuring the `containerd`. That is expected. Because the `containerd` didn't installed by kk.

This logic also matches this information.

Therefore, unfortunatlly, if you want to use kk to install a k3s cluster, you only set `containerd` ma

[2022-06-29 12:29] Minus-Z commented on #1362
非常感谢，我想我应该暂时解决它了。
结论：是 `opensrc` isssue。
解决过程：
1. 执行：`findmnt -o TARGET,PROPAGATION`

命令的结果：
[code]
命令执行结果来看是因为没有 un mark shared 导致。
2.  `mount --make-shared /sys`
3.  然后 `kubectl delete po * -n namepsace`
4.  结果
[code]

[2022-06-29 12:29] #1362 closed

[2022-06-29 15:05] willzhang opened #1363 "calico version v3.20.0 should be update to v3.23.2 for bug fix"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.2.1", GitCommit:"c056977c", GitTreeState:"", GoVersion:"go1.17.11"}

### What is your os environment?

ubuntu 22.04

### KubeKey config file

[code]

### A clear and concise description of what happend.

when kubernetes install finished the calico node pods not ready
[code]

### Relevant log output

[code]

### Additional

[2022-06-30 00:03] pixiake opened #1364 "Upgrade calico and set the default veth_mtu to 0"
### Your current KubeKey version

_No response_

### Describe this feature

1. update calico to v3.23.2.
    https://github.com/kubesphere/kubekey/issues/1363
3. Set the default value of `veth_mtu` to 0. By default, MTU is auto-detected, and explicitly setting this field should not be required.

### Describe the solution you'd like

1. update calico to v3.23.2
2. Set the default value of `veth_mtu

[2022-06-30 00:17] pixiake opened #1365 "Support version number without v"
### Your current KubeKey version

_No response_

### Describe this feature

At present, kk only supports version numbers with `v` , such as v1.22.10. Version numbers without `v` should also be supported.

I found that both method of kubeadm are supported.
[code]

### Describe the solution you'd like

Modify the parameter validate logic to support the version number without `v`.

### Additional inf

[2022-07-01 03:40] #1364 closed

[2022-07-01 03:42] 24sama commented on #1363
fixed by: https://github.com/kubesphere/kubekey/pull/1366

/kind need-to-verify

[2022-07-01 07:04] xiaods commented on #1359
I have a meeting conflict and cannot attend your scheduled web meeting.

[2022-07-01 08:38] ezteki opened #1367 "A way to change the default settings"
### Your current KubeKey version

_No response_

### Describe this feature

## background

sometimes, or even more often, we need to `CUSTOMIZE` the settings,  ex:  daemon.json,  sysctl.conf;

unfortunately today, my daemon.json was rewrite by `HARD CODE` [docker_config.go](https://github.com/kubesphere/kubekey/blob/d4355dbfddba0d9d430474c078182558911986d0/pkg/container/templates/docker_config.go)

[2022-07-01 08:49] 24sama commented on #1367
/kind feature-request

[2022-07-04 01:29] 24sama commented on #1365
/good-first-issue

[2022-07-04 01:32] 24sama commented on #1359
OK, maybe next biweekly meeting?

[2022-07-04 02:55] xiaods commented on #1359
OK

[2022-07-04 06:32] deepto98 commented on #1365
Can I pick this up?

[2022-07-04 07:32] 24sama commented on #1365
Hi @deepto98 welcome!

I guess adding a function to return a normalized build version in the `Loader` can solve this issue.
https://github.com/kubesphere/kubekey/blob/7c1a74ad651e24aa6e9fa53e4cc5e90719232386/pkg/common/loader.go#L46

Here are some ref links for you:
https://github.com/kubernetes/kubernetes/blob/89aaf7c02dd33415ac994cecfddca7c02ed75834/cmd/kubeadm/app/util/version.go#L152

[2022-07-04 07:32] 24sama commented on #1365
/assign @deepto98 happy coding!

[2022-07-04 15:57] ktpktr0 opened #1368 "Is kubekey considering supporting podman"
### Your current KubeKey version

2.2.1

### Describe this feature

Is kubekey considering supporting podman

### Describe the solution you'd like

Is kubekey considering supporting podman

### Additional information

After installing podman, I tried to use kubekey to install k8s, but it failed.
[code]

[2022-07-08 14:42] bizy01 commented on #1353
有kubekey的微信群么

[2022-07-09 09:10] fuergaosi233 commented on #1363
I have the same problem, how can I fix it by modifying the config?

[2022-07-10 02:46] 24sama commented on #1353
可以微信搜索小程序 KubeSphere云原生，点击菜单栏中的 加入社区-》加入社群

[2022-07-10 03:48] 24sama commented on #1288
Hi @Nello-Angelo, sorry to reply to you late.

I create a new PR #1327 to fix this issue. Welcome to review and test it!

[2022-07-10 03:48] 24sama commented on #1288
/kind need-to-verify

[2022-07-11 09:06] zj452008181 opened #1372 "How to migrate etcd cluster to outside"
### Your current KubeKey version

2.2.0

### Describe this feature

my etcd  cluster was install on master node by kk，now i want to migrate  etcd cluster to outside，how to use kk to do this

### Describe the solution you'd like

i change config.yaml,add etcd nodes info and edit roleGroups.etcd[master1,master2,master3] to  roleGroups.etcd[etcd1,etcd2,etcd3],then i used kk add nodes -f config.yaml,a

[2022-07-12 02:24] 77yu77 opened #1373 "os2022:first step of update_cluster phase run"
### Your current KubeKey version

latest+unreleased

### Describe this feature

For the pipeline of update_cluster,kk should have phase run support to reduce losses from duplicate implementations.

### Describe the solution you'd like

Phase run means we should divide the origin pipeline into several parts, and the first step is to pre-check the nodes and cluster. If needed, it should have a new m

[2022-07-12 02:36] 24sama commented on #1373
Looks good to me!
/assign @77yu77

[2022-07-12 11:56] Feeeenng opened #1374 "Support kube-vip Kubernetes Control Plane Virtual IP"
### Your current KubeKey version

_No response_

### Describe this feature

current kk use haproxy provide  control plane virtual ip, but is kubernetes inside the cluster .

`kube-vip` can privide realy  virtual IP for Kubernetes Control Plane Virtual IP

kube-vip docs
`https://github.com/kube-vip/kube-vip`

### Describe the solution you'd like

example

### Additional information

_No response_

[2022-07-13 00:45] pixiake commented on #1374
/cc @zhouqiu0103

[2022-07-13 02:04] 24sama commented on #1372
Hi @zj452008181
KK does not support migrating the etcd cluster. Please do it manually.

[2022-07-13 02:04] #1372 closed

[2022-07-13 02:43] 24sama commented on #1368
Hi @ktpktr0
KK does not support podman. Here is a support list:
[code]

[2022-07-14 02:42] yjqg6666 commented on #1354
Any update for this issue? Would current Debian stable (Debian 11 bullseye)/ Current Ubuntu 22.04 LTS be supported in the near future?

[2022-07-14 08:24] luminus-xt opened #1376 "2.2.1离线安装推送私服报错"
### What is version of KubeKey has the issue?

2.2.1

### What is your os environment?

kylin v10

### KubeKey config file

[code]

### A clear and concise description of what happend.

docker可以正常登录私服
![image](https://user-images.githubusercontent.com/106000358/178936979-2df3a8c0-ccd4-4c6d-9688-97d6a520e43e.png)
但是通过kubekey安装集群时候会报错
![image](https://user-images.githubusercontent.com/106000358/1789

[2022-07-14 08:32] yjqg6666 opened #1377 "upload kubeadmin v1.22.11/v1.24.2 to kubernetes-release.pek3b.qingstor.com"
### What is version of KubeKey has the issue?

v2.2.1

### What is your os environment?

Ubuntu 20.04

### KubeKey config file

[code]

### A clear and concise description of what happend.

kubeadm can NOT be download from CN kkzone.

### Relevant log output

[code]

### Additional information

![image](https://user-images.githubusercontent.com/1879641/178938309-3f04c867-a650-4da7-9a02-cf9dde7954b

[2022-07-14 08:36] mangoGoForward commented on #1365
Hi @deepto98 , Do you already processing on this issue?
I'd like also to work on it~

[2022-07-14 09:09] 24sama commented on #1377
The versions v1.22.11and v1.24.2 is not supported. Here is the support list:https://github.com/kubesphere/kubekey/blob/master/docs/kubernetes-versions.md

We will support it in the next kk version.
And if you're interested in supporting it, please let me know.
Ref: https://github.com/kubesphere/kubekey/issues/1306

/kind good-first-issue

[2022-07-14 09:10] 24sama commented on #1377
/good-first-issue

[2022-07-14 09:14] 24sama commented on #1376
Hi @luminus-xt
I see your config is:
[code]
And you use the command `docker login https://10.81.193.109`.
So I guess your `privateRegistry` is `https://10.81.193.109`. You have the wrong configuration in the kk config file. Maybe it should be:
[code]

[2022-07-14 09:23] luminus-xt commented on #1376
抱歉是我的截图有问题
![image](https://user-images.githubusercontent.com/106000358/178949628-88fea849-4c8a-4532-8ca6-4078d0a15b1f.png)
应该不是因为配置文件写错了
我直接通过docker也可以正常push文件到harbor

[2022-07-14 09:32] 24sama commented on #1376
Hi @luminus-xt
I guess you forget to create the Harbor project at first.

See:
https://goharbor.io/docs/1.10/working-with-projects/create-projects/
zh: https://kubesphere.com.cn/docs/v3.3/installing-on-linux/introduction/air-gapped-installation/
en: https://kubesphere.io/docs/v3.3/installing-on-linux/introduction/air-gapped-installation/

[2022-07-14 09:32] yjqg6666 commented on #1377
@24sama How about put [a link](https://github.com/kubesphere/kubekey/blob/master/docs/kubernetes-versions.md) on the repo root README file?

[2022-07-14 09:41] yjqg6666 commented on #1377
The two are not in sync. The readme file , v1.22 up to v1.22.9, while the other one up to v1.22.10. I would suggest to change:
"Kubernetes Versions" -> "Supported Kubernetes Versions"
v1.22: v1.22.0 ~ v1.22.10

[2022-07-14 09:45] 24sama commented on #1377
Wow, that is also a document issue. Would you be interested in fixing it?

[2022-07-14 09:57] luminus-xt commented on #1376
![image](https://user-images.githubusercontent.com/106000358/178956432-47dff557-a8cd-4e93-b343-7812d9c47c9b.png)
我就是按照那篇文档操作的 项目已经创建了

[2022-07-15 00:40] 24sama commented on #1376
Is there any proxy in your host?
And anything else, I found the field name is wrong. The `auth` should be `auths` .

[2022-07-15 00:55] luminus-xt commented on #1376
好吧 把auth改对之后可以了 感谢

[2022-07-15 00:55] #1376 closed

[2022-07-15 07:18] #1288 closed

[2022-07-17 00:52] panbasten opened #1383 "offline install failed: "reading manifest 3.14 in docker.io/docker.io/alpine: unauthorized""
### What is version of KubeKey has the issue?

v2.2.1

### What is your os environment?

centos 7

### KubeKey config file

[code]

### A clear and concise description of what happend.

./kk create manifest
./kk artifact export -m manifest-sample.yaml -o kubesphere.tar.gz

manifest-sample.yaml

[code]

### Relevant log output

[code]

### Additional information

"docker.io/docker.io/alpine:3.14" m

[2022-07-17 09:17] yjqg6666 commented on #1377
@24sama I made a PR #1384 fixing it.

[2022-07-17 16:39] Phoebus888 opened #1385 "是否支持普通用户安装"
### Your current KubeKey version

_No response_

### Describe this feature

2.0.0

### Describe the solution you'd like

是否支持普通用户安装

### Additional information

_No response_

[2022-07-18 01:22] 24sama commented on #1383
Hi @panbasten
I guess it might be `docker.io/library/alpine:3.14`.

[2022-07-18 01:26] 24sama commented on #1385
Yes, kk supported it. But it required the normal user has `sudo` privilage.
You can use the kk config file, and configure the normal user in the `hosts` field.

[2022-07-18 03:58] #1385 closed

[2022-07-18 15:33] panbasten commented on #1383
thx, replace library is ok.

[2022-07-19 00:42] #1383 closed

[2022-07-19 02:10] yjqg6666 opened #1387 "kubekey artifact export failed when non-standard ssh port is used."
### What is version of KubeKey has the issue?

v2.2.1

### What is your os environment?

Ubuntu 20.04 LTS

### KubeKey config file

[code]

### A clear and concise description of what happend.

When ssh non-standard port is used, the export would fail. How could i specify/config the ssh port other than 22?

### Relevant log output

[code]

### Additional information

_No response_

[2022-07-19 02:14] 24sama commented on #1387
/kind bug

The `artifact export` command needs to remove the `GreetingsModule` due to it doesn't need to use the SSH connection.

[2022-07-19 04:53] 77yu77 opened #1389 "os2022: artifact import of update_cluster phase run"
### Your current KubeKey version

latest+unreleased

### Describe this feature

For the pipeline of update_cluster,kk should have phase run support to reduce losses from duplicate implementations.

### Describe the solution you'd like

Phase run means we should divide the origin pipeline into several parts, and the second step is to import the artifact if user need.

### Additional information

_N

[2022-07-19 04:53] 77yu77 commented on #1389
/assign @77yu77

[2022-07-19 07:16] yjqg6666 opened #1390 "update shell completion doc."
### What is version of KubeKey has the issue?

master

### What is your os environment?

Ubuntu 20.04 LTS

### KubeKey config file

[code]

### A clear and concise description of what happend.

https://github.com/kubesphere/kubekey/blob/master/docs/kubekey-autocompletion.md#setup-completion

Should be(with the recent kubekey version):

### Relevant log output

[code]

### Additional information

_

[2022-07-19 08:00] yjqg6666 opened #1392 "docker of version 22.10 binary cause artifact export failure."
### What is version of KubeKey has the issue?

v2.2.1

### What is your os environment?

Ubuntu 20.04 LTS

### KubeKey config file

[code]

### A clear and concise description of what happend.

\# ./kubekey-v2.2.1 artifact export -m manifest-sample.yaml -o ks.tar.gz
failed with docker version 20.10.12.

Actually the docker archive file DO EXIST at [link](https://mirrors.aliyun.com/docker-ce/linux/

[2022-07-19 08:29] yjqg6666 commented on #1392
Change manifest-sample.yaml, update docker version to 20.10.8 and it then works.

[2022-07-20 02:40] #1390 closed

[2022-07-20 02:44] 24sama commented on #1392
Yes, kk only supports installing docker 20.10.8 at present.

[2022-07-20 02:44] #1392 closed

[2022-07-20 02:51] 24sama commented on #1363
Please see: https://github.com/kubesphere/kubekey/issues/1282#issuecomment-1127458364

[2022-07-21 00:32] #1387 closed

[2022-07-21 02:53] tanmx opened #1395 "normal user with sudo permissions have some promble"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"v2.2.1", GitCommit:"c056977c68b5d2056a77bd5410df65548a9c2c36", GitTreeState:"dirty", GoVersion:"go1.17.12"}

### What is your os environment?

Kylin Linux Advanced Server V10 (SP1)

### KubeKey config file

[code]

### A clear and concise description of what happend.

the user test hava the root permissions with sudo command

[2022-07-22 02:55] tanmx commented on #1395
服务器安全加固的问题，暂不清楚是哪项配置导致

[2022-07-22 13:54] gitanbu commented on #1336
[root@amannath ~]# ./kk create cluster --with-kubernetes v1.24.0 --with-kubesphere v3.2.0

 _   __      _          _   __
| | / /     | |        | | / /
| |/ / _   _| |__   ___| |/ /  ___ _   _
|    \| | | | '_ \ / _ \    \ / _ \ | | |
| |\  \ |_| | |_) |  __/ |\  \  __/ |_| |
\_| \_/\__,_|_.__/ \___\_| \_/\___|\__, |
                                    __/ |
                                   |__

[2022-07-23 02:24] #1365 closed

[2022-07-26 06:23] #1277 closed

[2022-07-26 06:25] 24sama commented on #1281
Because there is this PR #1309 now, I think this issue can be closed.

[2022-07-26 06:26] #1281 closed

[2022-07-26 06:28] 24sama commented on #1363
Hi, the kk v2.2.2 has been released. And this version has already upgraded the calico version v3.20.0 to v3.23.2 (#1366). And I guess this issue can be closed.

[2022-07-26 06:29] #1363 closed

[2022-07-26 08:28] yjqg6666 opened #1406 "support recent k8s patch versions"
### What is version of KubeKey has the issue?

v2.2.2

### What is your os environment?

Ubuntu 22.04 LTS

### KubeKey config file

_No response_

### A clear and concise description of what happend.

### Relevant log output

_No response_

### Additional information

_No response_

[2022-07-26 09:36] yjqg6666 opened #1408 "add shell script for batch fetching k8s file hashes"
### Your current KubeKey version

master

### Describe this feature

Add a script for fetch k8s file hashes for recent patch version. The script will save the hashes to kubernetes-hashes.json file.

### Describe the solution you'd like

We could latter vimdiff this file to pkg/files/file.go for new version addition (need to run ":set diffopt+=iwhite" in vimdiff).

### Additional information

_No r

[2022-07-27 03:06] #1406 closed

[2022-07-27 06:39] #1377 closed

[2022-07-27 07:16] Phoebus888 opened #1410 "kk安装能修改docker的存储目录吗"
### Your current KubeKey version

_No response_

### Describe this feature

kk安装能修改docker的默认存储目录吗

### Describe the solution you'd like

kk安装能修改docker的默认存储目录吗

### Additional information

_No response_

[2022-07-27 07:32] #1408 closed

[2022-07-27 07:34] 24sama commented on #1410
Please see: https://github.com/kubesphere/kubekey/pull/1375

[2022-07-27 15:12] xiaods commented on #1359
I found kk already support k3s. k8e codebase is fork from k3s. so it will streamly support k8e

[2022-07-28 02:54] yjqg6666 commented on #1354
How about Debian 11 bullseye which enables cgroup v2 by default?

[2022-07-28 09:29] yjqg6666 commented on #1406
@24sama Is there any github actions to upload k8s binary files (kubeadm/kubelet/kubectl) ?  The url https://kubernetes-release.pek3b.qingstor.com/release/v1.22.12/bin/linux/amd64/kubeadm still get 404.

[2022-07-29 00:48] 24sama commented on #1406
Can you try it again? I have already uploaded the binaries to "qingstor.com".

[2022-07-29 02:11] yjqg6666 commented on #1406
@24sama kubesphereio/kube-apiserver images are absent. How about uploading them too ?

[2022-07-29 03:28] shenhonglei opened #1411 "The harbor deployed by kk requires a custom domain name + certificate and later updated domain name"
### Your current KubeKey version

2.*

### Describe this feature

Change the domain name of the harbor deployed by kk?
Or can have customized planning, some customers need to use enterprise domain name suffix

### Describe the solution you'd like

1.we can define the harbor domain name by yourself through kk
2.The deployed harbor domain name can be modified through kk

### Additional information

[2022-07-30 15:40] shuqingzai opened #1414 "Ubuntu2004和2204版本配置 chrony 时间同步错误"
### What is version of KubeKey has the issue?

v.2.2.2

### What is your os environment?

ubuntu20.04 与 Ubuntu22.04

### KubeKey config file

_No response_

### A clear and concise description of what happend.

配置时间同步报错，配置文件路径错误
使用 `sudo apt install chrony` 安装完成后，配置文件应该在 `/etc/chrony/chrony.conf` 但是 `kubekey` 修改时间同步的命令是 `sudo -E /bin/bash -c "grep -q '^server ntp.aliyun.com iburst' /etc/chrony.con

[2022-07-30 15:47] shuqingzai commented on #1414
手动移动配置文件后，还有错误

[code]

在 `ubuntu` 上 不能使用 `systemctl enable chronyd.service`

[2022-07-31 06:29] xiaods commented on #1359
@24sama  I will provide a PR to support this feature of installing k8e clusters

[2022-07-31 20:03] xiaods commented on #1148
This is designed to be like this, not a bug. we need discussion here and give a good choice then do action.

please read the file:
# /kubekey/pkg/pipelines/delete_cluster.go
[code]

are you sure uninstall k3s failed?

[2022-08-01 03:34] life- opened #1415 "Add CRI clean logic when delete all the cluster"
### Your current KubeKey version

v2.1.0

### Describe this feature

Sometimes, I want to clean all CRI(docker/containerd...) configuration and data directories when I delete the total cluster.

### Describe the solution you'd like

./kk delete cluster -f config.yaml --all

Add --all params to indicate remove all CRI  directories.

### Additional information

_No response_

[2022-08-01 08:03] Heyz6 opened #1416 "在使用 kubekey安装 k3s的时候"
### Your current KubeKey version

2.2.0

### Describe this feature

apiVersion: kubekey.kubesphere.io/v1alpha2
kind: Cluster
metadata:
  name: sample
spec:
  hosts:
  - {name: node1, address: 192.168.1.1, internalAddress: 192.168.1.1, user: root, password: "passsword"}
  roleGroups:
    etcd:
    - node1
    control-plane:
    - node1
    worker:
    - node1
  controlPlaneEndpoint:
    domain: lb.

[2022-08-01 09:26] #1373 closed

[2022-08-01 09:26] #1389 closed

[2022-08-01 10:27] 77yu77 opened #1417 "Add binary download and synchronization of upgrade phase run"
### Your current KubeKey version

latest+unreleased

### Describe this feature

For the pipeline of update_cluster,kk should have phase run support to reduce losses from duplicate implementations.

### Describe the solution you'd like

Phase run means we should divide the origin pipeline into several parts, and the first step to uupgrade k8s is to download and synchronize the binary.

### Addition

[2022-08-01 10:27] 77yu77 commented on #1417
/assign @77yu77

[2022-08-02 01:31] 24sama commented on #1416
安装k3s环境使用的k3s自带的containerd，如果需要修改k3s的容器运行时可参考rancher的文档：https://rancher.com/docs/k3s/latest/en/advanced/

[2022-08-02 01:31] #1416 closed

[2022-08-02 01:35] 24sama commented on #1416
如果有更多的信息，欢迎重新打开这个issue。

[2022-08-02 02:14] 24sama commented on #1415
That is a good feature.

/kind feature-request

[2022-08-02 02:17] 24sama commented on #1415
I guess this can be a good-first-issue. If anyone is interested in this, welcome to leave some comments.

/good-first-issue

[2022-08-02 02:19] 24sama commented on #1414
Thanks for this feedback, In the next release we will fix this issue.

[2022-08-02 02:24] tanmx commented on #1395
umask 027  in /etc/bashrc can cause this promblem

[2022-08-02 03:37] xiaods commented on #1148
@pixiake any update on this issue.

[2022-08-02 06:19] tanmx opened #1419 "kubekey 2.2.2 not support kubernetes v1.22.12"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.2.2", GitCommit:"2ef69c68", GitTreeState:"", GoVersion:"go1.17.12"}

### What is your os environment?

ubuntu 20.04

### KubeKey config file

[code]

### A clear and concise description of what happend.

I found the 1.22.12 is support [支持Kubernetes 版本](https://github.com/kubesphere/kubekey/blob/master/docs/kubernetes-versi

[2022-08-02 06:32] 24sama commented on #1419
Hi @tanmx
I'm sorry this may be a little confusing for you. The README is the latest version and is for the latest source code.

This PR #1407 supports the k8s v1.22.12 but this part has not been officially released. If you want this feature, you can clone the kk repo and build it manually.
[code]

[2022-08-02 06:35] tanmx commented on #1419
got it.
thank you

[2022-08-02 06:35] #1419 closed

[2022-08-03 10:09] 24sama commented on #1359
Thanks, @xiaods , that's gonna be very cool. I'm waiting for your PR.

[2022-08-03 10:11] 24sama commented on #1359
/kind feature-request

[2022-08-04 02:27] pixiake commented on #1148
@xiaods
There should be no problem if we use the configuration file，because the `Kubernetes.Type` is specified in the configuration file.

If we use `allinone` mode, kk will automatically generate a default configuration, in which no  `Kubernetes.Type`  is specified.

[2022-08-04 07:46] zaunist commented on #1415
/assign

I'm interested in completing it, but I'm not familiar with kubekey yet, can anyone give some advice?

[2022-08-04 08:46] pingod commented on #1028
遇到同样问题,也是由于sshd config文件中没指定key类型造成。
解决办法是：增加 pubkeyacceptedKeytypes ssh-rsa key类型：
echo "PubkeyAcceptedKeyTypes=+ssh-rsa" >>/etc/ssh/sshd_config

[2022-08-04 09:20] pixiake opened #1422 "Maintain version information of k8s and other components separately."
### Your current KubeKey version

_No response_

### Describe this feature

At present, the version information of k8s and other components is hard coded. I think this will reduce the flexibility of KubeKey.
https://github.com/kubesphere/kubekey/blob/691611a4c0e6522bf8a9c1a7bcd0780fd7d73fff/pkg/files/file.go#L304

So, I think it might be more flexible to maintain these information separately.

###

[2022-08-04 09:22] yjqg6666 commented on #1406
@24sama PTAL.

[2022-08-04 09:32] 24sama commented on #1406
![image](https://user-images.githubusercontent.com/43993589/182814177-58bcf827-7116-4fbb-8d75-cefbb71a9fc5.png)
I think it's ok.

[2022-08-05 01:31] 24sama commented on #1415
Hi @zaunist , welcome!
Here is a simple kk [architecture introducation](https://github.com/kubesphere/kubekey/blob/master/docs/developer-guide.md#architecture).

BTW, you can start with this pipeline to understand the source code of the kk delete cluster.
https://github.com/kubesphere/kubekey/blob/691611a4c0e6522bf8a9c1a7bcd0780fd7d73fff/pkg/pipelines/delete_cluster.go#L31

And I guess you may nee

[2022-08-05 03:07] zaunist commented on #1415
Thanks a lot.

[2022-08-05 07:01] 24sama commented on #1210
Hi @loheagn , have you been able to make any progress so far, or are you happy to hand this off?

[2022-08-05 08:37] 77yu77 opened #1423 "Add image pull of upgrade phase run"
### Your current KubeKey version

latest+unreleased

### Describe this feature

For the pipeline of update_cluster,kk should have phase run support to reduce losses from duplicate implementations.

### Describe the solution you'd like

Phase run means we should divide the origin pipeline into several parts, and the second step to upgrade k8s is to pull images on the nodes of cluster.

### Addition

[2022-08-05 08:37] 77yu77 commented on #1423
/assign @77yu77

[2022-08-05 14:27] #1310 closed

[2022-08-07 00:42] xiaods commented on #1148
@pixiake  cloud you please give a Kubernetes.Type sample case in your configfile. i read the config template, don't found any type for specified the k8s type. Maybe I have not totally understand your case. please let me know.

/kubekey/config/templates/cluster.go  --- this is default kk config.
[code]

[2022-08-07 01:02] xiaods commented on #1148
I have reproduce this bug on aws clean server, yes, the delete cluster step only perform kubeadm delete steps not k3s-uninstall.sh.

[code]

[2022-08-07 06:16] xiaods commented on #1148
I add log in deletecluster func,
[code]
the kubekey init runtime on mem, it dont read any k8s version from anywhere. so it give a default k8s version and type on runtime. it redirect wrong path to exec delete cluster pipeline.

[2022-08-07 06:19] xiaods commented on #1148
for consistent design, the kk delete should add --with-kubernetes args to support specifed k8s version. it will resolve this concerns.

[2022-08-07 06:38] xiaods commented on #1148
@pixiake  hope my pr can fix your case.

[2022-08-08 06:49] loheagn commented on #1210
Hi @24sama , sorry for the late reply. I think I can begin this work next month.

[2022-08-08 12:11] #1423 closed

[2022-08-08 12:11] #1417 closed

[2022-08-09 06:24] #1374 closed

[2022-08-09 08:51] pennpeng commented on #1414
+1 ,ubuntu 1804

[2022-08-09 11:36] 77yu77 opened #1429 "add k8s master and workers upgrade in cluster of upgrade phase run"
### Your current KubeKey version

latest+unreleased

### Describe this feature

For the pipeline of update_cluster,kk should have phase run support to reduce losses from duplicate implementations.

### Describe the solution you'd like

Phase run means we should divide the origin pipeline into several parts, and after downloading the binary file and pulling images, next step is to upgrade our maste

[2022-08-09 11:36] 77yu77 commented on #1429
/assign @77yu77

[2022-08-10 19:48] robertr1229 commented on #146
This should be reopened. I am experiencing the same issue. The firewall should not be disabled as that is just bad security practice.

[2022-08-11 02:11] zhouqiu0103 opened #1432 "document to show k3s versions supported"
### Your current KubeKey version

_No response_

### Describe this feature

need document to show the k3s versions supported by kubekey, like [kubekey/docs/kubernetes-versions.md](https://github.com/kubesphere/kubekey/blob/master/docs/kubernetes-versions.md)

### Describe the solution you'd like

add file kubekey/docs/k3s-versions.md

### Additional information

_No response_

[2022-08-11 02:27] zhouqiu0103 opened #1433 "document to show versions of plugins and components"
### Your current KubeKey version

_No response_

### Describe this feature

like **calico** which default version information is in [apis/kubekey/v1alpha1/default.go](https://github.com/kubesphere/kubekey/blob/986449b5790df0928fff9605bd885c9836db622c/apis/kubekey/v1alpha1/default.go#L43) instead of a document , so have a document to show versions of plugins and components used by kubekey can help

[2022-08-11 06:11] 24sama commented on #1433
[apis/kubekey/v1alpha1/default.go](https://github.com/kubesphere/kubekey/blob/986449b5790df0928fff9605bd885c9836db622c/apis/kubekey/v1alpha1/default.go#L43) -> [apis/kubekey/v1alpha2/default.go](https://github.com/kubesphere/kubekey/blob/986449b5790df0928fff9605bd885c9836db622c/apis/kubekey/v1alpha2/default.go#L49)
/good-first-issue

[2022-08-11 06:12] 24sama commented on #1432
/good-first-issue

[2022-08-11 06:29] 24sama commented on #1148
Fixed by: #1426

[2022-08-11 06:29] #1148 closed

[2022-08-11 06:35] 24sama commented on #146
Hi @robertr1229 , that is required by calico. Please see: https://projectcalico.docs.tigera.io/getting-started/openstack/requirements#node-requirements

[2022-08-11 06:39] 24sama commented on #1414
I think this can be a good-first-issue for new contributors. If anyone is interested in this, please leave some comments.
/good-first-issue

[2022-08-11 07:05] 24sama opened #1434 "CAPK supports to install docker"
### Your current KubeKey version

latest

### Describe this feature

At present, cluster-api-kubekey-provider(CAPK) only supports to install `containerd`. We need to support installing `docker`.

### Describe the solution you'd like

Add a `dockerService` in the capk `pkg/service/containermanager`.

### Additional information

_No response_

[2022-08-11 07:11] 24sama commented on #1434
/good-first-issue

[2022-08-11 09:31] life- commented on #1415
/assign

[2022-08-12 08:04] Heyz6 opened #1438 "kubekey 目前是否支持 centos8 ,或者 有计划支持 安装"
### Your current KubeKey version

2.2.0

### Describe this feature

kubekey  目前是否 支持 centos 8.X 安装，是否有计划支持 centos 8 系统

### Describe the solution you'd like

kubekey  目前是否 支持 centos 8.X 安装，是否有计划支持 centos 8 系统

### Additional information

kubekey  目前是否 支持 centos 8.X 安装，是否有计划支持 centos 8 系统

[2022-08-13 03:49] xiaods commented on #1438
需要社区自己维护，必须支持。欢迎PR

[2022-08-13 03:52] xiaods commented on #1359
@24sama  welcome codereview and comments. I let k8e only one version at once. this is LTS term.
for k8e, now only support 1.21.x upstream.
testing work like a charm:
create cluster:
./bin/linux/amd64/kk create cluster --with-kubernetes v1.21.14-k8e
delete cluster:
./bin/linux/amd64/kk delete cluster --with-kubernetes v1.21.14-k8e
testing on AWS Linux OS

[2022-08-14 08:12] xiaods commented on #1331
--with-kubernetes  only support prefix v + k8s version, such  v1.21.14.   please follow docs to install.
I think this is not bug. don't need update current design.

[2022-08-14 08:15] xiaods commented on #1069
please close this duplicate issue.

[2022-08-14 08:37] xiaods commented on #1395
need root user to install

[2022-08-14 08:41] xiaods commented on #1367
after kk install steps, we can change the file by yourself. I don't think this is good suggest on update system level setting by kk.

[2022-08-14 08:52] xiaods commented on #1349
@adityabbg use 1.21@latest and retry install again.

[2022-08-14 10:38] #1429 closed

[2022-08-14 10:41] 77yu77 opened #1440 "add upgrade kubesphere cmd of upgrade phase run"
### Your current KubeKey version

latest+unreleased

### Describe this feature

For the pipeline of update_cluster,kk should have phase run support to reduce losses from duplicate implementations.

### Describe the solution you'd like

Phase run means we should divide the origin pipeline into several parts, and this step is to upgrade our kubesphere version.

### Additional information

_No respon

[2022-08-14 10:41] 77yu77 commented on #1440
/assign @77yu77

[2022-08-14 11:54] zaunist opened #1442 "使用 kk 创建 kubesphere v3.2.1 集群出错"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.2.2", GitCommit:"2ef69c68", GitTreeState:"", GoVersion:"go1.17.12"}

### What is your os environment?

ubuntu 20.04

### KubeKey config file

_No response_

### A clear and concise description of what happend.

kubesphere 创建以后，有一个组件一直处于 ImagePullBackOff 状态

创建 kubesphere 的命令
[code]

容器组状态
[code]

我去检查了出错的容器，发现是镜像拉不下来。

[co

[2022-08-14 23:21] xiaods commented on #1434
no pkg/service/containermanager file.

[2022-08-14 23:25] xiaods commented on #1356
if you want  install etcd with specified version, it should be expose --etcd as param

[2022-08-15 07:03] zaunist commented on #1432
/assign

[2022-08-15 07:03] zaunist commented on #1432
[WeOpen Star]I would like to help

[2022-08-15 07:06] zaunist commented on #1432
Hi community, how do I know what k3s version are already supported? Does anyone give me some advice?

[2022-08-15 07:15] 24sama commented on #1434
Please wait for the [PR](https://github.com/kubesphere/kubekey/pull/1421) to merge.

[2022-08-15 07:18] 24sama commented on #1432
Hi @zaunist , you can see here:
https://github.com/kubesphere/kubekey/blob/072fed09d6989e71087bcaf0fc1f0b0a9e323760/pkg/files/file.go#L715

[2022-08-15 07:20] zaunist commented on #1432
Thanks :)

[2022-08-15 08:50] xiaods commented on #1442
welcome pr

[2022-08-15 08:51] xiaods commented on #1356
@Heyz6  welcome pr

[2022-08-15 09:49] xiaods commented on #1410
need sample docs to learn it.

[2022-08-15 09:53] xiaods commented on #1360
you can use k8e, it integrate with containerd.
[code]

[2022-08-15 11:09] Heyz6 commented on #1356
Thank you. I'll try @xiaods

[2022-08-15 13:59] xiaods commented on #1433
code is document. don't need write documents. if you need it, welcome pr.

[2022-08-15 13:59] xiaods commented on #1433
@zhouqiu0103

[2022-08-15 15:18] xiaods commented on #1347
@LuckyT0mat0 need more logs on your case.

[2022-08-15 15:20] xiaods commented on #1411
welcome pr

[2022-08-16 01:50] pixiake commented on #1442
![image](https://user-images.githubusercontent.com/22290449/184781348-90a16c78-3bab-4df0-a277-8edb14115a4a.png)

Thank you for your feedback. The image already can be pulled normally, and we will close this issues.

[2022-08-16 01:50] #1442 closed

[2022-08-16 02:38] x86cloud opened #1448 "download binary failed!"
### What is version of KubeKey has the issue?

./kk create cluster -f config.yaml

### What is your os environment?

openEuler 22.03

### KubeKey config file

[code]

### A clear and concise description of what happend.

It seems that kk downloads kubeadm on each node, and then the verification fails

### Relevant log output

[code]

### Additional information

_No response_

[2022-08-16 02:51] 24sama commented on #1448
Hi @x86cloud , need to use the kk latest release: https://github.com/kubesphere/kubekey/releases/tag/v2.3.0-rc.0

[2022-08-16 03:17] #1415 closed

[2022-08-16 03:31] #1432 closed

[2022-08-16 05:40] xiaods commented on #1395
你确定这个问题？

[2022-08-16 06:03] life- opened #1449 "[Bug] It doesn't work fro containerd when I set cluster.registry.dataRoot"
### What is version of KubeKey has the issue?

v2.1.0

### What is your os environment?

CentOS 7

### KubeKey config file

[code]

### A clear and concise description of what happend.

I change kubernetes.containerManager to containerd, and I set registry.dataRoot to another directory ("/data/containerd" in the example),  but it does not work for containerd.

### Relevant log output

_No response

[2022-08-16 06:17] 24sama commented on #1449
I checked this PR: https://github.com/kubesphere/kubekey/pull/1375/files
The `dataRoot` field is only for docker. So it's just a temporary method that configures the container manager in the `.spec.registry.xxx`. Maybe we will refactor the container manager configuration.

[2022-08-16 06:18] x86cloud commented on #1448
there's an another problem

[code]

[2022-08-16 06:21] tanmx commented on #1395
scp file /mnt/kubekey/kubekey/xxxx/initOS.sh to remote /usr/local/bin/kube-scripts/initOS.sh failed: permission denied
uamsk 027 导致 scp 出错，解决方法修改uamsk 或者 修改kk源码在 ssh 后先设置umask 025

[2022-08-16 06:22] tanmx commented on #1395
scp file /mnt/kubekey/kubekey/xxxx/initOS.sh to remote /usr/local/bin/kube-scripts/initOS.sh failed: permission denied
uamsk 027 导致 scp 出错，解决方法修改uamsk 或者 修改kk源码在 ssh 后先设置umask 025

[2022-08-16 06:34] life- commented on #1449
Should I add dataRoot setting function for containerd current. Maybe you could tell me the plan of refactor container manager configuration.  @24sama

[2022-08-16 06:45] 24sama commented on #1449
Currently, welcome to create PR and follow the existed logic to configure the containerd, just like the above PR to configure the docker.
The work of code refactor maybe will not come soon, it's just an idea in my mind.

[2022-08-16 06:51] life- commented on #1449
/assign

[2022-08-16 07:03] pixiake commented on #1448
@x86cloud It should be normal now. Please try again.

[2022-08-16 09:04] #1449 closed

[2022-08-17 06:20] 24sama commented on #1411
/good-first-issue

[2022-08-17 08:29] zaunist commented on #920
/assign.
[WeOpen Star]I would like to help

[2022-08-17 08:30] zaunist commented on #920
/assign

[2022-08-17 08:30] zaunist commented on #920
[WeOpen Star]I would like to help

[2022-08-17 14:56] xiaods commented on #1359
https://github.com/kubesphere/kubekey/pull/1452

[2022-08-18 01:28] xiaods commented on #1448
经常网络不稳定，可以多试验几次就能拉下来。

[2022-08-19 02:57] hzhhong opened #1453 "invalid syntax of /etc/sysctl.conf after executing init os script"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.2.1", GitCommit:"c056977c", GitTreeState:"", GoVersion:"go1.17.11"}

### What is your os environment?

CentOS Linux release 7.5.1804 (Core)

### KubeKey config file

_No response_

### A clear and concise description of what happend.

invalid syntax of /etc/sysctl.conf after executing init os script
![f5f9dd9d0c589b266259a

[2022-08-19 03:15] hzhhong commented on #1453
Reproduces the problem when the file size is larger than 4Kbytes. Writing to a file while you're reading it is a recipe for disaster.
`awk ' !x[$0]++{print > "/etc/sysctl.conf"}' /etc/sysctl.conf`

[2022-08-19 06:32] life- opened #1455 "Kubernetes 1.24.* supports docker as container manager"
### Your current KubeKey version

v2.1.0

### Describe this feature

In kubernetes v1.24.*, it does not support docker-shim. But crictl is not friendly for user.
We'd better add docker supported in kubernetes v1.24.*.

### Describe the solution you'd like

The solution is add [cri-dockerd ](https://github.com/Mirantis/cri-dockerd) for kubelet. The digram is as flow:
![image](https://user-images.gi

[2022-08-19 06:33] life- commented on #1455
/assign

[2022-08-19 11:30] xiaods commented on #1359
thanks @24sama support. I will share my experience on next meeting call.

[2022-08-19 11:30] #1359 closed

[2022-08-20 10:15] xiaods commented on #1411
I don't think this is good proposal, the harbor is internal image registry, don't need share with enterprise registry requirement. so @shenhonglei please consider add any another reason ?

[2022-08-21 07:44] xiaods commented on #1410
@Phoebus888 请验证下这个参数，并给一个例子，谢谢。

[2022-08-22 23:55] #1453 closed

[2022-08-23 15:46] WangZhouX commented on #1331
duubee@duubee7:~$ sudo ./kk create cluster --with-kubernetes v1.22.10 --with-kubesphere v3.3.0

 _   __      _          _   __
| | / /     | |        | | / /
| |/ / _   _| |__   ___| |/ /  ___ _   _
|    \| | | | '_ \ / _ \    \ / _ \ | | |
| |\  \ |_| | |_) |  __/ |\  \  __/ |_| |
\_| \_/\__,_|_.__/ \___\_| \_/\___|\__, |
                                    __/ |

[2022-08-24 03:07] Heyz6 opened #1468 "service 暴露 NodePort，端口 31005 以上 并且服务可用，为啥 netstat 查看不到 31005端口"
### What is version of KubeKey has the issue?

2.2.0

### What is your os environment?

ceontos7.9

### KubeKey config file

[code]

### A clear and concise description of what happend.

同样的安装 v1.0.1 能够正常暴露 ,咨询下 是 k8s 版本 升级导致的吗 目前 k8s 版本 v1.21.13

### Relevant log output

_No response_

### Additional information

_No response_

[2022-08-24 03:08] Heyz6 commented on #1468
![image](https://user-images.githubusercontent.com/13972460/186311905-f7e6e24c-f036-4df3-bf78-2d538c72e0ef.png)

[2022-08-24 03:09] Heyz6 commented on #1468
![image](https://user-images.githubusercontent.com/13972460/186311989-09fce741-9149-4227-8f71-34c126fa1c14.png)

[2022-08-26 04:02] 24sama commented on #1468
Kubernetes services are implemented by iptables (or IPVS) not as processes listening on a specific port. That's why they won't show up in your netstat.

Please see: https://kubernetes.io/docs/concepts/services-networking/service/

[2022-08-26 04:04] #1468 closed

[2022-08-26 07:56] #1440 closed

[2022-08-26 17:33] #1410 closed

[2022-08-27 05:18] 77yu77 opened #1479 "add create cluster phase run"
### Your current KubeKey version

latest+unreleased

### Describe this feature

For the pipeline of create_cluster,kk should have phase run support to reduce losses from duplicate implementations.

### Describe the solution you'd like

Phase run means we should divide the origin pipeline into several parts, and so it should divide the create_cluster into several small pipeline.

### Additional inf

[2022-08-27 05:18] 77yu77 commented on #1479
/assign @77yu77

[2022-09-02 07:16] harris1024 opened #1486 "使用kk离线安装k8s集群时支持指定安装ISO的依赖包"
### Your current KubeKey version

v2.2.1

### Describe this feature

- 使用kk v2.2.1离线部署k8s集群时自定义编辑manifest.yaml、引入https://github.com/kubesphere/kubekey/releases/download/v2.2.1/centos7-rpms-amd64.iso的ISO文件后，是否有可以更透明的方式支持用户自定义ISO文件和安装离线k8s集群时自定义ISO中rpm包的清单来满足不同用户对系统初始环境的需要。

### Describe the solution you'd like

- 希望可以给config.yaml增添字段，让用户自定义rpm依赖的声明，例如
[code]

### Additional information

_No respons

[2022-09-02 09:15] pennpeng opened #1487 "Error response from daemon: manifest for registry.cn-beijing.aliyuncs.com/kubesphereio/kube-ovn:v1.10.5 not found:"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.3.0-rc.1", GitCommit:"eb460804", GitTreeState:"", GoVersion:"go1.18.5"}

### What is your os environment?

ubuntu 20.04

### KubeKey config file

_No response_

### A clear and concise description of what happend.

pull image failed: Failed to exec command: sudo -E /bin/bash -c "env PATH=$PATH docker pull registry.cn-beiji

[2022-09-02 09:29] pixiake commented on #1487
![image](https://user-images.githubusercontent.com/22290449/188109092-bddb5a90-d3dc-4b7b-af27-0d0ebd57ea93.png)

@pennpeng Thanks for your feedback. This image can already be pulled.

[2022-09-02 09:57] pennpeng commented on #1487
@pixiake  OK thanks

[2022-09-02 09:57] #1487 closed

[2022-09-02 13:13] 24sama commented on #1486
Thanks for your feedback!
/kind feature-request

[2022-09-04 03:57] xiaods commented on #1486
welcome pr.

[2022-09-04 03:58] xiaods commented on #1434
welcome pr

[2022-09-05 11:33] lostrain opened #1488 "offline install cluster met with dockerhub.kubekey.local authentication problem"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.2.2", GitCommit:"2ef69c68", GitTreeState:"", GoVersion:"go1.17.12"}

### What is your os environment?

CentOS Linux release 7.8.2003 (Core)

### KubeKey config file

[code]

### A clear and concise description of what happend.

Followed by [this](https://kubesphere.com.cn/docs/v3.3/installing-on-linux/introduction/air-gapp

[2022-09-06 02:07] 24sama commented on #1488
Hi @lostrain
Have you created the Harbor project yet?

[2022-09-06 02:12] lostrain commented on #1488
Yes, this script `create_project_harbor.sh` has created harbor projects

[2022-09-06 02:18] 24sama commented on #1488
I see this script https://raw.githubusercontent.com/kubesphere/ks-installer/master/scripts/create_project_harbor.sh missing the `kubesphereio` project. Maybe this issue is caused by this.

[2022-09-06 02:54] lostrain commented on #1488
Thank you for you help, it worked after I add `kubesphereio` to the script.
But now I met another problem, `manifest.yaml` in this [doc](https://kubesphere.com.cn/docs/v3.3/installing-on-linux/introduction/air-gapped-installation/) indicates `- registry.cn-beijing.aliyuncs.com/kubesphereio/kube-controllers:v3.20.0`, but the pipeline tries to pull `dockerhub.kubekey.local/kubesphereio/kube-controll

[2022-09-06 03:00] 24sama commented on #1488
Thanks for your report. This is caused by kk v2.2.2 bump the calico v3.20.0 to v3.23.2.
You can modify the manifest manually, and re-build your air-gapped packages.
[code]
to
[code]

[2022-09-06 07:26] lostrain commented on #1488
Successfully finished after updated repo versions in manifest. Many thanks.

[2022-09-06 07:26] #1488 closed

[2022-09-06 08:25] willzhang opened #1494 "generate artifact failed for offline"
### What is version of KubeKey has the issue?

2.2.2

### What is your os environment?

centos7.6

### KubeKey config file

[code]

### A clear and concise description of what happend.
[code]

### Relevant log output

_No response_

### Additional information

_No response_

[2022-09-06 08:50] willzhang commented on #1494
[code]

[2022-09-06 09:19] willzhang commented on #1494
is that my network problems?
[code]

[2022-09-06 11:28] willzhang opened #1495 "insecureRegistries not effect"
### What is version of KubeKey has the issue?

2.2.2

### What is your os environment?

centos7.6

### KubeKey config file

[code]

### A clear and concise description of what happend.

 kk artifact export -m ks-v3.3.0-manifest.yaml -o kubesphere-v3.3.0-artifact.tar.gz |tee export.log
[code]

### Relevant log output

[code]
[code]

[2022-09-07 01:56] 24sama commented on #1494
It looks like your network problem.

[2022-09-07 08:42] arugal commented on #1486
Hi @harris1024 are you working on this feature yet?

[2022-09-07 09:58] willzhang commented on #1494
yes, can kubekey add retry times? eg three times failed then give error and stop pull.

[2022-09-07 10:11] willzhang commented on #1109
maybe network problems:https://github.com/kubesphere/kubekey/issues/1494

[2022-09-07 10:11] #1109 closed

[2022-09-07 11:02] willzhang commented on #1295
Reference: https://github.com/kubesphere/kubekey/blob/master/docs/manifest-example.md

if i want use kubekey v2.2.2 install kubernetes v1.24.3 and kubesphere v3.3.0 , what all the follow version should be? can i use any what i want ?

eg:

* why  docker use version: 20.10.8?
* why kube-scheduler  use v1.21.5?

can i get a version list of componet and images from some where, not manifest-example.

[2022-09-08 01:22] 24sama commented on #1295
1. k8s v1.24+ which is installed by kk does not support using docker.
2. Just use kk to create an expected k8s cluster for a test, and then you can use `kk create manifest` to automatically generate a manifest file.

[2022-09-08 01:51] 24sama commented on #1494
For now, you can retry this any time by yourself. And we also recommend this approach, because in most cases retries will not solve some errors either.

[2022-09-08 12:52] willzhang opened #1497 "reinstall failed when Offline install interruption"
### What is version of KubeKey has the issue?

2.2.2

### What is your os environment?

ubuntu 22.04

### KubeKey config file

[code]

### A clear and concise description of what happend.

1、run `kk create cluster -f config-sample.yaml -a kubernetes-v1.21.5-artifact.tar.gz --with-packages`
 the install process will always stop here i must interruption by hand
[code]

problems 2
[code]
[code]

[2022-09-08 13:07] willzhang commented on #1295
1、create manifest-sample.yaml by hand

[code]

2、generate config-sample.yaml
[code]

3、offline install, kubekey will downloading amd64 crictl v1.24.0 from internet, so what's wrong, the The chaotic version collocation makes me miserable.

[code]

[2022-09-08 13:14] 24sama commented on #1497
Obviously, you manually terminated the kk, resulting in that's kk rollback operation was not executed.

[2022-09-08 14:32] ivanmissu opened #1498 "How to modify kubelet data dir ?"
1. How to modify kubelet data dir in config.yaml?
2. How to modify kubelet data dir after installation?

[2022-09-09 01:40] 24sama commented on #1295
I see you finally created a k8s v1.24.0.
But your manifest file shows:
<img width="217" alt="image" src="https://user-images.githubusercontent.com/43993589/189254240-27508de8-547f-4419-a88d-1f23615b8f8d.png">
These 2 components' versions maybe not your expected cluster needed.

[2022-09-09 01:50] 24sama commented on #1495
The kk artifact export doesn't use containerd or docker. So `insecureRegistries` doesn't work for it. Others, Your configuration file has some field indentation issues.
See:
<img width="505" alt="image" src="https://user-images.githubusercontent.com/43993589/189255184-5b015303-b778-4756-a127-c65bd16bf6fa.png">
The `plainHTTP` have a indentation issue.
[code]

[2022-09-09 02:00] 24sama commented on #1498
1. kk doesn't support modify kubelet data dir
2. Please see: https://stackoverflow.com/questions/46045943/how-to-change-kubelet-working-dir-to-somewhere-else

[2022-09-09 02:01] #1494 closed

[2022-09-09 02:46] willzhang commented on #1295
i change crictl to version: v1.24.0, but kubekey need `kube-controllers:v3.23.2`
[code]

the error logs
[code]

[2022-09-09 03:05] 24sama commented on #1295
Oh, kk v2.2.2 bump calico and openebs version.
Please see the same issue:
https://github.com/kubesphere/kubekey/issues/1488#issuecomment-1237605418

And here is the PR to update the document:
https://github.com/kubesphere/website/pull/2662

[2022-09-09 04:25] willzhang commented on #1295
I want to find the rules between versions. If someone can answer the `?` mark in the picture below, maybe we can sort out a basic best practice

![kubekey_v2.2.2.png](https://s2.loli.net/2022/09/09/jaNyUsLk1uSgzbF.png)

[2022-09-09 04:57] willzhang commented on #1295
when kubernetes version Version determined , some components version maybe determined

containerd
https://containerd.io/releases/#kubernetes-support

etcd
[code]

[2022-09-11 05:26] willzhang commented on #1495
thanks

[2022-09-11 05:26] #1495 closed

[2022-09-13 02:21] willzhang commented on #1111
i lost so many options to do

add this and create harbor projects, the official docs have been say that.

[code]

[2022-09-13 02:21] #1111 closed

[2022-09-13 02:23] willzhang commented on #1497
rollback maybe should Idempotent like ansible though i manually terminated  kk.

[2022-09-13 08:53] #1498 closed

[2022-09-14 01:13] 24sama opened #1504 "Refactor the KubeKey project structure"
### Backgroud
1. Currently, the KubeKey operator mode has some defects, such as not enough abstraction that only defines the `cluster` object, and using `job` to run a command line program (kk) in a way that is difficult to maintain the idempotency.
2. The codes of kk operator mode are heavily coupled with the codes of command line mode. For example, the command-line mode codes have to add operato

[2022-09-14 02:34] 24sama commented on #1295
@willzhang  thanks for this suggestion. We are also keen to resolve these complex version dependencies. At present, I think we can write a document to show these dependencies first that can temporarily solve some users' confusion.

[2022-09-14 02:34] 24sama commented on #1295
/kind feature-request
/kind document

[2022-09-14 02:43] 24sama commented on #1497
That is a good enhancement for kk command line.

/kind feature-request

[2022-09-14 06:11] yjqg6666 commented on #1354
[Kubernetes 1.25: cgroup v2 graduates to GA](https://kubernetes.io/blog/2022/08/31/cgroupv2-ga-1-25/)

[2022-09-14 07:34] tanguofu opened #1506 "`k8s-certs-renew.timer` maybe not run timely to renew K8S control plane certificates"
### What is version of KubeKey has the issue?

master

### What is your os environment?

Centos7.9

### KubeKey config file

_No response_

### A clear and concise description of what happend.

Now the timer run period is the first monday of each month
[code]
And only renew certificates when getCertValidDays less than 30 days
[code]
So if there is  two monday between two month more than 30 days, t

[2022-09-14 08:02] #1506 closed

[2022-09-16 02:03] vanloswang opened #1509 "FEAT: allow to configure ipvs scheduler method"
### Your current KubeKey version

v2.2.2

### Describe this feature

There is no option to configure kube-proxy ipvs scheduler method.

### Describe the solution you'd like

Add an option to configure kube-proxy ipvs scheduler method as bellow.
[code]

### Additional information

_No response_

[2022-09-16 03:40] 24sama commented on #1509
Hi @vanloswang!
Try to configure it like this:
[code]
More configuration, please see: https://kubernetes.io/docs/reference/config-api/kube-proxy-config.v1alpha1/

[2022-09-21 02:15] lwabish opened #1516 "make controller-gen failed because of different locations between downloading and invoking"
### What is version of KubeKey has the issue?

git commit id b731d2f4

### What is your os environment?

darwin 12.6

### KubeKey config file

_No response_

### A clear and concise description of what happend.

line `GOBIN=$(PROJECT_DIR)/bin go get $(2)`
in Makefile go-get-tool function is not running as expected because go get is not consuming GOBIN env.
It downloads the controller-gen to the gl

[2022-09-21 13:09] xiaods commented on #1504
cool, I can't waiting for your proposal

[2022-09-22 06:33] lwabish opened #1518 "operator can't get namespace while creating conifigMap"
### What is version of KubeKey has the issue?

git tag v2.2.2

### What is your os environment?

k8s 1.21.13

### KubeKey config file

_No response_

### A clear and concise description of what happend.

After deploying kk operator using code tag v2.2.2, I run `kubectl apply -f cluster.yml` to import the very cluster which was created before by binary kk into my cluster.

Operator failed to create

[2022-09-22 08:37] 24sama commented on #1516
Hi @lwabish, happy to see you are interested in kk operator mode.
I found a same issue: https://stackoverflow.com/questions/71608442/generating-controller-gen-with-kubebuilder

And we are preparing to [refactor the kk project structure](https://github.com/kubesphere/kubekey/issues/1504). The next generation kk operator codes are in the `exp/` dir (also contains the Makefile), it uses a script(impl

[2022-09-22 08:51] lwabish commented on #1516
Copy that.I have made some temporary changes for current using.

By the way, when will the CAPKK be released? Is there an estimated schedule?

[2022-09-22 09:08] 24sama commented on #1516
We will release v2.3.0 in two weeks (depending on [KubeSphere](https://github.com/kubesphere/kubesphere) released v3.3.1) and after that, we can do the refactor on the master branch and then release the first CAPKK version.

[2022-09-22 09:18] lwabish commented on #1516
Will the operator of old releases still in maintenance then?
My org is just about to apply this operator in production😂

[2022-09-22 09:44] 24sama commented on #1516
Low Priority. As you can see the old operator has no changes for 6 months cause there are some defects.

So, we highly recommend that you can use CAPKK.

If you have any problems with CAPKK, please search to add the WeChat bot "kubesphere".

[2022-09-22 09:45] pixiake commented on #1516
It is recommend to use capkk instead of the old operator, because capkk is based on the `cluster-api` specification, and it can manage clusters more finely.

[2022-09-23 01:23] lwabish commented on #1516
Thanks a lot!

[2022-09-23 01:23] #1516 closed

[2022-09-23 01:31] #1518 closed

[2022-09-26 03:16] fangzhengjin opened #1526 "[Question] How can I generate a longer ca certificate when installing kubernetes?"
Currently, the certificate automatically generated by kubekey is only 10 years old ,how can I generate a longer ca certificate when installing kubernetes?

[2022-09-26 08:22] 77yu77 opened #1528 "add phase run cmd for upgrade_cluster and create_cluster"
### Your current KubeKey version

latest+unreleased

### Describe this feature

For the pipeline of update_cluster and create_cluster, they has more modules and longer process execution. So if there is an abnormal error in the execution, the error needs to be checked and re-executed, so the correct module will be repeatedly executed resulting in wasted resources.

### Describe the solution you'd l

[2022-09-26 08:22] 77yu77 commented on #1528
/assign @77yu77

[2022-09-27 02:48] #1528 closed

[2022-09-27 03:37] 24sama commented on #1526
It can't modify the default certificate, because it's based on [kubeadm design](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/). So I suggest you use an external certificate that you can sign for a long time if you want.

[2022-09-27 09:20] x86cloud opened #1532 "How can I edit 'containerLogMaxSize' with kubekey"
### Your current KubeKey version

./kk create cluster -f config.yaml

### Describe this feature

for some resonse, i want to edit kubelet's config `containerLogMaxSize` and `containerLogMaxFiles `. is there any solution?

### Describe the solution you'd like

config or args?

### Additional information

_No response_

[2022-09-28 09:09] 24sama commented on #1526
About kk, it's low priority. But for capkk, I think it inherently supports that ability, because it includes the full kubeadm configuration. See: https://cluster-api.sigs.k8s.io/tasks/kubeadm-bootstrap.html

[2022-09-28 09:16] 24sama commented on #1532
Just like this issue: https://github.com/kubesphere/kubekey/issues/1509
[code]

[2022-09-29 09:02] lgzhaha opened #1533 "节点不能被删除 node can not be deleted"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"1.1.1", GitCommit:"7f4b70f", GitTreeState:"", GoVersion:"go1.14.15"}

### What is your os environment?

CentOS Linux release 7.9.2009 (Core)

### KubeKey config file

[code]

### A clear and concise description of what happend.

按照配置文件所示，当删除节点名称为 dev-qa-pre-k8s-node4 时，按照官网提示https://kubesphere.com.cn/docs/v3.3/installing-on-

[2022-09-30 01:51] outrunJ opened #1535 "add node失败"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.3.0-rc.3", GitCommit:"b2eb6500", GitTreeState:"", GoVersion:"go1.18.6"}

### What is your os environment?

ubuntu22.04

### KubeKey config file

[code]

### A clear and concise description of what happend.

kubesphere2.3.0之后, kk add nodes命令都会失败，报错如下

### Relevant log output

[code]

### Additional information

_No response

[2022-09-30 01:57] 24sama commented on #1535
It looks like you are trying to add a node with a different k8s version

[2022-09-30 03:08] lgzhaha commented on #1533
Ok,thanks.
Similarly, can I use "kubeadm join" to add a node?

[2022-09-30 03:21] 24sama commented on #1533
Definitely, yes.

[2022-09-30 03:56] vinsonzou opened #1536 "容器运行时为containerd，自签名证书无法拉取镜像"
### Your current KubeKey version

version.BuildInfo{Version:"2.3.0-rc.2", GitCommit:"b731d2f4", GitTreeState:"", GoVersion:"go1.18.5"}

### Describe this feature

容器运行时：containerd
当前Harbor为默认证书，不受信任，导致新增节点或者部署时失败。

现在是临时修改/etc/containerd/config.toml解决
insecure_skip_verify = true

### Describe the solution you'd like

希望添加个开关调整配置文件

### Additional information

_No response_

[2022-09-30 04:43] 24sama commented on #1536
Please see:
[code]
If you configure this and you don't have containerd installed on your node, then kk will automatically generate config.yaml using the above configuration.

[2022-09-30 13:33] #1536 closed

[2022-10-01 10:30] shuqingzai opened #1537 "初始化环境时，同步时间无效"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.2.1", GitCommit:"c056977c", GitTreeState:"", GoVersion:"go1.17.11"}

### What is your os environment?

ubuntu22.04Arm64 server 最小化安装

[code]

### KubeKey config file

[code]

### A clear and concise description of what happend.

1. 使用 `./kk init os -f kk-config.yaml` 初始化环境时，`chronyd` 配置无效，报出警告
`dpkg-statoverride: warning:

[2022-10-01 11:32] shuqingzai commented on #1537
#1414

[2022-10-01 13:14] shuqingzai commented on #1537
close this
see #1414

[2022-10-01 13:14] #1537 closed

[2022-10-06 13:26] #1504 closed

[2022-10-07 12:27] outrunJ commented on #1535
正是版本的问题，实在非常感谢

[2022-10-07 12:27] #1535 closed

[2022-10-08 05:07] #1479 closed

[2022-10-09 11:48] tanguofu opened #1541 "Support Execute custom setup scripts when init os and create cluster and add node"
### Your current KubeKey version

master

### Describe this feature

it is very repeated work when set up many nodes os and disks，for example when install kk on three node  of master， and each node has more than one  disks， it is had to format each disk and mount to filesystem handworked for each three node。

Also there is a lot of custom init process when install k8s with the speical nodes，such a

[2022-10-09 12:52] pixiake commented on #1541
That's great. I think we can also support the operation after the installation process is completed. such as:
[code]

[2022-10-10 16:53] lywnko commented on #1352
the same problem to me

[2022-10-11 11:07] JohnsonJo opened #1543 "在ubuntu 20.04上离线安装时会自动下载已存在的包"
### Your current KubeKey version

version.BuildInfo{Version:"2.2.2", GitCommit:"2ef69c68", GitTreeState:"", GoVersion:"go1.17.12"}

### Describe this feature

已经做好了离线安装包，离线安装包里存在对应的文件，但是执行安装命令时依然会再次进行下载。
如下图，存在etcd包:
![image](https://user-images.githubusercontent.com/32511145/195072205-f604e514-c7fe-4ba6-83e1-1c95c96d8286.png)
离线安装命令如下：
`./kk create cluster -f config-sample.yaml -a kubesphere.tar.

[2022-10-11 11:08] JohnsonJo commented on #1543
日志图片貌似没上传成功，重新来一次：
![image](https://user-images.githubusercontent.com/32511145/195074879-d744cb34-0580-4f7d-be6c-7581c5777d76.png)

[2022-10-12 03:27] JohnsonJo commented on #1543
明白了。
kk果然做的很严谨。
不过我的问题就变成了为啥我是在arm服务器上运行的，指定的kubesphere.tar.gz制品包也是arm的。
但使用kk安装时，kk一直在下载amd的包。
我的操作系统信息：
![image](https://user-images.githubusercontent.com/32511145/195242330-ef390ab3-e887-4cac-acc2-20191c89e87a.png)
我的制品包内容：
![image](https://user-images.githubusercontent.com/32511145/195242531-73b024ac-7d18-4d13-bb3f-ee0da98f41ed.png)
配置文件：
![image](https://user-images.githubusercontent.com/3251

[2022-10-12 03:33] pixiake commented on #1543
https://github.com/kubesphere/kubekey/blob/595695c4f9397d801a647ac811b77f034e885d6b/cmd/kk/apis/kubekey/v1alpha2/cluster_types.go#L68

You need to add `arch` in the hosts configuration.

[2022-10-12 03:54] JohnsonJo commented on #1543
非常感谢，加上arch后就可以跑了。
不过还有个问题要请教下，我在制作离线包的时候指定了crictl版本为1.22.0，但是安装时kk需要下载1.24.0版本。
这个是什么原因呢？怎么设置具体组件的版本呢？
![image](https://user-images.githubusercontent.com/32511145/195246197-e1aa65d4-7971-4b27-a2e6-14f577c3e84b.png)

[2022-10-12 04:53] 24sama commented on #1543
你安装的k8s版本是1.24吗，这种情况下离线包中的crictl也需要是1.24.0版本

[2022-10-12 06:41] JohnsonJo commented on #1543
我装的k8s版本是v1.22.10

[2022-10-12 07:40] JohnsonJo commented on #1543
好的，多谢！

[2022-10-12 07:40] #1543 closed

[2022-10-13 02:29] niconical commented on #1192
I'm trying to use KubeKey on ARM64 platform(Huawei KunPeng 920 CPU), so I think I can do some work.

[2022-10-13 13:19] way-zer opened #1546 "skip `Join control-plane node` when node already worker"
### What is version of KubeKey has the issue?

2.3.0-rc.3

### What is your os environment?

Ubuntu 18

### KubeKey config file

[code]

### A clear and concise description of what happend.

I want to add worker as `control-plane`, but it skipped as it in cluster.

### Relevant log output

[code]

### Additional information

_No response_

[2022-10-13 16:08] way-zer commented on #1546
Also, `vip` for control-plane not work with `add nodes`

[2022-10-14 04:54] #1541 closed

[2022-10-15 09:30] vinsonzou opened #1551 "cilium 1.11.6 bug causes coredns to fail to start"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.3.0-rc.2", GitCommit:"b731d2f4", GitTreeState:"", GoVersion:"go1.18.5"}

### What is your os environment?

AlmaLinux 9.0

### KubeKey config file

[code]

### A clear and concise description of what happend.

After using cilium, coredns cannot be started. cilium has reported bugs. cilium issues are as follows
- https://git

[2022-10-15 13:49] ivanmissu opened #1552 "when installing kubernetes, how do you set data directories such as kubelet and etcd?"
When installing kubernetes, how do you set data directories such as kubelet and etcd?

[2022-10-16 06:13] baozitao opened #1553 "初始化harbor仓库时，疯狂下载harbor，下了一遍又一遍，不知在干啥。"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.3.0-rc.3", GitCommit:"b2eb6500", GitTreeState:"", GoVersion:"go1.18.6"}

### What is your os environment?

CPU是树莓派4B，操作系统是2022-09-22-raspios-bullseye-arm64.img

### KubeKey config file

_No response_

### A clear and concise description of what happend.

kk init registry -f config-sample.yaml -a kubecluster.tar.gz

然后

dow

[2022-10-16 06:19] baozitao commented on #1553
downloading arm64 harbor v2.5.3  ...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  629M  100  629M    0     0   957k      0  0:11:13  0:11:13 --:--:-- 1060k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload

[2022-10-16 10:32] 24sama commented on #1553
1. 离线环境中出现下载文件的情况表示kubekey目录中并没有二进制文件（即离线包 artifact 中没有该 harbor 二进制文件）
2. 离线包中没有该harbor文件的原因是，harbor官方并没有提供arm64的安装包，所以目前kk制作离线包中直接忽略了打包arm64 的 harbor。感谢反馈目前的提示信息不够完善。

***
1. There is a downloading process in the offline environment means that there is no binary in the kubekey directory (i.e. the harbor binary is not in the offline package `artifact`)
2. The reason for the absence of the harbor f

[2022-10-16 14:00] baozitao opened #1554 "添加节点失败"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.3.0-rc.3", GitCommit:"b2eb6500", GitTreeState:"", GoVersion:"go1.18.6"}

### What is your os environment?

kylin-4.0.2 sp4

### KubeKey config file

_No response_

### A clear and concise description of what happend.

我有一个用kk创建的5节点的集群，均为树莓派4b，新添加一个节点，新增加的节点，主机名叫做ft2000,新节点的cpu是ft-2000（armv8）os是kylin-4.0.2,其实就是ubuntu16.04

[2022-10-16 15:46] niconical opened #1555 "[env: arm64] assigned an image with the wrong architecture(amd64)"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.2.2", GitCommit:"2ef69c68", GitTreeState:"", GoVersion:"go1.17.12"}

### What is your os environment?

OS：openEuler release 20.03 (LTS)，CPU：KungPeng 920，Arch：arm64

### KubeKey config file

[code]

### A clear and concise description of what happend.

我在config文件里面指定了host架构为arm64，使用了默认的kubesphere版本，执行的安装命令为

[code]

但是在安装ku

[2022-10-16 16:17] #1555 closed

[2022-10-16 16:18] niconical commented on #1555
在https://github.com/kubesphere/ks-installer/issues/2038里面找到了答案。

[2022-10-17 01:46] 24sama commented on #1554
[code]
According to the logs print, the docker didn't run on your node `ft2000 `, please check it first.

[2022-10-17 01:48] 24sama commented on #1551
Thanks for your feedback! We will fix it in the next release.

[2022-10-17 02:21] vinsonzou commented on #1551
The systemd version above 245 will cause abnormal IPV4 traffic from the Pod to the node. The official document provides the following solutions:
[code]

Reference Issues: https://github.com/cilium/cilium/issues/10645

[2022-10-17 03:39] faxinter opened #1556 "安装KubeSphere v3.2.1 卡在Please wait for the installation to complete！"
### What is version of KubeKey has the issue?

2.2.2

### What is your os environment?

centos 7

### KubeKey config file

_No response_

### A clear and concise description of what happend.

11:31:09 CST success: [LocalHost]
11:31:09 CST [DeployStorageClassModule] Generate OpenEBS manifest
11:31:09 CST message: [master]
Default storageClass in cluster is not unique!
11:31:09 CST skipped: [master]

[2022-10-17 06:09] 24sama commented on #1556
The k8s was installed successfully, but ks has not been installed, you can use `kubectl get po -A` and `kubectl logs xxxx` to check.

[2022-10-17 06:58] faxinter commented on #1556
在线安装和离线安装都是卡到最后一步
[root@master ~]#
[root@master ~]#
[root@master ~]#
[root@master ~]# kubectl logs
-bash: kubectl: command not found
[root@master ~]#

安装失败，查看log
11:31:10 CST success: [master]
11:31:10 CST [DeployKubeSphereModule] Add config to ks-installer manifests
11:31:10 CST success: [master]
11:31:10 CST [DeployKubeSphereModule] Create the kubesphere namespace
11:31:10 CST success: [master]

[2022-10-17 07:27] faxinter commented on #1556
Last login: Mon Oct 17 14:53:59 2022 from 10.94.17.55
[root@master ~]#
[root@master ~]# kubectl get po -A
-bash: kubectl: command not found
[root@master ~]#

[2022-10-17 07:36] 24sama commented on #1556
Strange. Please paste the full kubekey logs.

[2022-10-17 07:50] faxinter commented on #1556
10:39:45 CST [GreetingsModule] Greetings
10:39:45 CST message: [node3]
Greetings, KubeKey!
10:39:46 CST message: [node1]
Greetings, KubeKey!
10:39:46 CST message: [master]
Greetings, KubeKey!
10:39:46 CST message: [node2]
Greetings, KubeKey!
10:39:46 CST success: [node3]
10:39:46 CST success: [node1]
10:39:46 CST success: [master]
10:39:46 CST success: [node2]
10:39:46 CST [DeleteClusterConfirmMod

[2022-10-17 08:09] 24sama commented on #1556
I guess the `/usr/local/bin` is not in your $PATH. Please use these commands, or configure your $PATH env.
[code]

[2022-10-17 08:13] faxinter commented on #1556
Last login: Mon Oct 17 15:49:30 2022 from 10.94.17.55
[root@master ~]# /usr/local/binkubectl get po -A
-bash: /usr/local/binkubectl: No such file or directory
[root@master ~]# cd /usr/local/
[root@master local]# ll
total 40
drwxr-xr-x. 3 kube root 4096 Oct 17 11:30 bin
drwxr-xr-x. 2 root root 4096 Apr 11  2018 etc
drwxr-xr-x. 2 root root 4096 Apr 11  2018 games
drwxr-xr-x. 2 root root 4096 Apr 11

[2022-10-17 08:34] #1556 closed

[2022-10-17 12:45] baozitao opened #1557 "树莓派使用bug建议，两个问题"
### Your current KubeKey version

version.BuildInfo{Version:"2.3.0-rc.3", GitCommit:"b2eb6500", GitTreeState:"", GoVersion:"go1.18.6"}

### Describe this feature

1.树莓派的cgroup的memory默认是不enable的，和普通ubuntu的做法不同，树莓派需要单独开启，开启方式如下
vim /boot/cmdline.txt
增加cgroup_enable=memory cgroup_memory=1在文件首部，变成这样
cgroup_enable=memory cgroup_memory=1 net.ifnames=0 dwc_otg.lpm_enable=0 console=ttyAMA0,115200 console=

[2022-10-18 02:48] arugal commented on #1434
@24sama  I will contribute this feature :)

[2022-10-18 04:47] xiaods commented on #1551
upgrade to cilium 1.12.2 will resolve this bug also.

[2022-10-18 10:30] faxinter opened #1558 "All-in-One,centos 7,但是web端不能访问，30880端口也没有被占用"
### What is version of KubeKey has the issue?

2.2.2

### What is your os environment?

centos 7

### KubeKey config file

_No response_

### A clear and concise description of what happend.

安装提示完成，但是web端不能访问，30880端口也没有被占用

[root@sbgkxy12 logs]# netstat -ntlp
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name

[2022-10-19 08:03] #1558 closed

[2022-10-19 08:03] faxinter commented on #1558
自己的问题

[2022-10-20 02:33] 24sama commented on #1557
Hi @baozitao, sorry to reply late.
I guess this PR can support your customized situation.
https://github.com/kubesphere/kubekey/pull/1545

[2022-10-20 02:36] 24sama commented on #1552
Duplicate: https://github.com/kubesphere/kubekey/issues/1498

[2022-10-21 02:58] TaibiaoGuo opened #1559 "Installed forward compatibility is broken, older versions of Kubernetes cannot be installed"
### What is version of KubeKey has the issue?

v2.2.2

### What is your os environment?

Centos 7.9

### KubeKey config file

[code]

### A clear and concise description of what happend.

I used All-in-One mode to install the old version of Kubernetes, because the current Calico is not compatible with the old version of Kubernetes API, so Calico installation failed. The Kubernetes v1.20.6 I need t

[2022-10-21 03:08] 24sama commented on #1559
Thanks for your feedback!
For now, you can set the `.spec.network.plugin: none`
[code]
And use kk addons to deploy your customized CNI yaml file.
https://github.com/kubesphere/kubekey/blob/master/docs/addons.md

[2022-10-24 07:55] Heyz6 opened #1564 "How to change the IP address of the master machine without resetting the machine and cluster."
### What is version of KubeKey has the issue?

2.1.0

### What is your os environment?

centos 7.9

### KubeKey config file

[code]

### A clear and concise description of what happend.

How do I make k8s available (single master node) without resetting k8s and reinstalling the OS because the machine IP is changed?

### Relevant log output

_No response_

### Additional information

_No response_

[2022-10-25 02:35] Heyz6 commented on #1564
我查看了网上的一些资料，KUBEKEY 的其他证书是通过 kubeadm 签发的，但是 kubekey 中 etcd 的证书 是如何签发和更新的？请提供支持 谢谢

[2022-10-25 02:35] Heyz6 commented on #1564
我查看了网上的一些资料，KUBEKEY 的其他证书是通过 kubeadm 签发的，但是 kubekey 中 etcd 的证书 是如何签发和更新的？请提供支持 谢谢
 @24sama

[2022-10-25 02:37] 24sama commented on #1564
@Heyz6 Hi, please see: https://github.com/kubesphere/kubekey/blob/master/cmd/kk/pkg/etcd/certs.go

[2022-10-25 02:50] 24sama commented on #1564
You can use openssl. And kk dose not support any migrate feature.

[2022-10-25 08:53] Heyz6 commented on #1564
只安装了 k8s 没安装 kubesphere平台

[2022-10-25 08:54] Heyz6 commented on #1564
只安装了 k8s 没安装 kubesphere平台 @24sama

[2022-10-25 09:01] 24sama commented on #1564
KK do nothing about kube-proxy. Need to check the certs file, see: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

[2022-10-26 11:46] gosavip commented on #1352
Facing same issue tried with  https://github.com/kubernetes-sigs/cri-tools/issues/710 to disable cri but till had the same

[2022-10-28 02:29] mangoGoForward opened #1568 "`coredns` pod throw `ImagePullBackOff ` error when offline install kubesphere with k3s"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"latest+unreleased", GitCommit:"455d8c4bdbe41dba9a71ec09526b75bd101e6719", GitTreeState:"dirty", GoVersion:"go1.17.13"}

### What is your os environment?

Centos 7.9

### KubeKey config file

[code]

### A clear and concise description of what happend.

When successful installed kubesphere on offline environment, but `coredns

[2022-10-28 03:03] yuweni99 opened #1569 "使用kubekey升级KubeSphere3.3.1失败"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.3.0", GitCommit:"4a25a844", GitTreeState:"", GoVersion:"go1.18.7"}

### What is your os environment?

CentOS Linux release 7.6.1810 (Core)

### KubeKey config file

_No response_

### A clear and concise description of what happend.

- 在使用kk升级ks，发生报错，升级命令为
./kk upgrade --with-kubesphere v3.3.1 -f ../k8s-install.yml
- 查看日志发

[2022-10-28 03:10] 24sama commented on #1569
Hi @yuweni99 , thanks for the feedback.
And the code is here:
https://github.com/kubesphere/kubekey/blob/4a25a844c5a0ce2675bb4bd8dd6b55fe11866f7a/pkg/bootstrap/precheck/tasks.go#L313
I don't know if it is a difference between zsh to others.

[2022-10-28 05:36] yuweni99 commented on #1569
是的，我的shell解释器用的是zsh，那我如果要解决这个问题的话，是需要换回默认的shell解释器还是？

[2022-10-28 06:28] yuweni99 commented on #1569
刚试了一下，把shell的解释器换成了/bin/bash就没问题了

[2022-10-30 04:40] #1434 closed

[2022-10-31 11:16] TaurusM opened #1572 "calico node error about MTU"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.3.0", GitCommit:"4a25a844", GitTreeState:"", GoVersion:"go1.18.7"}

### What is your os environment?

ubuntu20.04.4

### KubeKey config file

[code]

### A clear and concise description of what happend.

[code]
[code]
[code]
[code]

### Relevant log output

[code]

### Additional information

_No response_

[2022-11-01 08:17] 24sama commented on #1572
Can you try to unset the `vethMTU`? The value will be auto-detection by the calico itself.

[2022-11-01 08:53] TaurusM opened #1574 "Failed to get container runtime cgroup driver"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.3.0", GitCommit:"4a25a844", GitTreeState:"", GoVersion:"go1.18.7"}

### What is your os environment?

ubuntu 20.04.4

### KubeKey config file

[code]

### A clear and concise description of what happend.

 当crio的cgroup_manager参数为systemd的时候, crio config 命令获取不到值, 但kubekey安装时中会报错, 因为systemd是crio的默认cgroup配置

![image](https://u

[2022-11-01 08:55] 24sama commented on #1574
Thanks for your feedback!

[2022-11-01 09:20] TaurusM commented on #1572
It's OK, when I unset the `vethMTU` key-value.
This problem only occur with set `vethMTU`.

[2022-11-02 06:01] 24sama commented on #1572
So, it looks like caused by setting the wrong value. I will close this issue, if you have any new information feel free to reopen it.

[2022-11-02 06:01] #1572 closed

[2022-11-02 06:05] 24sama commented on #1568
I see this [PR](https://github.com/kubesphere/kubekey/pull/1502) fix this bug, can you try to update the kk version?

[2022-11-02 06:17] mangoGoForward commented on #1568
Thanks, nice work.
we add `--system-default-registry` command to the service template to solved, like:
https://github.com/kubesphere/kubekey/blob/b5bb4acbebaa5ef04d9de743274171be1ebad3fd/cmd/kk/pkg/k3s/templates/k3sService.go#L40

changed:
[code]
and `"PrivateRegistry":   g.KubeConf.Cluster.Registry.PrivateRegistry` in task

[2022-11-02 06:17] #1568 closed

[2022-11-03 08:34] harris1024 commented on #1486
OK, great. Thank you very much for your contribution. Our business needs to use this function

[2022-11-04 10:21] JasonChen86899 opened #1579 "多节点离线部署 从节点 calico-node 容器启动失败"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"2.3.0", GitCommit:"4a25a844", GitTreeState:"", GoVersion:"go1.18.7"}

### What is your os environment?

Centos7.6

### KubeKey config file

[code]

### A clear and concise description of what happend.

node-1 节点这个问题 master-1 不存在这个问题

<img width="1472" alt="企业微信截图_b678accd-aa51-43f3-8b9c-d57b98dc73bd" src="https://user-images

[2022-11-04 10:24] JasonChen86899 commented on #1579
是否跟如下配置有关
`  network:
    plugin: calico
       kubePodsCIDR: 10.233.64.0/18
       kubeServiceCIDR: 10.233.0.0/18
       ## multus support. https://github.com/k8snetworkplumbingwg/multus-cni
       multusCNI:
          enabled: false
`

[2022-11-04 12:30] JasonChen86899 commented on #1579
重启node-1节点 解决了这个问题 应该calico的问题 重启解决

[2022-11-06 15:00] xiaods commented on #1557
欢迎根据2.3的扩展功能写一个tutorial on pi

[2022-11-06 16:01] xiaods commented on #1564
@Heyz6  kubekey只是一次性的安装工具，如果要更新cluster证书，使用二kubeadm certs来更换。或者使用我开发的k8e套件，ssl证书是10年，不用更新。单机版安装
[code]

[2022-11-06 16:11] xiaods commented on #1553
应该在代码中提示，并终止执行才对。

[2022-11-06 16:12] xiaods commented on #1486
/close

[2022-11-06 16:14] xiaods commented on #1448
@x86cloud  可以反馈下，在openEuler 22.03可以正确安装了吗？

[2022-11-06 23:22] xiaods commented on #1526
welcome pr

[2022-11-06 23:26] xiaods commented on #1414
这个bug已经修复，可以关闭此issue

[2022-11-07 01:41] 24sama commented on #1486
/close

[2022-11-07 05:28] #1414 closed

[2022-11-07 06:00] x86cloud commented on #1448
可以了，升级版本之后就可以正常安装了

[2022-11-07 14:19] willzhang opened #1581 "add kubernetes v1.25.x image to dockerhub"
### Your current KubeKey version

2.3.0

### Describe this feature

kk artifact export
[code]

### Describe the solution you'd like

add v1.25 images to dockerhub, or sync everyday with github action.

### Additional information

_No response_

[2022-11-07 14:38] willzhang commented on #1581
i can not use this images in `manifests.yaml`
[code]
run kk artifact export
[code]

[2022-11-08 07:33] 24sama commented on #1581
Thanks for the feedback, we are still syncing the k8s images...

[2022-11-08 07:34] #1486 closed

[2022-11-08 07:40] 24sama commented on #1581
As for this error, it looks like one of the images behind this `registry.k8s.io/dns/k8s-dns-node-cache:1.22.13` has a formatting problem. `registry.k8s.io/dns/k8s-dns-node-cache:1.22.13` has been stored in the OCI path.

[2022-11-08 10:08] polarbear122 opened #1584 "kubsephere的console组件是否可以自定义版本"
### Your current KubeKey version

_No response_

### Describe this feature

使用kubekey同时安装k8s集群和kubesphere时，发现仅能设置设置其主版本。
我想对kubesphere的console组件进行二次开发，但是不清楚如何将二次开发后的组件重新打包安装，在kubekey的帮助文档中发现没有该选择。

### Describe the solution you'd like

是否可以教我如何通过kubekey选择自定义的console版本。kubekey目前是否可以支持这个功能？如果没有支持的话，能否指导一下通过修改kubekey的代码是否可以达到选择自定义的console版本的目的，大概需要修改哪几处的源码？

### Additional information

_No response_

[2022-11-08 13:14] 24sama commented on #1581
I mean there is something wrong with the format of the other image names. Could you please paste your manifest file here?

[2022-11-09 03:11] #1433 closed

[2022-11-09 05:30] willzhang commented on #1581
[code]

[2022-11-09 05:37] willzhang commented on #1581
[code]

[2022-11-09 05:48] 24sama commented on #1581
Thanks @willzhang
Then following images are missing the namespace. Image name must be formated as `registry/namespace/name:tag`.
[code]

[2022-11-09 06:13] willzhang commented on #1581
## some images lost
[code]
need pause and k8s-dns-node-cache
[code]
## suggest
[code]

### part1:  kube images

[code]
### part2: k8s-dns-node-cache
[code]

### part3: calico images just use docker.io

### suggest use github action workflow sync all version tags

sync.yaml
[code]

[code]

[2022-11-09 06:30] willzhang commented on #1581
some more error with `kubeadm. v1.25.3 is not supported`
[code]

[2022-11-09 07:25] 24sama commented on #1581
The images pause and k8s-dns-node-cache have synced to docker.io/kubesphere.

https://github.com/kubesphere/kubekey/pull/1577 is included in the KubeKey v3.0.0. And you can use `./kk version --show-supported-k8s` to check the support k8s version.

Thanks for the suggestion!

For some historical reasons, the ks community uses an internal [AWX project](https://github.com/ansible/awx) to sync the ima

[2022-11-09 08:31] zj452008181 opened #1591 "can kk add new domain to kubeadm-config"
### Your current KubeKey version

2.2.0

### Describe this feature

i want to use a new domain to proxy my apiserver in a existing cluster，can i use kk to update this？

### Describe the solution you'd like

maybe we can use multi domain in kk config like this
`  controlPlaneEndpoint:
    ##Internal loadbalancer for apiservers
    internalLoadbalancer: haproxy
    domain: lb.kubesphere.local, api.j

[2022-11-09 08:37] 24sama commented on #1584
Hi @polarbear122 , kubesphere is deployed by [ks-installer](https://github.com/kubesphere/ks-installer), you need to develop that project.

[2022-11-09 08:43] 24sama commented on #1591
kk can't support that. You need to do it manually.

[2022-11-09 08:55] polarbear122 commented on #1584
Thank you,  I will have a look at ks-installer.

[2022-11-09 08:58] #1584 closed

[2022-11-09 11:37] willzhang opened #1592 "kk create cluster -y should not force ignore `conntrack socat` install"
### What is version of KubeKey has the issue?

v3.0.0

### What is your os environment?

ubuntu 22.04

### KubeKey config file

[code]

### A clear and concise description of what happend.

if user not install `conntrack socat`, kubekey should give error and stop install process although have `-y` option

[code]

### Relevant log output

[code]
[code]

[2022-11-09 12:01] willzhang commented on #1581
aliyun images should sync too.

## what's command
[code]
## error logs
[code]

[2022-11-09 14:36] willzhang opened #1593 "unrecognized feature gate: TTLAfterFinished"
### What is version of KubeKey has the issue?

v3.0.0

### What is your os environment?

ubuntu 22.04

### KubeKey config file
the commands i run
[code]

### A clear and concise description of what happend.

install failed with the follow logs
[code]

### Relevant log output

[code]

### Additional information

[code]
maybe clean up by v1.25.x
https://github.com/kubernetes/kubernetes/pull/109435

[2022-11-09 15:06] willzhang commented on #1593
can not be delete this way,too
[code]

[2022-11-10 03:21] 24sama commented on #1593
Thanks for the feedback @willzhang
I create a PR to fix this bug, PTAL https://github.com/kubesphere/kubekey/pull/1594

[2022-11-10 03:32] #1592 closed

[2022-11-10 03:32] #1593 closed

[2022-11-10 03:47] willzhang commented on #1593
hi , but can i get the latest binary for kk ?

![image](https://user-images.githubusercontent.com/33590311/200996044-6767bdb9-4924-4cbc-803f-ddf520e652ca.png)

[2022-11-10 04:32] 24sama commented on #1593
Hi @willzhang, at present, you can use `make kk` to build the source code, or wait for version v3.0.1-alpha.0 (we will release it as soon as possible)。

[2022-11-10 04:54] willzhang commented on #1593
i have try ,and run cluster success, thanks.
https://github.com/kubesphere/kubekey/blob/master/docs/developer-guide.md

[2022-11-10 05:26] willzhang opened #1596 "env: ‘crictl’: No such file or directory: Process exited with status 127"
### What is version of KubeKey has the issue?

v3.0.0

### What is your os environment?

ubuntu 22.04

### KubeKey config file

[code]

### A clear and concise description of what happend.
[code]
### Relevant log output

_No response_

### Additional information

_No response_

[2022-11-10 05:48] 24sama commented on #1596
KK only installs docker and containerd. And as for cri-o or isula, kk only sets up the kubelet cri-socket to connect them but they need to install manually.

If you can ensure you are already installed the cri-o, you can use `--skip-pull-images` to ignore these errors.

[2022-11-10 06:02] willzhang commented on #1596
ok
https://github.com/kubesphere/kubekey/issues/1210

[2022-11-10 06:02] #1596 closed

[2022-11-10 06:04] 24sama commented on #1574
Hi @TaurusM, Is there any doc to say that?

[2022-11-10 06:07] 24sama commented on #1569
OK, I will close this issue, feel free to reopen it.

/close

[2022-11-10 06:07] #1569 closed

[2022-11-10 06:10] 24sama commented on #1546
Sorry to reply late.
If you just want to change a work node to control-plane node. You can delete it and then re-add it to the cluster.

[2022-11-10 07:00] 24sama commented on #1553
Hi @xiaods , I create a PR to print a warning log.

[2022-11-10 13:57] bfbz opened #1600 "kubekey安装1.25.3失败"
### What is version of KubeKey has the issue?

v3.0.0

### What is your os environment?

debian11

### KubeKey config file

[code]

### A clear and concise description of what happend.

./kk create cluster  -f config-k8s.yaml 报错

### Relevant log output

[code]

### Additional information

_No response_

[2022-11-11 03:16] bfbz commented on #1600
上面问题已经解决，是debian的hosts文件里面要加一条主机名的解析，不能用localhost，但是继续运行还是遇到了报错，如下：

`
[root@k8s-master-1-192-168-8-31:~/kubekey]# ./kk create cluster -f config-k8s.yaml --yes

 _   __      _          _   __
| | / /     | |        | | / /
| |/ / _   _| |__   ___| |/ /  ___ _   _
|    \| | | | '_ \ / _ \    \ / _ \ | | |
| |\  \ |_| | |_) |  __/ |\  \  __/ |_| |
\_| \_/\__,_|_.__/ \___\_| \_/\___|\__, |

[2022-11-11 04:22] 24sama commented on #1600
This maybe a bug in v3.0.0, see: #1581
You can try to use the latest version: https://github.com/kubesphere/kubekey/releases/tag/v3.0.1-alpha.0

[2022-11-11 04:54] bfbz commented on #1600
还是不行，错误如下：
[code]

kubelet 错误如下：
[code]

[2022-11-11 05:02] 24sama commented on #1600
Hi @bfbz , maybe you need to use `./kk delete cluster -f config.yaml` to clean the environment at first, and then re-create the cluster.

[2022-11-11 05:25] bfbz commented on #1600
我就是这样做的，每次先清理才会安装。
重点是不是kubelet的报错？
[code]

[2022-11-11 05:42] 24sama commented on #1600
Are you sure using the kk v3.0.1-alpha.0 and having a clean environment? I test it successfully using that kk.

[2022-11-11 05:50] bfbz commented on #1600
[code]

[2022-11-11 05:55] 24sama commented on #1600
I know that, you specify the feature gates in the config.yaml, please remove it.
<img width="816" alt="image" src="https://user-images.githubusercontent.com/43993589/201273190-e201ec6c-c6e4-447a-8a8b-7fd9aab27584.png">

[2022-11-11 06:03] bfbz commented on #1600
成功了，非常感谢。这个参数是根据配置示例配置，您可能需要在文档里备注下。

[code]

[2022-11-11 06:28] 24sama commented on #1600
Yeah, would you be interested in it? Welcome to create PR to fix that.

[2022-11-16 00:10] vinsonzou opened #1611 "CVE-2022-3162: Kubernetes Unauthorized read of Custom Resources"
### What is version of KubeKey has the issue?

3.0.0

### What is your os environment?

AlmaLinux 9.0

### KubeKey config file

_No response_

### A clear and concise description of what happend.

https://github.com/kubernetes/kubernetes/issues/113756

### Relevant log output

_No response_

### Additional information

_No response_

[2022-11-16 05:35] 24sama commented on #1611
Thanks for the feedback @vinsonzou ! And you can use kk v3.0.1, it supports the latest Kubernetes version (e.g. v1.25.4).

[2022-11-17 15:49] willzhang opened #1613 "PullImage from image service failed" err="rpc error: code = Unknown desc = failed to pull and unpack image"
### What is version of KubeKey has the issue?

root@ubuntu:~# kk version kk version: &version.Info{Major:"3", Minor:"0", GitVersion:"v3.0.1", GitCommit:"0fc2b4557b929276085b81e6840410258557f9f1", GitTreeState:"clean", BuildDate:"2022-11-16T04:55:19Z", GoVersion:"go1.19.2", Compiler:"gc", Platform:"linux/amd64"}

### What is your os environment?

ubuntu 22.04

### KubeKey config file

[code]
[code]

[2022-11-17 16:46] willzhang opened #1614 "custom script install crio Bash is empty"
### What is version of KubeKey has the issue?

v3.0.1

### What is your os environment?

ubuntu 22.04

### KubeKey config file

[code]

### A clear and concise description of what happend.

i want install crio use preInstall
[code]

and i put files at current dir
[code]

init-crio.sh
[code]

### Relevant log output

[code]

### Additional information

_No response_

[2022-11-18 01:23] 24sama commented on #1614
Maybe missing the quotes, Please try this:
[code]

[2022-11-18 01:57] willzhang commented on #1614
i have try , but same result
[code]

[2022-11-18 02:21] 24sama commented on #1614
Oh, I found it.
https://github.com/kubesphere/kubekey/blob/d0c8a9133683a1b0dca6b8c7fd9a3ca847b297ff/cmd/kk/apis/kubekey/v1alpha2/cluster_types.go#L89-L93

So the field needs to be:
[code]

[2022-11-18 02:29] willzhang commented on #1614
i must config Absolute path

[code]
[code]

[code]

[2022-11-18 02:46] 24sama commented on #1614
Looks like it needs to use the abs path at present.

[2022-11-18 02:50] willzhang commented on #1614
Thanks a lot anyway.

[2022-11-18 03:58] willzhang commented on #1210
here have a example and maybe help to this feature: https://github.com/kubesphere/kubekey/issues/1614#issue-1453659698
[code]

[2022-11-19 03:42] willzhang opened #1616 "kk artifact export killed"
### What is version of KubeKey has the issue?

v3.0.1

### What is your os environment?

ubuntu 22.04

### KubeKey config file

[code]

### A clear and concise description of what happend.

root@ubuntu:/data/kubekey/test# kk artifact export -m   manifest-v1.25.3-crio.yaml

 _   __      _          _   __
| | / /     | |        | | / /
| |/ / _   _| |__   ___| |/ /  ___ _   _
|    \| | | | '_ \ / _

[2022-11-19 04:09] willzhang commented on #1616
Cancelling the Harbor can be packed normally

[code]

[2022-11-20 01:32] elifish4 commented on #1613
me also

[2022-11-21 06:33] 24sama commented on #1613
Try to set up like this:
[code]

[2022-11-22 03:50] 24sama commented on #1611
/close

[2022-11-22 05:39] 24sama opened #1625 "ETCD backup script will delete other files when there is no space left on device"
### What is version of KubeKey has the issue?

v3.0.1, v2.3.0, v2.2.2, v2.1.1, v2.0.0, v1.2.1, v1.1.1, v1.0.1

### What is your os environment?

none

### KubeKey config file

_No response_

### A clear and concise description of what happend.

There is a very extreme case where the kk backup etcd script may erroneously delete `/` directory files when the node has no space to create directories (i

[2022-11-22 08:21] 24sama commented on #1581
done

[2022-11-22 08:21] 24sama commented on #1581
/close

[2022-11-22 08:22] #1581 closed

[2022-11-24 11:40] airufei opened #1629 "kk artifact export 执行异常"
### What is version of KubeKey has the issue?

2.1.0

### What is your os environment?

centos7

### KubeKey config file

_No response_

### A clear and concise description of what happend.

执行kk artifact export -m manifest-sample.yaml -o kubesphere.tar.gz 的时候，会访问本机22端口，但是ssh端口被改了，就会出现异常：

error: Pipeline[ArtifactExportPipeline] execute failed: Module[GreetingsModule] exec failed:
failed: [test-k8

[2022-11-24 11:49] jacobluo commented on #474
@eltonbfw you can set up a soft floder link to /var/lib/kubelet, like ln -s /data1/var/lib/kubelet /var/lib/kubelet

[2022-11-25 06:21] 24sama commented on #1629
The kk v2.1.0 version contains some useless checks. Try to use the latest version (v3.0.2).

[2022-11-25 06:22] 24sama commented on #1629
/close

Feel free to reopen it.

[2022-11-25 06:22] #1629 closed

[2022-11-26 08:11] jinwendaiya opened #1635 "kk推送镜像到harbor仓库故障"
### What is version of KubeKey has the issue?

kubekeyV3.0.2

### What is your os environment?

centos7.6

### KubeKey config file

[code]

### A clear and concise description of what happend.

在使用kubekey做离线部署的时候，使用kubekey init harbor ，但是harbor主页面无法访问，harbor-nginx一直在803重定向，
使用curl请求harbor地址状况如下：
![harbor-ningx故障](https://user-images.githubusercontent.com/30795466/204078708-251381aa-4573-4ed3-8906-

[2022-11-26 09:03] 24sama commented on #1635
Did you create the harbor project `kubesphereio`? Maybe you forget run the `create-project.sh`.

[2022-11-26 10:07] jinwendaiya commented on #1635
是的 故障时因为缺失了kubesphereio这个project😂，解决了push故障，但是在后续流程中出现了其他节点从仓库拉取镜像的时候失败问题，example：在master上面时拉取  docker pull dockerhub.kubekey.local/kubesphereio/pause:3.4.1
 Error response from daemon : unknown: artifact kubesphereio/pause:3.4.1   not found  具体如下图
![7eb71f44f606568c22e14559c9c909a](https://user-images.githubusercontent.com/30795466/204083227-1685af07-c885-4e2b-a774-0486ad731960.jpg)
push镜像都已经成功了，

[2022-11-26 10:24] jinwendaiya commented on #1635
sorry，我找到问题了。是由于打包的镜像不对导致的，上传的报时pause3.5，但是现在请求拉去的却是3.4.1，这是什么原因导致的？我需要重新封一下artifact的包吗

[2022-11-26 16:39] freemankevin opened #1636 "kk creates a cluster error. The tools that need to be installed have been installed, but an error is reported that they have not been installed."
### What is version of KubeKey has the issue?

v3.0.2

### What is your os environment?

Centos7.9

### KubeKey config file

_No response_

### A clear and concise description of what happend.

Obviously there is an installation saying that I have not installed it

![image](https://user-images.githubusercontent.com/71524776/204099216-1d581158-b6b6-43e0-95f1-2701ca3d1891.png)

### Relevant log outp

[2022-11-26 16:59] freemankevin commented on #1636
I found the reason, it should be that the auto-completion command was executed before。
My own local question, sorry.
[code]

[2022-11-26 17:44] freemankevin opened #1637 "Install default cluster is not available"
### What is version of KubeKey has the issue?

v3.0.2

### What is your os environment?

Centos7.9

### KubeKey config file

_No response_

### A clear and concise description of what happend.

Install default cluster is not available.
Why is it not copied from the local but /tmp ？

[code]
![image](https://user-images.githubusercontent.com/71524776/204101894-f2266515-bd21-4ff7-948d-f8bdf797884c.pn

[2022-11-27 03:04] willzhang commented on #1635
自己造config file 会让你非常痛苦，所以还是指定版本用kk在线装一个k8s，然后在已有集群生成集群配置文件，这个配置文件会告诉你支持的组件版本组合是啥。

[2022-11-27 03:23] jinwendaiya commented on #1635
如果没有其他解决方案的话，这倒是一个最后的办法，但是我在k8s这个依赖文件里面应该找到了我想要的，https://github.com/kubernetes/kubernetes/blob/v1.21.12/build/dependencies.yaml
感谢提供思路

[2022-11-27 05:27] 24sama commented on #1637
Please attention the error report by node1. And kk scp the binary from the work node local path to the remote node /tmp path, and then mv them to the final path.

[2022-11-27 05:31] 24sama commented on #1636
Ok

/close

[2022-11-27 05:31] #1636 closed

[2022-11-27 09:51] #1635 closed

[2022-11-29 03:14] ezcmd opened #1638 "新增集群节点时，建议只初始化新增节点"
### Your current KubeKey version

kk version: &version.Info{Major:"3", Minor:"0", GitVersion:"v3.0.1", GitCommit:"0fc2b4557b929276085b81e6840410258557f9f1", GitTreeState:"clean", BuildDate:"2022-11-16T04:55:19Z", GoVersion:"go1.19.2", Compiler:"gc", Platform:"linux/amd64"}

### Describe this feature

# 描述
为集群新增计算节点，发现整个 Pipeline 要在所有节点上执行，包括已经存在的节点；这种策略存在巨大隐患，甚至在关键时刻导致管理员束手无策；

# 思考1: 什么场景下使用添加节点的

[2022-11-29 03:27] calvinyv commented on #1638
还有一种场景，是从我们看到的一些大客户、大规模的情况，运维侧的管理人员希望变动是一致的，他们看到的都是标准的基础设施单元，如果只针对新增节点，那当集群规模达到上千，这期间累计 N 次集群扩容及配置变更，那对于他们管理侧是管理的极大风险

[2022-11-29 03:35] ezcmd commented on #1638
假如集群有 1000 台机器，现在要新增 50 台，为保证标准化基础设施，就要在 1000 台机器上再执行一遍；这显然不合适；

有两种解决办法：

1. 配置标准化由管理员确保一致性；
2. 把配置标准化动作从新增节点动作中抽离出来，作为独立功能；

[2022-11-29 03:41] rayzhou2017 commented on #1638
provide two optionss: only for additions or for all nodes, configured by the admin.

[2022-11-29 23:53] lbrigman124 opened #1639 "Documentation on adding different OS support"
### Your current KubeKey version

_No response_

### Describe this feature

There is little to no documentation on how to add a different OS to the list of supported OS versions.
I see AlmaLinux 9 was added.
I would like to contribute and understand how to add another OS.

### Describe the solution you'd like

A developer doc to describe the process of adding support for another OS version/distrib

[2022-11-30 08:18] 24sama commented on #1639
Sorry about that. We will add more doc later.

And for now, I think these 2 links maybe can help:
https://github.com/kubesphere/kubekey/tree/master/hack/gen-repository-iso
https://github.com/kubesphere/kubekey/pull/1470

[2022-11-30 12:34] mengzyou opened #1640 "kubekey do not work with KKZONE=cn"
### What is version of KubeKey has the issue?

kk version: &version.Info{Major:"3", Minor:"0", GitVersion:"v3.0.2", GitCommit:"1c395d22e75528d0a7d07c40e1af4830de265a23", GitTreeState:"clean", BuildDate:"2022-11-22T02:04:26Z", GoVersion:"go1.19.2", Compiler:"gc", Platform:"linux/amd64"}

### What is your os environment?

Ubuntu 20.04

### KubeKey config file

[code]

### A clear and concise descrip