[2020-04-29 14:33] zheng1 opened #1 "allinone install failed"
[code]

[2020-04-29 14:49] zheng1 opened #2 "Check the environment before installing docker"
[code]

Root cause:
[code]

[2020-04-30 01:53] zheng1 commented on #1
It can be improved like this:
- Prompt the user to execute the command `cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys`
-  execute the command in local without ssh like ansible

[2020-04-30 02:47] pixiake commented on #2
There is detailed output for each step, but I blocked the output for this step.

[2020-04-30 02:56] pixiake commented on #1
Yes, the program should automatically copy id_rsa.pub.

Ubuntu 18.04?

[2020-05-14 08:03] rayzhou2017 opened #7 "Weird download binaries"
I tried the lasted build kk and create cluster. The packages seem very weird.

![Screen Shot 2020-05-14 at 4 02 52 PM](https://user-images.githubusercontent.com/28859385/81908917-75456200-95fc-11ea-8a3d-8ccc1563e503.png)

[2020-05-14 08:12] rayzhou2017 opened #8 "failed on ubuntu 18.04"
**The error is:**

ERRO[16:06:41 CST] Failed to install docker: Failed to exec command: sudo -E /bin/sh -c "if [ -z $(which docker) ]; then curl https://kubernetes.pek3b.qingstor.com/tools/kubekey/docker-install.sh | sh && systemctl enable docker && echo ewogICJsb2ctb3B0cyI6IHsKICAgICJtYXgtc2l6ZSI6ICI1bSIsCiAgICAibWF4LWZpbGUiOiIzIgogIH0sCiAgImV4ZWMtb3B0cyI6IFsibmF0aXZlLmNncm91cGRyaXZlcj1zeXN0ZW1kI

[2020-05-14 08:28] rayzhou2017 opened #9 "Failed to install on ubuntu 18.04"
The error:

[wait-control-plane] Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests". This can take up to 4m0s
[kubelet-check] Initial timeout of 40s passed.
[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get http://loc

[2020-05-14 10:38] min-zh opened #10 "hyberKube & client of rbd&nfs&glusterfs"
Could hyberKube & client of rbd&nfs&glusterfs be supported by KK in the future ?

[2020-05-15 01:38] pixiake commented on #10
1. The hyperkube has been deprecated and removed，so no more support for it.
2. To avoid dependency issues, it is recommended to [install storage client](https://github.com/kubesphere/kubekey/blob/master/docs/storage-client.md) yourself.
3. The clients of controller-manager may need to build into the image.

[2020-05-15 08:48] pixiake commented on #7
https://github.com/kubesphere/kubekey/pull/12

[2020-05-16 04:29] pixiake commented on #8
Newly created ubuntu18.04 on the public cloud, its APT is occupied and it takes about ten minutes for it to work.
The following commands can be executed to check if the APT is occupied.
`ps -ef | grep apt`

[2020-05-16 04:57] rayzhou2017 commented on #9
verified

[2020-05-16 04:57] #9 closed

[2020-05-16 04:57] rayzhou2017 commented on #8
verified

[2020-05-16 04:57] #8 closed

[2020-05-16 04:58] rayzhou2017 commented on #7
verified

[2020-05-16 04:58] #7 closed

[2020-05-16 05:00] rayzhou2017 opened #14 "Ubuntu multi nodes install failed"
hosts:
  - {name: master1, address: 192.168.100.2, internalAddress: 192.168.100.2, user: ubuntu, password: xxxx}
  - {name: master2, address: 192.168.100.3, internalAddress: 192.168.100.3, user: ubuntu, password: xxxxx}
  - {name: master3, address: 192.168.100.4, internalAddress: 192.168.100.4, user: ubuntu, password: xxxxx}
  - {name: node1, address: 192.168.100.5, internalAddress: 192.168.100.5,

[2020-05-16 05:01] rayzhou2017 opened #15 "RHEL support"
Lots of large enterprises are using RHEL. So please support such OS.

[2020-05-16 07:17] pixiake commented on #14
This will only happen with ubuntu18.04. I have escalated execution permission, please try it again.

[2020-05-16 14:32] rayzhou2017 commented on #14
Still failed.

net.ipv4.ip_local_reserved_ports = 30000-32767
INFO[14:27:44 UTC] Installing docker ...
ERRO[14:27:49 UTC] Failed to install docker: Failed to exec command: sudo -E /bin/sh -c "if [ -z $(which docker) ]; then curl https://kubernetes.pek3b.qingstor.com/tools/kubekey/docker-install.sh | sh && systemctl enable docker && echo ewogICJsb2ctb3B0cyI6IHsKICAgICJtYXgtc2l6ZSI6ICI1bSIsCiAgICAib

[2020-05-16 16:52] pixiake commented on #15
Yes. It is supported if RHEL have getted a license.
I verified it on AWS.
![image](https://user-images.githubusercontent.com/22290449/82125445-906cc900-97d8-11ea-90ff-90405980c860.png)

[2020-05-17 01:02] pixiake commented on #14
Newly created ubuntu18.04 on the public cloud, its APT is occupied and it takes about ten minutes for it to work.
The following commands can be executed to check if the APT is occupied.
`ps -ef | grep apt`

[2020-05-17 02:45] rayzhou2017 commented on #14
verified

[2020-05-17 02:45] #14 closed

[2020-05-18 01:22] rayzhou2017 opened #23 "command completion support"
Like kubectl, it is better to provide such completion feature to users.

[2020-05-18 01:38] pixiake commented on #23
OK. This feature is in the plan.

[2020-05-20 03:44] rayzhou2017 opened #28 "config-sample storage doc"
Need a doc about how to create storage class for the common storage providers such as ceph, glusterfs, nfs, and the ones from famous cloud providers.

[2020-05-20 03:56] pixiake commented on #28
OK, I'm adding some storageclass. I'll add the relevant documentation when I'm done.

[2020-05-22 04:59] shaowenchen opened #33 "Install component support"
not only install K8s or KubeSphere，but install some components. It looks like.

[code]

/enhancement

[2020-05-25 04:59] rayzhou2017 opened #42 "need to judge if config-sample.yaml exists or not"
When using `./kk create config` to create a default sample file named `config-sample.yaml`, it's better to judge if such file already exists or not, and if so, ask user whether to overwrite it or abort.

[2020-05-25 05:03] pixiake commented on #42
yes, I will refine it.

[2020-05-25 08:44] pixiake commented on #42
Please try it again.

[2020-05-26 02:10] rayzhou2017 commented on #42
verified

[2020-05-26 02:10] #42 closed

[2020-05-26 09:17] rayzhou2017 commented on #15
verified

[2020-05-26 09:17] #15 closed

[2020-05-27 02:30] liuyp2018 opened #48 "kubekey test items"
**notes**:
1. Only the main test operation commands are given below. For other requirements and Recommendations, see https://github.com/kubesphere/kubekey

2. if you install with config file,you should modify the file config.yaml according to your environment

# **Allinone**
**reference guide：**
https://github.com/kubesphere/kubekey#allinone

**precondition：**
the Installer Excutable File has been

[2020-05-28 01:47] min-zh commented on #10
Nice~

[2020-05-28 01:47] #10 closed

[2020-05-29 16:03] FeynmanZhou opened #49 "Failed to install K8s in CentOs 7.6 on QingCloud"
See the failed logs:
[code]

[2020-05-30 01:47] FeynmanZhou commented on #49
Is this issue resolved by this [PR](https://github.com/kubesphere/kubekey/pull/50)?

[2020-05-30 02:16] pixiake commented on #49
@FeynmanZhou
No, you should execute `sudo -E /bin/sh -c "mkdir -p /etc/ssl/etcd/ssl && /bin/bash -x /tmp/kubekey/make-ssl-etcd.sh -f /tmp/kubekey/openssl.conf -d /etc/ssl/etcd/ssl"` in node 192.168.0.2 .

[2020-05-30 02:54] pixiake commented on #49
@FeynmanZhou
I think this issues is caused by that this machine is missing `openssl`.
You can execute` yum install openssl` to install openssl.
I will add it to requirements.

[2020-05-30 04:03] FeynmanZhou commented on #49
You are right, thanks

[2020-05-30 04:03] #49 closed

[2020-05-30 06:00] FeynmanZhou opened #52 "Failed to scale all-in-one to multi-node"
When I try to scale `all-in-one` to `multi-node`, it runs `Failed to exec command: sudo -E docker pull kubekey/kube-proxy:v1.17.6: Process exited with status 1 `.

Do I need to install docker on each node?

[code]
My config.yaml as follows:

[code]

[2020-05-30 06:20] pixiake commented on #52
These imags is in kubesphere‘s repository.
You need to create config.yaml by `./kk create config`.

[2020-05-31 02:35] FeynmanZhou commented on #52
Okay, it's resolved. I was misunderstood initially.

[2020-05-31 02:35] #52 closed

[2020-05-31 10:31] FeynmanZhou opened #54 "Failed to scale Muti-node(1 master 2 node) to HA (3 master, 3 node)"
The failed msg is as follows:

[code]

My current config-sample.yaml:

[code]

My previous config-sample.yaml:

[code]

[2020-05-31 10:59] pixiake commented on #54
Are you sure the port `6443` of loadbalancer is access ?

[2020-05-31 13:49] FeynmanZhou commented on #54
You are right, `6443` is not available in the firewall rule. Now it showing the successful installation, but there two Pods of kube-apiserver are `crashloopbackoff`, see their logs as follows:

[code]

[2020-05-31 15:41] pixiake commented on #54
`admin-ks-allinone.pem` ？
Did you change the hostname? You shouldn't replace `ks-allinone` with `node1`.
Kubernetes do not support hostname changes.

[2020-06-01 01:39] FeynmanZhou commented on #54
@pixiake Smart guy! everything is smooth except for the documentation. I will improve the doc ASAP.

[2020-06-01 01:39] #54 closed

[2020-06-02 02:21] rayzhou2017 opened #58 "improvement suggestion"
I found the deployment of ks-installer takes significant time. It would be better to pul flashing dots like ....... as the previous installer does so users know they should wait instead suspect it's dead.

INFO[10:12:33 CST] Deploying KubeSphere ...
[ks-allinone 192.168.100.2] MSG:
namespace/kubesphere-system created
configmap/ks-installer created
serviceaccount/ks-installer created
clusterrole.rb

[2020-06-02 02:33] rayzhou2017 opened #59 "minimal install shows logging and event search"
The minimal package should not include logging and event functions

<img width="487" alt="Screen Shot 2020-06-02 at 10 32 09 AM" src="https://user-images.githubusercontent.com/28859385/83473515-5845d580-a4bc-11ea-8e44-1e4a0a8cc12c.png">

[2020-06-02 02:37] pixiake commented on #58
Yes， this is waiting for the installation of kubesphere，i will add pre-download images and prompt.

[2020-06-02 04:06] FeynmanZhou opened #61 "Support graceful uninstallation for each component of KubeSphere"
Users are not clear to uninstall a single component of KubeSphere in their env, especially for ks-installer on existing Kubernetes. Please provide the script and guide for each component uninstallation.

[2020-06-03 08:45] rayzhou2017 commented on #58
I saw it is fixed, but why removed the final msg about the login info?
<img width="480" alt="Screen Shot 2020-06-03 at 4 44 40 PM" src="https://user-images.githubusercontent.com/28859385/83615869-ae4c7300-a5b9-11ea-9490-0cd424d1bd8f.png">

[2020-06-03 09:45] rayzhou2017 opened #63 "How to add multiple plugins"
For example, I want to create config file with several plugins. Is it like this one?
[code]

[2020-06-03 12:16] pixiake commented on #63
yes

[2020-06-03 15:05] pixiake commented on #63
When deploying multiple nodes, should the parameters of the kubesphere not be added to the configuration file, and instead deploy kubesphere by a special parameter `--with-kubesphere`，as in allinone mode?  Or support  custom manifests of kubesphere？

[2020-06-03 19:01] tingkai-zhang opened #64 "Provide a default all-in-one config file"
Hi, can you update the link for the example all-in-one config file in the READEME.
Currently, that link does not direct to a correct place:

https://github.com/kubesphere/kubekey/docs/config-example.md

[2020-06-04 02:28] rayzhou2017 commented on #63
not quite sure what you mean?

[2020-06-04 05:25] pixiake commented on #58
Login info was not removed.
The reason it doesn't show is that after waiting for a timeout,  the backend installation is still running and may be  the images is being downloaded.
Pre-download images  will be added.

[2020-06-04 05:34] pixiake commented on #64
OK，I will update the link.

The allinone mode is without a profile.
If you want to install a cluster by a specified profile, you can use `./kk create config` to create a profile.

[2020-06-04 11:48] rayzhou2017 opened #65 "config file should support ks version configuration"
Like supporting customizing K8s version, kk should support ks version customization in the file too.

[2020-06-04 12:25] rayzhou2017 commented on #63
I tried this one, and it generated the sc as below.
[code]

and the installer throws error: Default StorageClass was not found

[2020-06-04 12:46] pixiake commented on #63
Does it show default storageclass，when execute `kubectl get sc`?
![image](https://user-images.githubusercontent.com/22290449/83758073-05c70d80-a6a4-11ea-8ee3-408edf68ed3f.png)

Storage should be first：`./kk create config --add localVolume, kubesphere`

Or set `defaultStorageClass` to `localVolume`.
[code]

[2020-06-09 18:01] pixiake commented on #64
you can try to execute `./kk create cluster --with-kubernetes v1.18.3`

[2020-06-11 05:20] rayzhou2017 opened #70 "It's better to remove the blank lines in the ks config of the sample config file"
<img width="448" alt="Screen Shot 2020-06-11 at 1 17 40 PM" src="https://user-images.githubusercontent.com/28859385/84347864-34823e00-abe6-11ea-823f-2e87a5b8b2ee.png">

[2020-06-11 18:24] pixiake commented on #70
Done

[2020-06-18 02:08] aidocker opened #78 "allinone install Failed to find /etc/kubernetes/admin.conf"
OS: centos7.6

INFO[09:32:44 CST] Starting etcd cluster
[ks-allinone 192.168.1.101] MSG:
Configuration file will be created
INFO[09:32:45 CST] Refreshing etcd configuration
Waiting for etcd to start
INFO[09:32:51 CST] Get cluster status
[ks-allinone 192.168.1.101] MSG:
ls: 无法访问/etc/kubernetes/admin.conf: 没有那个文件或目录
WARN[09:32:51 CST] Task failed ...
WARN[09:32:51 CST] error: Failed to find /etc/kub

[2020-06-18 02:54] rayzhou2017 commented on #78
what installer are you using? Why throws Chiness message?

[2020-06-18 02:58] aidocker commented on #78
sorry,OS centos7.6 language chinese

[2020-06-18 03:03] pixiake commented on #78
You can change the language to English first.
We'll refine this place.

[2020-06-18 03:04] aidocker commented on #78
Thank you!

[2020-06-18 08:17] hyhy01 opened #79 "need a guild of offline installation"

[2020-06-18 08:45] hyhy01 opened #80 "all-in-one install failed on centos7.7"
I have installed sudo/curl/openssl/ebtables/socat/ipset/conntrack.
linux kernel 3.10,a clean enviroment without docker

exec
[code]
return

[code]

exec
`
kubectl logs -n kubesphere-system   ks-installer-847c9d85b9-qgkdv   -f
`
return
[code]
it has a same result after i delete the ks-installer pod.

exec
`
kubectl get po -A
`
return
[code]

[code]

[2020-06-18 12:03] rayzhou2017 commented on #80
It might the docker mirror issue as I encountered before. Type docker info to see the registry. /cc @pixiake Did you solve the problem?

[2020-06-18 12:30] pixiake commented on #80
You can try to update the image of ks-installer.
Before the official release of KubeSphere v3.0.0, it is recommended to change the imagePullPolicy of ks-installer to Always to use the newest image.

[2020-06-18 13:08] hyhy01 commented on #80
i found my docker has been installed.
[code]

[code]
4 weeks ago????

[2020-06-18 14:17] hyhy01 commented on #80
[code]
successed!
But where to find my password,P@88w0rd is unavailable

[2020-06-18 15:25] hyhy01 commented on #80
[code]

[2020-06-18 17:28] pixiake commented on #80
You can try to change `iam.kubesphere.io/password-encrypted` to "false".

[2020-06-18 18:19] #80 closed

[2020-06-19 03:29] rayzhou2017 opened #83 "allinone installed failed because of sc missing"
`./kk create cluster --with-kubernetes v1.18.3`  install failed. The error msg shows as below. But I think allinone should have localVolume as default.

TASK [preinstall : Stop if defaultStorageClass was not found] ******************
fatal: [localhost]: FAILED! => {
    "assertion": "\"(default)\" in default_storage_class_check.stdout",
    "changed": false,
    "evaluated_to": false,
    "msg": "

[2020-06-19 05:55] pixiake commented on #83
`./kk create cluster --with-kubernetes v1.18.3`
This command only used to deploy a kubernetes without storage plugin.

[2020-06-19 07:17] rayzhou2017 opened #84 "install msg refine"
`./kk create cluster` is to create a Kubernetes cluster only, but it shows "kubesphere" has been added to your repositories. This will confuse user.
![Screen Shot 2020-06-19 at 3 16 45 PM](https://user-images.githubusercontent.com/28859385/85107066-e43b5980-b23f-11ea-87d4-edc0460ae3d4.png)

[2020-06-19 10:23] pixiake commented on #84
ok，we‘ll refine it.

[2020-06-19 13:09] rayzhou2017 opened #86 "install result msg shows incorrect IP"
My machine is 192.168.100.3, but here shows 192.168.100.2
<img width="458" alt="Screen Shot 2020-06-19 at 9 09 17 PM" src="https://user-images.githubusercontent.com/28859385/85135736-2a5ce100-b271-11ea-8872-04ff1fe967c8.png">

[2020-06-20 00:55] rayzhou2017 commented on #86
My mistake. I messed up machines.

[2020-06-20 00:55] #86 closed

[2020-06-20 09:50] zackzhangkai opened #88 "kk cluster all-in-one install failed"
install allinone failed (CentOS Linux release 7.7.1908 (Core))

[code]
The caclio installed failed. Then I install calico  manually as the above command, it's also the same error.

The calico.yaml as follows:

[code]

[2020-06-20 14:09] zheng1 opened #89 "Parse with-kubesphere argument failed"
[code]

[2020-06-20 15:03] pixiake commented on #89
`--with-kubesphere` is bool type，`=` can't be used.

[2020-06-22 03:38] zheng1 commented on #89
[code]
In usage, this argument looks like a string.

[2020-06-22 09:52] Ma-Dan opened #91 "Monitoring installation pops etcd client key error, then prometheus can not find etcd secert"
Install KS on one node cluster using kk, with monitoring component selected.
During installation
![image](https://user-images.githubusercontent.com/38337958/85273889-c6286000-b4b0-11ea-8ecf-f639b1a337c4.png)
Then prometheus failed to start
![image](https://user-images.githubusercontent.com/38337958/85274025-f53ed180-b4b0-11ea-8abe-155a8818507f.png)

[2020-06-24 05:41] rayzhou2017 opened #93 "install timeout"
Is it network problem?

![Screen Shot 2020-06-24 at 1 39 48 PM](https://user-images.githubusercontent.com/28859385/85505168-4de0ac80-b620-11ea-8bb7-5226a1395cc7.png)

[2020-06-24 06:17] pixiake commented on #93
Yes, if the task takes longer than half an hour it will time out.

It is recommended to configure a mirror (accelerator)  for docker. But the latest image may not  be download.
https://docs.docker.com/registry/recipes/mirror/#configure-the-docker-daemon

[2020-06-24 10:45] zheng1 opened #94 "preflight check: check the iptables on the host match the iptables on the kube-proxy image"
Related issues:
https://github.com/kubernetes/kubernetes/issues/71305 https://github.com/kubernetes/kubernetes/issues/71305

/assign @duanjiong

[2020-06-27 13:44] rayzhou2017 opened #96 "Script for adding member cluster needed"
Please help @zryfish write a script to accomplish the following task so that users only need to execute the script to add a member cluster to host cluster. The doc is at https://github.com/kubesphere/community/tree/master/sig-multicluster/how-to-setup-multicluster-on-kubesphere
<img width="1087" alt="Screen Shot 2020-06-27 at 9 42 54 PM" src="https://user-images.githubusercontent.com/28859385/8592

[2020-06-27 16:28] pixiake commented on #96
@zryfish Can the configuration of multicluster be saved individually to a configmap using key-value type?

[2020-06-30 01:48] zackzhangkai opened #100 "Installer failed due to network"
When network is not very good, the installation may interrupt and exit.Maybe a retry is needed.
[code]

[2020-06-30 02:17] zackzhangkai opened #101 "Install failed about binary sha256 not match"
[code]

[2020-06-30 02:51] pixiake commented on #101
`SHA256 no match`
Remove  the directory which named `kubekey`, and try it again.

[2020-06-30 02:57] zackzhangkai commented on #101
It do works.

[2020-06-30 02:57] #101 closed

[2020-06-30 02:57] pixiake commented on #100
`retry` were scheduled.

[2020-07-01 03:04] lxm opened #103 "can not install a cluster with multicluster enable = true"
can not install a cluster with multicluster enable = true

[2020-07-01 03:55] pixiake commented on #103
1. install host cluster
[code]
2. install member cluster
[code]
3. Import member cluster's kubeconfig in Console

[2020-07-01 07:32] lxm commented on #103
sloved

[code]
change multicluster config in the yaml file

[code]

[2020-07-01 07:33] #103 closed

[2020-07-01 11:00] lxm opened #104 "failed to deploy on ubuntu 18.04"
W0701 10:55:19.069649   17684 configset.go:202] WARNING: kubeadm cannot validate component configs for API groups [kubelet.config.k8s.io kubeproxy.config.k8s.io]
kubeadm join lb.kubesphere.local:6443 --token ays4v3.9exhj40g2ljmvg0d     --discovery-token-ca-cert-hash sha256:1472bc2f7147084b12a3e0aed32483187ac302d9e7ae82f1c1fc23ac284d7b2e
[ks-node1 68.79.24.116] MSG:
NAME       STATUS     ROLES

[2020-07-01 11:05] pixiake commented on #104
`Failed to read calico manifests: exit status 64 node=68.79.24.116`

Does `./kubekey/calico.yaml` exist?

[2020-07-01 11:30] lxm commented on #104
file exists

[2020-07-01 11:40] lxm commented on #104
[code]

code above cannot run under macos
i'll try anthoer system

[2020-07-01 11:47] pixiake commented on #104
It could be a file permissions issue.
What‘s the user in config?
What’s the user for executing？

[2020-07-01 12:52] lxm commented on #104
seems like `tar` and `base64` commands were ran locally
and my local os is macos
args may different from linux
I have moved kk to linux system and redo the install with the same config file , it works well

[2020-07-01 13:19] pixiake commented on #104
Yes，this command was ran locally.
MAC is not currently supported.

[2020-07-01 16:04] FeynmanZhou opened #105 "External ES configuration fields are missing in kubekey"
I don't see these two fields in kubekey:

[code]

[2020-07-01 16:15] FeynmanZhou opened #106 "Output the total length of the installation process in the log."
This is useful for users to know the duration of the installation process.

[2020-07-02 04:56] rayzhou2017 opened #109 "More K8s versions support"
I tried 1.18.5, 1.17.8, 1.16.12. All threw the following error.
<img width="907" alt="Screen Shot 2020-07-02 at 12 53 33 PM" src="https://user-images.githubusercontent.com/28859385/86317903-2b274700-bc63-11ea-9982-c8df4e7ebb2d.png">

[2020-07-02 05:02] rayzhou2017 opened #110 "provide -y"
Users may have devops requirement for automation testing. It is better to provide such command ./kk create cluster -f xxxx.yaml `-y` so that the command will continue installing without manually typing yes

[2020-07-02 06:46] lxm opened #111 "install failed with latest version"
git version
[code]

install finished with no error,but pods not in running status

[code]

[code]

[2020-07-02 07:21] pixiake commented on #111
`kubectl describe pod -n kubesphere-system ks-installer-5b988669b9-kml65`

[2020-07-02 07:22] #100 closed

[2020-07-02 07:25] lxm commented on #111
kubectl describe pod -n kubesphere-system ks-installer-5b988669b9-kml65

[code]

[2020-07-02 07:33] pixiake commented on #111
https://github.com/kubesphere/kubekey/issues/93

Image downloading is too slow.

[2020-07-02 07:40] zackzhangkai opened #112 "go build failed"
use `build.sh` failed
[code]

Just go build , also failed:
[code]

In China local:

[code]

[2020-07-02 08:04] lxm commented on #111
take a long time before cluster get ready, may be a status `cluster is starting up` will help

[2020-07-02 08:08] rayzhou2017 commented on #109
also got 1.15.10 not supported. What is the list of supported versions? I thought it would be 1.15.x ~ 1.18.x including the future versions among 1.15 ~ 1.18.

[2020-07-02 08:21] pixiake commented on #109
To avoid installation failures due to problems downloading binaries, sha256 checksums need to be added to the supported versions.

https://github.com/kubesphere/kubekey/blob/3ea8c4103d30efddded3a51bd1d2172bcfdbfb95/pkg/files/file.go#L38

[2020-07-02 08:25] #109 closed

[2020-07-02 09:20] zackzhangkai commented on #112
go version should be go-1.14

[2020-07-02 09:20] #112 closed

[2020-07-02 11:13] FeynmanZhou opened #115 "failed to install ks+k8s v1.18.5 using binary"
I build the binary from the kubekey Git repo, but it reminds the installation errors as follows:

[code]

[2020-07-02 11:21] FeynmanZhou commented on #115
cat config-sample.yaml

[code]

[2020-07-02 11:23] pixiake commented on #115
1. Looks like you're still using the old one.
2. You can download the latest binary now.

[2020-07-02 11:55] #111 closed

[2020-07-03 03:26] rayzhou2017 opened #116 "No SHA256 found for v1.17.7. v1.17.7 is not supported."
kk won't support the X.X.(older than current latest-version)?

[2020-07-03 06:11] rayzhou2017 opened #117 "Scaling member cluster removes the cluster configuration"
I scale a member cluster from allinone to two-node cluster. The clusterRole becomes `none`. The host still shows the member but can't go into the cluster and keep logging the host console out.

[2020-07-03 06:21] rayzhou2017 commented on #117
Also the openebs seems crash.
<img width="904" alt="Screen Shot 2020-07-03 at 2 20 32 PM" src="https://user-images.githubusercontent.com/28859385/86438077-6cd5f180-bd38-11ea-8512-0f01b8e1056e.png">

[2020-07-03 14:20] zackzhangkai opened #118 "install mino failed and the message is not correct"
[code]
message is not correct, for it's helm3 now.
[code]

[2020-07-03 14:24] #88 closed

[2020-07-03 15:03] zackzhangkai commented on #118
mino always install failed. After purge it and retry,  also failed.
[code]

[2020-07-04 12:02] huanggze opened #119 "bash: _get_comp_words_by_ref: command not found"
Failed to enable kubectl autocompletion:

bash: _get_comp_words_by_ref: command not found

[2020-07-04 12:03] huanggze commented on #119
/assign @pixiake
/kind bug

[2020-07-04 12:03] huanggze commented on #119
/milestone 3.0.0

[2020-07-04 12:04] huanggze commented on #119
/milestone 3.0

[2020-07-04 12:11] pixiake commented on #119
KubeKey does not provide auto-complete.
If you want to enable kubectl autocompletion，please refer to https://kubernetes.io/docs/tasks/tools/install-kubectl/#enabling-shell-autocompletion.

[2020-07-04 14:01] pixiake commented on #116
Any version that be added a sha256 checksum is supported.
Currently Supported Versions:
https://github.com/kubesphere/kubekey#kubernetes-versions

[2020-07-04 15:56] pixiake commented on #117
Install and scale had been separated，please try again.

[2020-07-05 08:14] zackzhangkai opened #122 "kk scale master failed"
I have a cluster with node1(master) and node2(worker). Now I want scale a  master(node3) , it failed.

[code]
Sucessed when use the raw api:
[code]

The configfile as follows:
[code]

[2020-07-05 12:08] rayzhou2017 commented on #117
verified

[2020-07-05 12:08] #117 closed

[2020-07-05 13:18] #104 closed

[2020-07-05 14:39] huanggze opened #123 "Ingress controller wasn't installed"
![image](https://user-images.githubusercontent.com/22350668/86535103-626e5000-bf10-11ea-8602-dbf8d4647fd9.png)

[2020-07-05 14:40] huanggze commented on #123
/kind bug
/assign @pixiake
/milestone 3.0.0

[2020-07-05 15:06] #123 closed

[2020-07-06 11:01] wanminny opened #125 "unable validate kubesphere endpoint, non-200 response returned from endpoint"
in the same network eg : 10.5.x.xx
and on the kube-sphere master can ping ip ok ; and  telnet this ip:6443 is ok
but unable validate kubesphere endpoint, non-200 response returned from endpoint.
thx

[2020-07-06 11:03] wanminny commented on #125
this ip is that i want to add cluster's  server: https://ip:6443

[2020-07-07 02:56] rayzhou2017 opened #127 "Reinstall multi-node failed"
Delete cluster using  ./kk delete cluster. Then reinstall and failed
<img width="1217" alt="Screen Shot 2020-07-07 at 10 54 10 AM" src="https://user-images.githubusercontent.com/28859385/86696843-6ac5a880-c040-11ea-906f-2c59d9e2e49c.png">

[2020-07-07 03:00] yuswift opened #128 "Create cluster failed when using iterm2 on mac"
./kk create cluster
FATA[0000] Failed to generate public key: exit status 1
It will happen when use iterm2 on mac. However, it will not happen when using linux.

[2020-07-07 03:20] yuswift commented on #128
use sudo su instead of sudo bash can solve this problem

[2020-07-07 03:20] #128 closed

[2020-07-07 03:42] pixiake commented on #127
You can try  `./kk delete cluster` again.
This should be a coincidence. Let's check.

[2020-07-07 03:43] pixiake commented on #125
Is there a firewall between machines?

[2020-07-07 03:56] rayzhou2017 commented on #127
I think I know what is the root cause. It is a multi-node cluster, so I need to use `./kk delete cluster -f config.yaml`. The `./kk delete cluster` only cleans the local machine. Is it still a bug?

[2020-07-07 04:42] pixiake commented on #127
remove multi-nodes need  to specify configuration file.
https://github.com/kubesphere/kubekey#delete-cluster

[2020-07-07 12:52] wanminny commented on #125
in the same network eg : 10.5.x.xx
and on the kube-sphere master can ping ip ok ; and telnet this ip:6443 is ok

[2020-07-08 03:31] rayzhou2017 commented on #110
verified

[2020-07-08 03:31] #110 closed

[2020-07-08 03:31] #127 closed

[2020-07-08 05:38] pixiake commented on #125
If you want to access the cluster using `ip:6443`, this ip should be included in the kube-apiserver's certificate.

[2020-07-08 06:16] hawking-lab opened #133 "install error when use nfs storageClass"
[node1 10.57.200.183] MSG:
podsecuritypolicy.policy/psp.flannel.unprivileged configured
clusterrole.rbac.authorization.k8s.io/flannel unchanged
clusterrolebinding.rbac.authorization.k8s.io/flannel unchanged
serviceaccount/flannel unchanged
configmap/kube-flannel-cfg unchanged
daemonset.apps/kube-flannel-ds-amd64 unchanged
daemonset.apps/kube-flannel-ds-arm64 unchanged
daemonset.apps/kube-flannel-d

[2020-07-08 06:17] hawking-lab opened #134 "calico network plugin status unavailable"
Warning  Unhealthy  102s  kubelet, node1     Readiness probe failed: 2020-07-08 05:42:57.392 [INFO][226] confd/health.go 177: Number of node(s) with BGP peering established = 0
calico/node is not ready: BIRD is not ready: BGP not established with 172.17.0.1
  Warning  Unhealthy  92s  kubelet, node1  Readiness probe failed: 2020-07-08 05:43:07.377 [INFO][266] confd/health.go 177: Number of node(s)

[2020-07-08 06:22] hawking-lab opened #135 "How to install behind with Proxy"

[2020-07-08 09:45] pixiake commented on #134
https://stackoverflow.com/questions/54465963/calico-node-is-not-ready-bird-is-not-ready-bgp-not-established

[2020-07-08 09:47] pixiake commented on #133
You can try to build binary from the latest source code，and try again.

[2020-07-08 09:50] pixiake commented on #135
You can configure docker to use a proxy server, refer to:
https://docs.docker.com/network/proxy/

[2020-07-10 09:52] wanminny commented on #125
how to do ?

[2020-07-11 09:39] liaoyinfeng opened #143 "enable kube-proxy masquerade as kube-key installation parameters"
In some scenarios, kube-proxy IP address masquerading function needs to be enabled. Suggest add this parameter to kube-key installation parameters .

[2020-07-11 13:52] zheng1 commented on #143
/assign @duanjiong
/assign @pixiake

[2020-07-11 14:04] duanjiong commented on #143
also  need to sort out the other parameters
https://kubernetes.io/zh/docs/reference/command-line-tools-reference/kube-proxy/

[2020-07-12 09:59] #143 closed

[2020-07-12 10:19] tscswcn opened #146 "calico-kube-controllers CrashLoopBackOff"
kubectl logs  calico-kube-controllers-77d6cbc65f-wdjrg  -n kube-system
2020-07-12 10:16:26.143 [INFO][1] main.go 88: Loaded configuration from environment config=&config.Config{LogLevel:"info", WorkloadEndpointWorkers:1, ProfileWorkers:1, PolicyWorkers:1, NodeWorkers:1, Kubeconfig:"", DatastoreType:"kubernetes"}
W0712 10:16:26.145282       1 client_config.go:541] Neither --kubeconfig nor --master

[2020-07-13 03:30] rayzhou2017 opened #147 "ClusterConfiguration file info"
I installed a minimal environment, so it is using localVolume as storage class. But using `kubectl get cc ks-installer -n kubesphere-system -o yaml` I found the sc is empty.

<img width="243" alt="Screen Shot 2020-07-13 at 11 25 31 AM" src="https://user-images.githubusercontent.com/28859385/87268144-3fd5cb80-c4fc-11ea-9c55-b702a65deb30.png">

[2020-07-13 04:53] pixiake commented on #147
Yes,  `storageClass` is empty means the `default` storage class is used. The specified storage class name was not filled in config during installation.

[2020-07-13 05:02] pixiake commented on #146
`dial tcp 10.233.0.1:443: connect: no route to host`

Whether the machine has a firewall turned on？

[2020-07-13 06:51] tscswcn opened #148 "kubekey has one issue"
kubekey  has one issue
if we use kk to install k8s cluster, if  failed,    but someaction has been taken , we need to rollback these action, otherwise, kk will report he issue.

For examples,  kubelet has been started and taken port, etc.

[2020-07-13 06:52] tscswcn opened #149 "kubekey has one issue"
kubekey  has one issue
if we use kk to install k8s cluster, if  failed,    but someaction has been taken , we need to rollback these action, otherwise, kk will report he issue.

For examples,  kubelet has been started and taken port, etc.

[2020-07-13 06:53] tscswcn opened #150 "kubekey has one issue"
kubekey  has one issue
if we use kk to install k8s cluster, if  failed,    but someaction has been taken , we need to rollback these action, otherwise, kk will report he issue.

For examples,  kubelet has been started and taken port, etc.

[2020-07-13 08:50] seal82 opened #151 "allinone install failed"
ubuntu:16.04
使用root用户就没事儿，使用非root用户就会出现如下问题，手动`ssh root@192.168.1.202`也没问题，是可以通过密码连接的
。而且使用root用户执行`sudo ./kk create cluster --with-kubernetes v1.17.8 --with-kubesphere v3.0.0`安装程序后，再切到非root用户，执行该命令，就没有如下关于公钥的报错了。是否是必须使用root用户呢？如果不是必须root用户，那请问是什么原因？
[code]

在`/etc/ssh/sshd_config`文件中，相关设置如下
[code]

[2020-07-13 11:35] pixiake commented on #148
Yes, if it fails due to some problem, it is better to exectue `./kk delete ...` after fixing the problem.

[2020-07-13 11:38] #149 closed

[2020-07-13 11:38] #150 closed

[2020-07-13 11:42] pixiake commented on #151
`root` must be used, if you wish to install a allinone.

[2020-07-16 08:13] #119 closed

[2020-07-18 08:23] huanggze opened #155 "Error when rerun kk after kill it at the first installation"
![image](https://user-images.githubusercontent.com/22350668/87848427-faa60500-c912-11ea-9c4d-28029f9000a7.png)

[2020-07-18 08:24] huanggze commented on #155
/kind bug
/assign @pixiake
/milestone 3.0.0

[2020-07-18 09:48] pixiake commented on #155
You need to remove the downloaded files from the kubekey folder.

[2020-07-20 01:49] xiaoFine opened #157 "Deployments and services left after remove applicaton"
I deploy the sample application bookinfo and then try to remove it. However, all the resources remain after i remove the application, including deplotments, services, router, .etc.
Am i supposed to remove those resources mannually?

[2020-07-20 14:40] yanyan45 commented on #146
@pixiake I had the same issue. It was fixed by turned off the firewall.

[2020-07-21 02:12] huanggze opened #159 "Kubekey with k8s only doesn't include openebs"
In README, it says KubeKey will install OpenEBS. But actucally not.

[code]

[2020-07-21 02:12] huanggze commented on #159
/assign @pixiake

[2020-07-21 02:17] FeynmanZhou commented on #157
v3.0.0?

[2020-07-21 04:12] #134 closed

[2020-07-21 04:13] #135 closed

[2020-07-21 08:26] hawking-lab commented on #133
I found the reason, because nfs-provisioner uses the helm scheme for installation, but the helm command does not configure the agent. Can the installation of nfs-provisioner be replaced with offline installation using yaml files?
![image](https://user-images.githubusercontent.com/47567011/88031272-ec542500-cb6e-11ea-9e4e-fe9a28ab4179.png)

[2020-07-21 08:52] hawking-lab opened #160 "kubernetes: version: v1.18.6 install error"
W0721 16:51:16.818350   29477 utils.go:26] The recommended value for "clusterDNS" in "KubeletConfiguration" is: [10.233.0.10]; the provided value is: [169.254.25.10]
W0721 16:51:16.818510   29477 configset.go:202] WARNING: kubeadm cannot validate component configs for API groups [kubelet.config.k8s.io kubeproxy.config.k8s.io]
[init] Using Kubernetes version: v1.18.6
[preflight] Running pre-flight

[2020-07-21 09:04] hawking-lab commented on #160
./kk create cluster -f sample.yaml
+------------------------+------+------+---------+----------+-------+-------+-----------+--------+------------+-------------+------------------+--------------+
| name                   | sudo | curl | openssl | ebtables | socat | ipset | conntrack | docker | nfs client | ceph client | glusterfs client | time         |
+------------------------+------+------+-----

[2020-07-21 09:31] hawking-lab opened #161 "How to used flannel CNI"
![image](https://user-images.githubusercontent.com/47567011/88037646-c717e480-cb77-11ea-8c33-12c67c98a5c3.png)

Use the specified configuration file before installation and modify it to "flannel" network plug-in, but after installation, check that the network plug-in is calico

[2020-07-21 10:51] yuswift opened #162 "Docs for master lb"
Kubekey sets firsr master node as kubeconfig server. However, when master1 is unavailable, all master and worker nodes will be not ready, because kubelet will connect apiserver with kubeconfig.
Need docs for creating loadbalance for master before create cluster.

[2020-07-21 10:53] hawking-lab commented on #161
I re-tested it. When using `./kk create config` get generated configuration file does not take effect, and the sample file in docs can be installed as flannel.

Docs Sample config
[code]
 generated configuration
[code]

[2020-07-21 11:31] rayzhou2017 commented on #160
for versions 1.18.x, you need to install conntrack, socat, ipset, ebtables by yourself which are required by K8s.

[2020-07-21 11:35] rayzhou2017 commented on #157
already fixed  https://github.com/kubesphere/kubesphere/issues/2424

[2020-07-21 11:35] #151 closed

[2020-07-21 11:36] #96 closed

[2020-07-21 11:37] #84 closed

[2020-07-21 11:37] #70 closed

[2020-07-21 11:38] #64 closed

[2020-07-21 11:38] #65 closed

[2020-07-21 11:39] #116 closed

[2020-07-21 11:39] #115 closed

[2020-07-21 13:24] pixiake commented on #161
1. Is there a file which named `network-plugin.yaml` in the `kubekey` directory?  If you want to change network plugin, please remove it.
2. Of course, if you want to use a network plugin other than `calico` or `flannel`, you can name its manifest `network-plugin.yaml`and put it in the `kubekey` folder, such as, `weave` `cilium` and so on.

[2020-07-22 10:31] #160 closed

[2020-07-23 02:52] #159 closed

[2020-07-23 03:50] WaysonWei commented on #157
The application deployed from app store can be deleted successfully now, but the Composing App we created was not, only showing deleted from console, not from kubernetes. The reason why bookinfo demo is not deleted could be related to this issue as it is under composing app categories.

![Screen Shot 2020-07-23 at 3 44 15 PM](https://user-images.githubusercontent.com/54336863/88250614-34548280-ccf

[2020-07-24 02:53] liuyp2018 opened #164 "rbd storage type installation failed"
Install KS using Kubekey, set the storage type to RBD,
An error occurred during installation
<img width="943" alt="kubekey" src="https://user-images.githubusercontent.com/36271543/88356916-0b83ca00-cd9c-11ea-9aac-6dc6966d928c.png">

[2020-07-24 03:03] #164 closed

[2020-07-25 00:45] rayzhou2017 opened #166 "A proposal for kk"
I would like to reinstall KubeSphere on K8s for testing. So I think the following utilities will be helpful.

[code]

[2020-07-25 10:20] calvinyv opened #167 "FEAT: allow to configure ipvs/iptalbes mode"

[2020-07-27 01:32] rayzhou2017 commented on #166
这样可能更好一些
[code]

[2020-07-27 01:48] pixiake commented on #166
ok，we'll do it later.

[2020-07-27 02:21] #167 closed

[2020-07-27 13:12] liaoyinfeng opened #171 "How to integrate qingcloud lb and block storage when deploying kubesphere 3.0 by kk ?"

[2020-07-28 09:18] rayzhou2017 opened #173 "Make es configurable when installing ks"
Current config yaml only uses built-in es. It is highly possible for enterprise customers to configure it to user external es. So provide such configuration in the lnstallation config file.

[2020-07-28 11:22] benjaminhuo commented on #173
[config-example.md](https://github.com/kubesphere/kubekey/blob/master/docs/config-example.md)  this config-example doc is too old to reflect current changes: the es config has been moved from logging to common by [this PR](https://github.com/kubesphere/ks-installer/pull/904/commits/b7ac9240441224b575bba29425c46d58746b1a31).

We may need to adjust cc or this doc accordingly .

There're already exte

[2020-07-29 06:04] calvinyv opened #174 "FEAT: upgrade to flannel 0.12.0"

[2020-07-29 06:04] calvinyv commented on #174
/assign @pixiake @Forest-L

[2020-07-29 06:05] calvinyv commented on #174
/kind feature-request

[2020-07-29 06:17] hawking-lab opened #175 "use kk delete cluster error"
[root@localhost data]# curl -O -k https://kubernetes.pek3b.qingstor.com/tools/kubekey/kk
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 41.0M  100 41.0M    0     0   987k      0  0:00:42  0:00:42 --:--:-- 1039k
[root@localhost data]# chmod +x kk
[root@localhost data]# ./kk create conf

[2020-07-29 08:31] pixiake commented on #175
Something wrong with the format of the configuration file `demo.yaml`?

[2020-07-29 08:41] hawking-lab commented on #175
I found that reason, can't run 'delete cluster ' common first.

[2020-07-29 08:41] #175 closed

[2020-07-31 09:57] #122 closed

[2020-07-31 09:57] #118 closed

[2020-08-01 15:03] FeynmanZhou opened #181 "Failed to scale the all-in-one to HA cluster"
My config file:

[code]

After I execute the command `./kk scale -f config-sample.yaml`, it returns:

[code]

Any errors in line 7?

[2020-08-02 00:30] rayzhou2017 commented on #181
you omit master1?

[2020-08-02 01:06] FeynmanZhou commented on #181
I was upgraded from quickstart (`all-in-one`) to HA. So the initial node `ks-allinone` should be the master1 from my opinion.

[2020-08-02 01:08] FeynmanZhou commented on #181
After execute kk scale at the second time, I got the error message as follows:

[code]

[2020-08-02 01:24] rayzhou2017 commented on #171
So far, using kk to install K8s first, then using https://github.com/kubesphere/helm-charts/tree/master/src/test/csi-qingcloud#installing to install qingcloud csi, then using github.com/kubesphere/ks-installer to deploy KubeSphere

[2020-08-02 01:47] pixiake commented on #181
Are you sure the loadbalancer is working properly?

[2020-08-02 02:02] FeynmanZhou commented on #181
@pixiake The LB looks active:

![image](https://user-images.githubusercontent.com/40452856/89113725-301c2800-d4a7-11ea-9943-ed5e48b024a7.png)

[2020-08-02 04:26] pixiake commented on #181
`curl -k https://{ LBip }:6443`

[2020-08-02 04:42] FeynmanZhou commented on #181
You are right, I forgot firewall configuration for 6443.

[2020-08-02 04:49] FeynmanZhou commented on #181
Solved, it was caused by the firewall, do not forget to open port `6443` for LoadBalancer in firewall rules. Thanks @pixiake !

[2020-08-02 04:49] #181 closed

[2020-08-02 13:39] FeynmanZhou commented on #171
The loadbalancer parameter is included in `config-sample.yaml`, you can find it [here](https://github.com/kubesphere/kubekey/blob/master/docs/config-example.md)

[2020-08-03 01:42] #174 closed

[2020-08-03 06:14] wuxiangping opened #183 "The terminal keyboard in the container cannot be used"
KubeSphere 2.1 and KubeSphere 3.0
The container terminal keyboard arrow keys, home end insert delete key cannot be used.
The tab key also cannot be used
![20200803141612](https://user-images.githubusercontent.com/9893160/89151673-0ee53580-d594-11ea-852c-850592b2ca22.png)

[2020-08-03 06:28] pixiake commented on #183
What browser are you using?
Is it used through remote desktop?

[2020-08-03 07:00] wuxiangping commented on #183
browser

[2020-08-03 07:02] pixiake commented on #183
@wuxiangping
What browser are you using?

[2020-08-03 07:08] leoendless commented on #183
Try exec `bash` in the terminal.

[2020-08-03 07:08] leoendless commented on #183
The container image might use `sh` as default start command.

[2020-08-03 07:11] wuxiangping commented on #183
bash is ok !

[2020-08-04 09:01] FeynmanZhou opened #188 "Display the time and duration of successful installation"
- [ ] To help users to clearly confirm the installation, it would be better to display the **time and duration** of successful installation  on the final page:

![image](https://user-images.githubusercontent.com/40452856/89274871-17ad3880-d674-11ea-8514-9188de625790.png)

[2020-08-05 04:17] pixiake commented on #188
https://github.com/kubesphere/ks-installer/pull/1007

[2020-08-05 05:44] FeynmanZhou commented on #188
Thanks

[2020-08-05 05:44] #188 closed

[2020-08-05 08:55] Forest-L opened #190 "kube-apiserver, kube-scheduler and kube-controller-manager static pod memory resource limits"

[2020-08-06 03:35] #190 closed

[2020-08-06 03:37] #183 closed

[2020-08-06 03:39] Forest-L commented on #161
/kind need-to-verify

[2020-08-06 03:42] Forest-L commented on #171
/kind need-to-verify

[2020-08-06 04:14] Forest-L opened #193 "Delete nodes through kk"

[2020-08-06 06:23] Forest-L commented on #193
/assign @Forest-L

[2020-08-10 08:41] #155 closed

[2020-08-12 07:43] HeathKang opened #200 "E: Version '' for 'docker-ce' was not found"
# issue:
I used `Ubuntu 20.04` and can't install docker-ce and show these messages:
[code]
# research
I do a little research for this and find this: https://github.com/kubesphere/kubekey/blob/d12ad37ef41028721b8a0aa701390853b818af4f/scripts/docker-install.sh#L317
Then I run `apt-cache madison docker-ce` show these:
[code]
Maybe there were no docker-ce 19.03.8 in **ubuntu -focal-20.04**.

[2020-08-12 12:10] FeynmanZhou commented on #200
You can install Docker yourself, and ubuntu 20.04 is not officially supported in the [list](https://github.com/kubesphere/kubekey#linux-distributions)

[2020-08-13 09:01] HeathKang commented on #200
changed Ubuntu to 18.04 finally

[2020-08-13 09:01] #200 closed

[2020-08-13 09:02] HeathKang opened #203 "redis-ha can't installed"
## issues
like this:
[code]

[2020-08-13 09:03] HeathKang commented on #203
I have done a little research, maybe coredns issue?

[2020-08-13 13:43] pixiake commented on #203
Are all network and dns components of the cluster working properly? such as calico, coredns, nodelocaldns

[2020-08-13 14:29] pixiake opened #204 "support for customizing plugins"
I think KubeKey should provide a way to support the installation of custom plugins, such as some storage plugins.

I think it is possible to provide custom configurations in the config file.

[code]

[2020-08-13 14:31] FeynmanZhou commented on #204
Looks much flexible than before, I agree with this way of customizing storage client configuration from my personal view.

[2020-08-13 15:11] pixiake commented on #204
@rayzhou2017 @min-zh  I think using this approach solves the problem of integrating many storage or other plugins, and kubekey is completely decoupled from those plugins.

[2020-08-14 01:56] rayzhou2017 commented on #204
What does chart mean here? Is it the specific chart name from the repo? And you want to create a sc from the chart? Then Is the following better?
[code]

[code]

[2020-08-14 09:18] shenhonglei opened #206 "Failed to create etcd service because of it [can't create '/systembindir/etcdctl': Permission denied]"
INFO[15:48:43 CST] Generating etcd certs
INFO[15:48:46 CST] Synchronizing etcd certs
INFO[15:48:47 CST] Creating etcd service
[node3 10.10.71.68] Retrying ...
[node1 10.10.71.214] Retrying ...
[node2 10.10.71.70] Retrying ...
[node3 10.10.71.68] Retrying ...
[node1 10.10.71.214] Retrying ...
[node2 10.10.71.70] Retrying ...
ERRO[15:49:04 CST] Failed to get etcdctl: Failed to exec command: sudo -E

[2020-08-14 09:23] shenhonglei commented on #206
Later, I checked the reason because I didn’t close selinux.

how to fix it:**Turnoff selinux mode**
`sed -i 's/SELINUX=enforcing/SELINUX=disabled/g' /etc/selinux/config`
or
`setenforce 0`

[2020-08-14 10:48] pixiake commented on #204
I think all custom plugins are deployed using Helm Chart，so define the following parameters in  `customPlugins` :
`name`:  the name of custom plugins
`repo`: charts' repo where the helm-chart of the plugin is located
`chart`:   the name of custom plugin‘s helm-chart
`value`:  parameters customized when installing the plugin

Custom plugins can be storage plugins or other types of plugins (lb, clou

[2020-08-14 11:34] calvinyv commented on #204
looks good for me.

[2020-08-14 13:07] zheng1 commented on #204
How about this way?
[code]

[2020-08-14 13:13] zheng1 commented on #204
customPlugins sounds like kubekey plugins, but in fact, it is just a definition of helm release

[2020-08-14 14:00] pixiake commented on #204
@zheng1 Yes, It seems good. But I think it's better to use a contoller to provide this functionality after the cluster is deployed，and this method may complicate configuration files before cluster is deployed.

[2020-08-15 17:25] LiuG-lynx opened #207 "kk helm error (ubuntu18.04 )"
kk helm error (ubuntu18.04 )

` TASK [common : Kubesphere | Check openldap] ************************************
fatal: [localhost]: FAILED! => {"changed": true, "cmd": "/usr/local/bin/helm list -n kubesphere-system | grep \"ks-openldap\"\n", "delta": "0:00:00.051361", "end": "2020-08-16 01:02:32.373425", "msg": "non-zero return code", "rc": 1, "start": "2020-08-16 01:02:32.322064", "stderr": "",

[2020-08-15 17:27] FeynmanZhou commented on #207
Where did you install it?

[2020-08-15 17:29] LiuG-lynx commented on #207
huaweicloud

[2020-08-15 17:31] FeynmanZhou commented on #207
Try:

[code]

[2020-08-15 17:33] LiuG-lynx commented on #207
`root@ks-0001:~# kubectl get sc
NAME                        PROVISIONER                                       RECLAIMPOLICY   VOLUMEBINDINGMODE      ALLOWVOLUMEEXPANSION   AGE
glusterfs                   kubernetes.io/glusterfs                           Delete          Immediate              true                   31m
huaweicloud-sfs (default)   cluster.local/nfs-client-nfs-client-provisioner   De

[2020-08-15 17:34] FeynmanZhou commented on #207
Sorry, try this cmd with all ns
[code]

[2020-08-15 17:38] LiuG-lynx commented on #207
![image](https://user-images.githubusercontent.com/29352057/90318153-1e378c00-df61-11ea-9b29-ee029d424a8e.png)

[2020-08-16 01:54] pixiake opened #208 "Support more container runtimes"
- [x] cri-o

- [x] containerd

- [x] iSulad

[2020-08-16 05:16] #206 closed

[2020-08-16 05:16] shenhonglei commented on #206
https://github.com/kubesphere/kubekey/pull/209

[2020-08-16 15:20] benjaminhuo opened #210 "Kubekey panic when upgrading"
KubeKey panic with below errors when upgrading

Env:
CentOS 7
3 masters + 3 workers HA cluster
Kubernetes 1.14 => 1.17
KubeSphere 2.1.0 => 3.0.0
flannel + iptables
All components enabled

[code]

[2020-08-16 17:48] pixiake commented on #210
This panic is caused by an incomplete configuration file.

After generating the configuration file, some parameters need to be filled in, such as the ssh information of the nodes.
https://github.com/kubesphere/community/blob/master/sig-installation/kubekey/upgrade.md#multi-nodes-1

And we‘ll add some check for the configuration file.

[2020-08-17 02:40] benjaminhuo commented on #210
ok, the upgrade could be resumed after filling in the missing etcd and controlplaneendpoint address field.
Yes, some instructions in upgrade docs is needed if there is no check in kubekey itself.

[2020-08-17 11:36] lilien1010 opened #213 "namespaces "kubesphere-monitoring-system" not found"
./kk create cluster --with-kubesphere v3.0.0  -f ./config-sample.yaml

when I deploy kubesphere with kubekey, it shows error info like below.

[code]

config-sample.yaml
[code]

[2020-08-17 11:52] huanggze opened #214 "Passwords were reset to P@88w0rd"
All accounts were rest after upgrading

[2020-08-17 11:52] huanggze commented on #214
/assign @wansir
/milestone 3.0.0
/priority high

[2020-08-17 11:52] huanggze commented on #214
/kind bug

[2020-08-17 11:54] huanggze opened #215 "DevOps project description is missing after upgrade"
![image](https://user-images.githubusercontent.com/22350668/90393443-59ea6700-e0c3-11ea-9f25-b0171e2bbc30.png)

[2020-08-17 11:54] huanggze commented on #215
/assign @shaowenchen
/milestone 3.0.0
/kind bug
/priority medium

[2020-08-17 11:56] huanggze opened #216 "Sonarqube report is missing"
Before upgrade:

![image](https://user-images.githubusercontent.com/22350668/90393597-a6ce3d80-e0c3-11ea-914c-c8b9404de5f1.png)

After upgrade:

![image](https://user-images.githubusercontent.com/22350668/90393628-b2b9ff80-e0c3-11ea-91b6-cb86223fc9ce.png)

[2020-08-17 11:58] huanggze commented on #216
/assign @shaowenchen
/kind bug
/milestone 3.0.0
/priority high

[2020-08-17 12:03] huanggze opened #217 "Pipeline setting is overwritten"
These params were overwritten:

- repo trigger
- swallow clone
- clone timeout

Before upgrade:

![image](https://user-images.githubusercontent.com/22350668/90394086-923e7500-e0c4-11ea-9c24-7ac25cae55fa.png)

![image](https://user-images.githubusercontent.com/22350668/90394123-a6827200-e0c4-11ea-92e8-5ce3959aafeb.png)

After upgrade:

![image](https://user-images.githubusercontent.com/22350668/903

[2020-08-17 12:05] Ma-Dan opened #218 "Upgrade from KS 2.1.1 to KS 3.0.0, ansible use different different user local/ubuntu caused error"
KS 2.1.1 installed with following config, running install.sh from root user
[code]

Then upgrade to KS 3.0.0, using following config
[code]

Master1 installation will use ubuntu user which is different from KS 2.1.1, but there is no .kube/config under /home/ubuntu, then following error occurs
![image](https://user-images.githubusercontent.com/38337958/90394066-89e63a00-e0c4-11ea-8fb0-9e49e08c63f7.

[2020-08-17 12:14] huanggze opened #219 "single-branch svn setting is missing"
![image](https://user-images.githubusercontent.com/22350668/90394975-3a087280-e0c6-11ea-8293-76caf2408c3a.png)

![image](https://user-images.githubusercontent.com/22350668/90394981-3f65bd00-e0c6-11ea-8d46-e84d378ff67e.png)

[2020-08-17 12:15] Ma-Dan opened #220 "Upgrade from Kubernetes 1.15.5 to 1.18.6, master nodes upgrade timeout"
Cluster configuration:
3 nodes HA master (master1 192.168.10.8, master2 192.168.10.9, master3 192.168.10.10) 8C16G ubuntu18.04
3 worker nodes (node1 192.168.10.11, node2 192.168.10.12, node3 192.168.10.13) 8C16G ubuntu18.04

Before upgrading
![image](https://user-images.githubusercontent.com/38337958/90394698-b51d5900-e0c5-11ea-84e9-8eef91aab433.png)

Upgrading master nodes get timeout and exit, n

[2020-08-17 12:20] huanggze opened #221 "devops credentials are reset to empty"
![image](https://user-images.githubusercontent.com/22350668/90395274-de8ab480-e0c6-11ea-8591-fcebcfcd7659.png)

![image](https://user-images.githubusercontent.com/22350668/90395367-02e69100-e0c7-11ea-9a11-5197bb63611b.png)

![image](https://user-images.githubusercontent.com/22350668/90395401-142f9d80-e0c7-11ea-9ac2-5677930c5506.png)

![image](https://user-images.githubusercontent.com/22350668/9039

[2020-08-17 12:27] huanggze opened #222 "Extra account after upgrade"
Never have `sonarqube`

![image](https://user-images.githubusercontent.com/22350668/90396018-16462c00-e0c8-11ea-9794-007c17def25f.png)

[2020-08-17 12:29] huanggze opened #223 "account descriptions are missing"
Here should be `this is regular3`

![image](https://user-images.githubusercontent.com/22350668/90396173-53122300-e0c8-11ea-9d38-760f9b3ed0f1.png)

[2020-08-17 23:55] shaowenchen commented on #221
This is expected and can't affect the usage of users.

We can't get secrets data from Jenkins.

[2020-08-17 23:56] shaowenchen commented on #222
/assign @wansir

[2020-08-18 01:51] rayzhou2017 commented on #221
Is it similar we can't open the secret in console? But it does exist in Jenkins and users still can use them, right?

[2020-08-18 01:54] rayzhou2017 commented on #219
Is this caused by upgrading? Do you have the upgrading env info?

[2020-08-18 02:00] rayzhou2017 commented on #213
It looks you miss --with-kubesphere and config yaml.

[2020-08-18 02:02] rayzhou2017 commented on #204
Shall we put it in 3.1.0?

[2020-08-18 02:02] rayzhou2017 commented on #173
verified

[2020-08-18 02:02] #173 closed

[2020-08-18 02:14] lilien1010 commented on #213
@ray
Is command like below ok?
[code]

[2020-08-18 02:19] pixiake commented on #204
I think it should be in 3.0.0，because many of the plugins are chart, it may affect the installation in offline environments if this is not provided. such as `nfs-client`, `ceph-csi` , these chats are not accessible in an offline environment.

[2020-08-18 02:23] huanggze opened #225 "ks-controller-manager crash"
![image](https://user-images.githubusercontent.com/22350668/90463166-d5d4c580-e13c-11ea-9103-51e307eaa525.png)

[code]

[2020-08-18 02:24] pixiake commented on #213
`sudo -E /bin/sh -c "/usr/local/bin/kubectl -n kubesphere-monitoring-system create secret generic kube-etcd-client-certs --from-file=etcd-client-ca.crt=/etc/ssl/etcd/ssl/ca.pem --from-file=etcd-client.crt=/etc/ssl/etcd/ssl/node-node1.pem --from-file=etcd-client.key=/etc/ssl/etcd/ssl/node-node1-key.pem"`
Try executing this command.

[2020-08-18 02:28] rayzhou2017 commented on #213
Sorry, I mean you mess the options. --with... is the short way for you to create a cluster in allinone env, which means you are not bog down into configuring the config yaml file.
[code]
If you want to install on multi-node cluster, then you need to create a config yaml file first, then configure it, finally use it to create the cluster.
[code]

[2020-08-18 02:29] benjaminhuo commented on #210
![image (12)](https://user-images.githubusercontent.com/18525465/90463359-57c4ee80-e13d-11ea-8c74-70175caa06fb.png)

Another problem is that the config file generated by kubeky for ks v2.1.0 upgrade contains imageRepo like:
`imageRepo: gcr.azk8s.cn/google-containers`

We'd better change it to `kubesphere` ?

[2020-08-18 02:33] huanggze opened #226 "Pipeline failed to rerun after upgrade"
![image](https://user-images.githubusercontent.com/22350668/90463687-26005780-e13e-11ea-8378-a4716bb47884.png)

![image](https://user-images.githubusercontent.com/22350668/90463701-2b5da200-e13e-11ea-9b14-3a46697ccb0a.png)

![image](https://user-images.githubusercontent.com/22350668/90463724-344e7380-e13e-11ea-96ec-e008d19254b6.png)

[code]

[2020-08-18 02:39] huanggze commented on #219
Guess it is caused by upgrading. I had a SVN pipeline with proper server url. credentials. etc. But after upgrade, they are all missing

[2020-08-18 02:49] hawking-lab opened #227 "install error"
ERRO[19:38:18 CST] Failed to add worker to cluster: Failed to exec command: sudo -E /bin/sh -c "/usr/local/bin/kubeadm join  lb.kubesphere.local:6443 --token svewm8.mkgzgu9o8aoyy7rq     --discovery-token-ca-cert-hash sha256:cf045a0007860f74a586e1fdc454730897d5287167ddbac78f87dba767406828"
W0817 19:38:29.763537   12954 join.go:346] [preflight] WARNING: JoinControlPane.controlPlane settings will be

[2020-08-18 02:54] huanggze commented on #219
verified

[2020-08-18 02:54] #219 closed

[2020-08-18 02:56] huanggze commented on #217
Only Github pipeline has this issue

[2020-08-18 02:56] pixiake commented on #227
`[ERROR Port-10250]: Port 10250 is in use`
Port occupied.
Try to execute `./kk delete cluster -f xxx.yaml `

[2020-08-18 02:58] huanggze opened #228 "Errors & Warnings in ks-apsierver logs after upgrade"
[code]

[2020-08-18 03:01] huanggze opened #229 "ks-gateway and ks-account still exist"
![image](https://user-images.githubusercontent.com/22350668/90465516-1b47c180-e142-11ea-9a59-2994d3d8f8b1.png)

[2020-08-18 03:05] huanggze opened #230 "devops viewer can delete pipelines"
`regular3` was devops reporter before upgrading and is viewer now. The problem is that `regular3` can delete now

![image](https://user-images.githubusercontent.com/22350668/90465711-842f3980-e142-11ea-82d6-0a7176ca8607.png)

![image](https://user-images.githubusercontent.com/22350668/90465778-b04aba80-e142-11ea-83db-be8bb5cef083.png)

[2020-08-18 03:07] wansir commented on #223
/assign @leoendless  user description not shown

[2020-08-18 03:09] pixiake commented on #229
Yes, not deleted just deactivated.

[2020-08-18 03:09] huanggze opened #231 "Workspace regular became workspace self provisioner after upgrading?"
![image](https://user-images.githubusercontent.com/22350668/90465953-1a635f80-e143-11ea-9cdd-ad08e6255568.png)

![image](https://user-images.githubusercontent.com/22350668/90465902-facc3700-e142-11ea-8e24-25aeb0f4056c.png)

![image](https://user-images.githubusercontent.com/22350668/90465867-e425e000-e142-11ea-8cee-c2f9230f946d.png)

[2020-08-18 03:10] wansir commented on #230
@huanggze  What is the workspace role of regular3?

[2020-08-18 03:12] huanggze commented on #230
workspace self provisioner

https://github.com/kubesphere/kubekey/issues/231

[2020-08-18 03:13] wansir commented on #231
As expected, ws-regular can create projects before upgrade.

[2020-08-18 03:14] shaowenchen commented on #221
Yes, we can't save the secret value in Kubesphere DB in 2.1.1.  Jenkins doesn't allow to get the plaintext secret. But, users still can use them.

[2020-08-18 03:27] shaowenchen commented on #216
There is not sonarqube config in kubesphere-config comfigmap after Sonarqube.

@pixiake

[2020-08-18 03:28] hawking-lab commented on #227
I try it again  same error.

[2020-08-18 03:40] pixiake commented on #227
Try to execute `systemctl stop kubelet` on the error machine.

[2020-08-18 03:48] wanjunlei opened #232 "kubesphere update error"
There is a kubesphere cluster with version 2.1.1, the k8s version is 1.15.3. It has 3 masters and 3 nodes, the os is ubuntu 18.04.  Update the k8s to 1.18.3, and update kubesphere to 3.0.0, there are some problems during the upgrade:

1. Upgrade failed, need to re-run the upgrade procedure
![image](https://user-images.githubusercontent.com/53003665/90467608-2cdf9800-e147-11ea-8f00-c72f844a09dc.png

[2020-08-18 03:56] shaowenchen commented on #215
fixed
![image](https://user-images.githubusercontent.com/43693241/90468819-e0498c00-e149-11ea-9924-e0afd7bb2ab9.png)

/kind need-to-verify

[2020-08-18 03:56] wansir commented on #222
/kind need-to-verify

[2020-08-18 03:57] wansir commented on #214
/kind need-to-verify

[2020-08-18 03:59] shaowenchen commented on #221
/close

[2020-08-18 03:59] #221 closed

[2020-08-18 04:26] lilien1010 commented on #213
I am trying to setup a all-in-one mode,
my way here is
[code]

then
[code]
@pixiake
and I also tryed run `sudo -E /bin/sh -c "/usr/local/bin/kubectl -n kubesphere-monitoring-system create secret generic kube-etcd-client-certs --from-file=etcd-client-ca.crt=/etc/ssl/etcd/ssl/ca.pem --from-file=etcd-client.crt=/etc/ssl/etcd/ssl/node-node1.pem --from-file=etcd-client.key=/etc/ssl/etcd/ssl/node-node1-

[2020-08-18 05:22] zheng1 commented on #232
@pixiake  rerun release-app job after upgrade

[2020-08-18 06:01] lilien1010 commented on #213
now the error is like
[code]

[2020-08-18 07:37] shaowenchen commented on #217
![image](https://user-images.githubusercontent.com/43693241/90484267-83110300-e168-11ea-878c-15a6eee5e54e.png)

git_clone_option:
        depth: 1
        shallow: false
        timeout: 30

shallow default is false

@harrisonliu5

[2020-08-18 07:44] shaowenchen commented on #217
The problems of `repo trigger` will also occur in 2.1.1, which fixed in the upgrade script.

[2020-08-18 07:49] wansir commented on #223
/kind need-to-verify

[2020-08-18 07:57] shaowenchen commented on #226
![image](https://user-images.githubusercontent.com/43693241/90486349-65916880-e16b-11ea-8a04-995e73232561.png)

![image](https://user-images.githubusercontent.com/43693241/90486381-6de9a380-e16b-11ea-884d-42b14d265bd1.png)

/assign @wansir

[2020-08-18 08:47] shaowenchen commented on #33
/close

[2020-08-18 08:47] #33 closed

[2020-08-18 08:53] wansir commented on #226
[code]

/kind need-to-verify

[2020-08-18 08:54] wansir commented on #230
/assign @harrisonliu5

[2020-08-18 09:15] Ma-Dan commented on #220
This timeout doesn't happen on debian 9.8 k8s 1.14.8/KS2.1.1 -> k8s 1.16.13/KS3.0.0 upgading.

[2020-08-18 09:58] harrisonliu5 commented on #217
done

[2020-08-19 05:05] junotx opened #234 "not compatible with k8s versions ks"

[2020-08-19 05:07] FeynmanZhou commented on #234
What does this issue mean?

[2020-08-19 05:16] junotx commented on #234
/assign @pixiake

[2020-08-19 05:33] lilien1010 commented on #213
the last error  `Hey! No command 'kubectl' found, did you mean 'hugectl'?`
was due to the kubectl was copyed to `/usr/local/bin` while the `/usr/local/bin` was not in the PATH
I think we need add command below into install script
`export PATH=$PATH:/usr/local/bin`

[2020-08-19 06:10] pixiake commented on #234
This is due to the extra step of downloading the binary, which I will remove.
This has nothing to do with 2.1.x.

[2020-08-19 07:14] rayzhou2017 commented on #193
Is the doc finished?

[2020-08-19 07:16] rayzhou2017 commented on #207
It seems the storage problem

[2020-08-19 07:49] #231 closed

[2020-08-19 07:52] Forest-L commented on #193
https://github.com/kubesphere/kubekey/pull/224

[2020-08-19 07:59] Forest-L commented on #207
@LiuG-lynx  Whether the stored client is installed?

[2020-08-19 08:03] LiuG-lynx commented on #207
Yes, I can see all the nodes installed nfs client in KK @Forest-L

[2020-08-19 08:09] Forest-L commented on #207
You can try mount -t nfs <serverip>:<serverPath> <clientPat>, such as:
mount -t nfs 192.**.**.**:/nfsdatas /tmp/nfsdata

[2020-08-19 08:42] rayzhou2017 commented on #229
Is it possible users may activate it?

[2020-08-19 08:59] pixiake commented on #232
https://github.com/kubesphere/ks-installer/pull/1061

add rerun release-app job after upgrade

[2020-08-19 09:36] huanggze opened #237 "internal es cluster was deployed, though external es is using"
- Logging backend was reset to default es addr, though external es is using
- internal es was deployed

![image](https://user-images.githubusercontent.com/22350668/90618338-72cd5680-e242-11ea-841f-2518b603a637.png)

![image](https://user-images.githubusercontent.com/22350668/90618309-60531d00-e242-11ea-9e0f-a511a0530aaf.png)

![image](https://user-images.githubusercontent.com/22350668/90618385-84a

[2020-08-19 09:41] huanggze opened #238 "prometheus retention days wasn't migrated correctly"
![image](https://user-images.githubusercontent.com/22350668/90618945-3817ee00-e243-11ea-8ab7-3ef0e538a348.png)

[2020-08-19 09:56] huanggze opened #239 "Cannot download artifacts"
![image](https://user-images.githubusercontent.com/22350668/90620629-49fa9080-e245-11ea-8228-e71e1ef90313.png)

[2020-08-19 09:57] junotx commented on #234
@pixiake error to excute `./kk upgrade --with-kubesphere v3.0.0 -f config-sample.yaml` again
![image](https://user-images.githubusercontent.com/49136171/90620644-4d8e1780-e245-11ea-8402-3045813b79b2.png)

[2020-08-19 10:01] pixiake commented on #229
I've changed deactivate to delete.

https://github.com/kubesphere/ks-installer/pull/1063

[2020-08-19 10:13] pixiake commented on #234
Please complete the configuration file.

[2020-08-19 10:30] junotx commented on #234
success to exec after suppling etcd config

[2020-08-19 12:20] shaowenchen commented on #239
fixed
https://github.com/kubesphere/kubesphere/pull/2898

[2020-08-19 17:07] pixiake commented on #216
https://github.com/kubesphere/ks-installer/pull/1064

[2020-08-20 02:44] #238 closed

[2020-08-20 02:44] huanggze commented on #229
/kind need-to-verify

[2020-08-20 02:45] huanggze commented on #225
verified

[2020-08-20 02:45] #225 closed

[2020-08-20 06:14] huanggze commented on #223
verified

[2020-08-20 06:14] #223 closed

[2020-08-20 06:27] huanggze commented on #214
verified

[2020-08-20 06:27] #214 closed

[2020-08-20 06:27] huanggze commented on #222
verified

[2020-08-20 06:27] #222 closed

[2020-08-20 06:28] huanggze commented on #215
verified

[2020-08-20 06:28] #215 closed

[2020-08-20 06:29] huanggze commented on #230
verified

[2020-08-20 06:29] #230 closed

[2020-08-20 10:00] pixiake commented on #204
I think all plugins can be kubernetes' addons (Including kubesphere), these plugins can be deploy by `yaml` or `chart`.

So the custom plugins configuration should support both yaml and chart.

Explanation of parameters:

[code]
example:
[code]

[2020-08-20 10:06] rayzhou2017 commented on #204
How to make KubeSphere as plugin in the example?

[2020-08-20 10:13] pixiake commented on #204
@rayzhou2017
[code]
or
[code]

[2020-08-20 10:15] rayzhou2017 commented on #204
That sounds cool.

[2020-08-20 11:05] zheng1 commented on #204
LGTM

[2020-08-20 11:11] min-zh commented on #204
/lgtm

[2020-08-20 14:51] FeynmanZhou commented on #204
Looks more Intuitive

[2020-08-21 03:56] huanggze opened #243 "--from-cluster should auto fill ectd for single-node cluster"
![image](https://user-images.githubusercontent.com/22350668/90850781-49790b80-e3a5-11ea-91ea-e8420f77eb1b.png)

[2020-08-21 04:42] huanggze commented on #216
not fixed

[2020-08-21 04:42] huanggze commented on #216
@shaowenchen

[2020-08-21 04:43] huanggze commented on #217
verified

[2020-08-21 04:43] #217 closed

[2020-08-21 04:45] huanggze opened #244 "Error logs in ks-apiserver"
[code]

[2020-08-21 04:47] huanggze commented on #226
not fixed @shaowenchen

new error occurs

![image](https://user-images.githubusercontent.com/22350668/90853325-68c76700-e3ac-11ea-9bc4-4db048448dbe.png)

[2020-08-21 04:49] huanggze commented on #239
not fixed @shaowenchen

![image](https://user-images.githubusercontent.com/22350668/90853433-afb55c80-e3ac-11ea-8454-06917775ed38.png)

[2020-08-21 04:55] huanggze opened #245 "custom full permission role are not migrated correctly"
Before upgrade:
![image](https://user-images.githubusercontent.com/22350668/90853710-80531f80-e3ad-11ea-8d06-53ffb7ee9840.png)

![image](https://user-images.githubusercontent.com/22350668/90853726-8943f100-e3ad-11ea-81c3-4cce567496f3.png)

![image](https://user-images.githubusercontent.com/22350668/90853743-91039580-e3ad-11ea-801d-388a21088e4d.png)

[2020-08-21 04:57] huanggze opened #246 "role description is missing after upgrade"
![image](https://user-images.githubusercontent.com/22350668/90853847-dfb12f80-e3ad-11ea-891b-8cd7000710cb.png)

[2020-08-21 05:10] huanggze opened #247 "roles lost after upgrade"
![image](https://user-images.githubusercontent.com/22350668/90854474-98c43980-e3af-11ea-9536-af8e619aa0e9.png)

![image](https://user-images.githubusercontent.com/22350668/90854481-9eba1a80-e3af-11ea-8999-eaae61c37bf3.png)

[2020-08-21 05:11] huanggze commented on #229
not fixed @pixiake

[2020-08-21 05:15] shaowenchen commented on #239
disabled by the browser?

[2020-08-21 05:17] shaowenchen commented on #239
![image](https://user-images.githubusercontent.com/43693241/90854837-97474100-e3b0-11ea-98d5-fe286c953511.png)

[2020-08-21 05:23] shaowenchen commented on #226
![image](https://user-images.githubusercontent.com/43693241/90855117-51d74380-e3b1-11ea-839b-1fa0b7380bc0.png)

I can't reproduce it.

[2020-08-21 05:27] wansir commented on #247
Roles without role binding will not be upgraded.

[2020-08-21 05:38] wansir commented on #245
Custom roles are upgraded according to the policy rules. Checking all does not mean that you have all permissions after upgrading,  only matching rules will be upgraded.

upgrade rules:

https://github.com/kubesphere/ks-upgrade/blob/master/pkg/globalrolebindings/globalrolebindings.go#L113-L230
https://github.com/kubesphere/ks-upgrade/blob/master/pkg/rolebindings/rolebindings.go#L182-L347

[2020-08-21 06:02] #245 closed

[2020-08-21 06:09] huanggze commented on #226
ok, verified

[2020-08-21 06:09] #226 closed

[2020-08-21 06:10] #228 closed

[2020-08-21 06:21] huanggze commented on #239
verified

[2020-08-21 06:21] #239 closed

[2020-08-21 06:43] huanggze opened #248 "user manager cannot edit accounts"
Before upgrade:
![image](https://user-images.githubusercontent.com/22350668/90860523-bc41b100-e3bc-11ea-937d-8f99a3c29018.png)

After upgrade:
![image](https://user-images.githubusercontent.com/22350668/90860404-87355e80-e3bc-11ea-8754-1ffe64efb8b2.png)

[2020-08-21 06:45] shaowenchen commented on #216
[code]

not http://ks-jenkins.kubesphere-devops-system.svc/job/project-eglbxgn2brmr/job/sonarqube/job/github/api/json ,but http://ks-jenkins.kubesphere-devops-system.svc/job/project-eglbxgn2brmr/job/github/job/sonarqube/api/json

[2020-08-21 06:46] #248 closed

[2020-08-21 07:18] shaowenchen commented on #216
![image](https://user-images.githubusercontent.com/43693241/90863376-7f2bed80-e3c1-11ea-925a-51f7d1b600f2.png)

fixed

[2020-08-21 08:52] Ma-Dan opened #249 "Qingcloud CSI is not upgraded when upgrading from 1.16.7/KS2.1.1->1.18.6/KS3.0.0"
Install KS2.1.1 will install old version of Qingcloud CSI, upgraded with kk to KS 3.0.0, Qingcloud CSI is not upgraded, this will result to user creation ReadWriteMany(RWX) volume pending in KS 3.0.0
![image](https://user-images.githubusercontent.com/38337958/90872075-a63cec00-e3ce-11ea-9720-7bec77bb6f24.png)

[2020-08-24 01:42] wanjunlei commented on #232
verfied
/close

[2020-08-24 01:42] #232 closed

[2020-08-24 02:58] #216 closed

[2020-08-24 02:59] #237 closed

[2020-08-24 03:16] hawking-lab opened #253 "kk install ERROR when use nfs storage"
INFO[11:15:11 CST] Deploying storage plugin ...
ERRO[11:15:36 CST] Failed to fetch nfs-client-provisioner chart: Failed to exec command: sudo -E /bin/sh -c "rm -rf /etc/kubernetes/addons/nfs-client-provisioner && /usr/local/bin/helm fetch kubesphere/nfs-client-provisioner -d /etc/kubernetes/addons --untar"
Error: repo kubesphere not found: Process exited with status 1  node=10.124.xx.x

[2020-08-24 03:28] pixiake commented on #249
Qingcloud-csi's documentation can be refered to for update qingcloud-csi.
https://github.com/yunify/qingcloud-csi

[2020-08-24 05:08] #227 closed

[2020-08-24 06:10] HeathKang commented on #203
issue closed since second install is successful.

[2020-08-24 06:10] #203 closed

[2020-08-24 06:41] rayzhou2017 opened #254 "Check dependency for K8s 1.18.6 missing when upgrading"
It seems missing to check dependencies such socat, conntrack for K8s 1.18
![Screen Shot 2020-08-24 at 2 40 02 PM](https://user-images.githubusercontent.com/28859385/91011971-d9be8700-e617-11ea-9fb0-ce551e1dc976.png)

[2020-08-24 06:42] rayzhou2017 commented on #254
actually it is upgraded to 1.17.9 from the log saying.

[2020-08-24 07:09] rayzhou2017 commented on #254
It IS upgraded to 1.18.6. So the logs above is incorrect (hard coded to 1.17.9?). I checked my os. It has socat which I don't understand since it should need to install it manually. And no conntrack is installed.

[2020-08-24 09:47] #247 closed

[2020-08-24 09:47] huanggze commented on #246
verified

[2020-08-24 09:47] #246 closed

[2020-08-24 14:18] Ma-Dan commented on #218
Verified, close issue.

[2020-08-24 14:18] #218 closed

[2020-08-24 14:21] #220 closed

[2020-08-25 06:04] Ma-Dan commented on #249
Run the following commands to upgrade Qingcloud CSI manually
[code]

[2020-08-25 06:33] #204 closed

[2020-08-25 14:12] #193 closed

[2020-08-26 06:01] FeynmanZhou commented on #162
Are these guides enough?

https://v3-0.docs.kubesphere.io/docs/installing-on-linux/public-cloud/kubesphere-on-qingcloud-instance/
https://v3-0.docs.kubesphere.io/zh/docs/installing-on-linux/on-premise/install-kubesphere-on-vmware-vsphere/

[2020-08-26 06:45] min-zh commented on #249
/kind need-to-verify

[2020-08-26 08:05] pixiake opened #258 "kubekey addons test items"
chart :
- [ ] deploy a chart from repo with a remote values file

- [ ] deploy a chart from repo with a local values file

- [x] deploy a chart from repo with values list

- [ ] deploy a chart from repo without values

- [ ] deploy a chart from local path with a remote values file

- [ ] deploy a chart from local path with a local values file

- [ ] deploy a chart from local path with a values lis

[2020-08-26 08:09] zryfish commented on #258
Test passed with following configuration

[code]

[2020-08-26 09:00] yuswift commented on #162
Yeap. It's enough. Closed.

[2020-08-26 09:00] #162 closed

[2020-08-26 09:08] FeynmanZhou commented on #258
Let me test this task:  `deploy multiple yaml files from remote`.

I will test a CSI plugin with kk addons.

[2020-08-26 10:05] Forest-L commented on #258
Test passed with csi-qingcloud:
[code]

[2020-08-28 08:41] Ma-Dan commented on #249
Manual qingcloud-csi upgrading verified

[2020-08-28 08:42] zheng1 commented on #258
Test passed with this case ` deploy multiple yaml files from remote`
[code]

[2020-08-28 08:59] zheng1 commented on #258
test passed with this case `deploy a yaml from local path`
[code]

[2020-08-28 09:40] min-zh commented on #258
test passed with **csi-qingcloud**, **nfs-client**, **rbd**, **glusterfs**, **local-volume**
`  - name: csi-qingcloud
    namespace: kube-system
    sources:
      chart:
        name: csi-qingcloud
        repo: https://charts.kubesphere.io/test
        values:
        - config.qy_access_key_id=x
        - config.qy_secret_access_key=x
        - config.zone=x
        #- sc.isDefaultClass=false

[2020-08-28 09:42] min-zh commented on #258
i will test **ceph-csi**, **aliyun-csi**, **tencent-csi**, **aws-csi** later.

[2020-08-28 11:46] FeynmanZhou commented on #258
@min-zh If you need the testing account for Aliyun, Tencent Cloud and AWS, contact me, please.

[2020-08-29 04:29] cool-ops opened #269 "在用kk安装Kubernetes的时候，在给节点打标签的时候，失败会退出整个流程。个人认为打标签并不是一个非常重要的操作，即使失败也不应该退出流程。"
Run 'kubectl get nodes' on the control-plane to see this node join the cluster.
ERRO[12:25:53 CST] Failed to add worker label: Failed to exec command: sudo -E /bin/sh -c "/usr/local/bin/kubectl label node node2 node-role.kubernetes.io/worker="
The connection to the server localhost:8080 was refused - did you specify the right host or port?: Process exited with status 1  node=172.17.100.122
ERRO[12

[2020-08-29 04:34] cool-ops commented on #269
我重跑一次，虽然还是没有打标成功，但是这次成功跳过了。

[2020-08-29 04:53] pixiake commented on #269
What OS are you using?  Does `/root/.kube/config` exist?

[2020-08-30 15:03] FeynmanZhou commented on #258
@min-zh  It seems like the GlusterFS client is not listed here.

[2020-08-31 02:39] min-zh commented on #258
GlusterFS uses in-tree storage plugin. @FeynmanZhou

[2020-08-31 02:40] FeynmanZhou commented on #258
@min-zh ok.

[2020-08-31 02:42] FeynmanZhou commented on #258
When these CSI test cases are passed, please help to add their samples in this thread.  Thanks!

[2020-09-01 02:45] FeynmanZhou commented on #269
Sorry, English only in GitHub. For Chinese questions, please go to [China Forum](https://kubesphere.com.cn/forum/).

[2020-09-01 02:45] #269 closed

[2020-09-02 06:44] pixiake commented on #253
`Error: repo kubesphere not found`
Probably due to the repo was not added successfully.
KubeKey has adjusted how to configure the storage plugin.
https://github.com/kubesphere/kubekey/blob/master/docs/addons.md

You can try to install with the latest release of kubekey.
https://github.com/kubesphere/kubekey/releases/

[2020-09-03 02:21] rayzhou2017 opened #282 "dependency for installation"
I remember socat and conntrack are needed only for K8s >= 1.18. But here it seems for all versions.
![Screen Shot 2020-09-03 at 10 17 21 AM](https://user-images.githubusercontent.com/28859385/92063893-d755ed00-edce-11ea-9ca4-7aeac8f495d0.png)

[2020-09-03 03:44] yeongjet opened #284 "$CHANNEL is undefined in scripts\docker-install.sh caused installing docker failed?"
[code]

my config:
[code]

I found these codes in scripts\docker-install.sh:
[code]
$CHANNEL is non value cause this error

[2020-09-03 04:11] Sherlock113 commented on #282
Just confirmed with @pixiake

If the Kubernetes version >= 1.18, socat and conntrack are required, and ebtables and ipset are optional but high recommended.

If the Kubernetes version < 1.18, all these four components are optional but highly recommended.

I will update the doc accordingly.

[2020-09-03 10:57] #282 closed

[2020-09-03 12:01] Forest-L commented on #284
Yes, this is a bug. I will fix it. Can you install on Redhat?

[2020-09-03 12:42] pixiake commented on #284
@yeongjet  KubeSphere is currently not supported running on k8s v1.19.x

[2020-09-04 02:53] yeongjet commented on #284
@Forest-L
[code]

[2020-09-04 02:55] yeongjet commented on #284
@pixiake ok，but I found kubekey supports v1.19 [here](https://github.com/kubesphere/kubekey/blob/master/docs/kubernetes-versions.md)

[2020-09-04 02:55] #284 closed

[2020-09-04 06:11] #249 closed

[2020-09-07 10:38] Yuanyp8 opened #288 "is there something wrong？"
[code]

[2020-09-07 11:25] Forest-L commented on #288
@Yuanyp8
How to install K8s?
It show that kubectl command not found

[2020-09-08 02:29] Einic commented on #258
/root/addon/pvc/rbd.yaml details？

[2020-09-08 05:18] He72 opened #290 "failed to upgrade multi-node cluster from v2.1.1 to v3.0.0"
what can i do to fix the problem? the logs as below:

[root@master ~]# ./kk upgrade --debug -f sample.yaml
+--------+------+------+---------+----------+-------+-------+-----------+--------+------------+-------------+------------------+--------------+
| name   | sudo | curl | openssl | ebtables | socat | ipset | conntrack | docker | nfs client | ceph client | glusterfs client | time         |
+----

[2020-09-08 07:38] xuelangos opened #291 "calico changed flannel mode vxlan or host gw，I need how todo。"
![image](https://user-images.githubusercontent.com/13230347/92446735-d666f600-f1e8-11ea-9f86-2f5f1d0328ab.png)
what  codes I should be changed ？

[2020-09-08 08:19] Forest-L commented on #290
@He72  kubectl get nodes -o wide and kubectl get pod -n kube-system

[2020-09-08 08:38] Forest-L commented on #291
@xuelangos
If you choose flannel, refer to this configuration, such as:
[code]
Currently, we support VXLAN and later host GW

[2020-09-10 06:57] min-zh opened #296 "Addon for helm-chart support version paramter"

[2020-09-10 06:58] min-zh commented on #296
/assigin @pixiake

[2020-09-10 09:40] #296 closed

[2020-09-11 01:08] sbhnet opened #300 "hostname （node name）case sensitive"
The host name contains uppercase letters, but k8s recognizes only lowercase letters.
kk run kubectl node {uppercase letters host name} print error log.

[2020-09-12 07:11] Forest-L commented on #300
The following will be consistent with the K8S style

[2020-09-16 06:13] Fuchange commented on #300
I had the same mistake , when I run the cmd :  ` kk create cluster --with-kubernetes v1.15.12 --with-kubesphere v2.1.1 `

there is the erro log :

[code]

Should it be named "allinone" on Quick Start ?
Or renamed to lowercase letters ?

[2020-09-16 07:14] Fuchange opened #302 "Shell erro when privateRegistry have "/""
When I set privateRegistry like "isrc.iscas.ac.cn/oepkgs/kubernetes",

here is the erro log

[code]

[2020-09-16 15:06] #302 closed

[2020-09-17 07:47] yeongjet opened #305 "docker-install.sh: 'yum makecache fast' execute error"
[code]
script/docker-install.sh
[code]
centos 8.2

[2020-09-18 02:56] #300 closed

[2020-09-18 04:52] m84686660 opened #306 "install Allinon 3.0 faild"
Push /tmp/kubekey/v1.18.6/amd64/kubeadm to 192.168.100.246:/tmp/kubekey/kubeadm   Failed
ERRO[12:41:46 CST] Failed to sync binaries: open /tmp/kubekey/v1.18.6/amd64/kubeadm: no such file or directory  node=192.168.100.246
WARN[12:41:46 CST] Task failed ...
WARN[12:41:46 CST] error: interrupted by error
Error: Failed to install kube binaries: interrupted by error

Monitoring this directory deletes

[2020-09-18 06:26] m84686660 commented on #306
help

[2020-09-18 06:41] pixiake commented on #306
Do you execute the installation in `/tmp` directory ?

[2020-09-18 14:29] m84686660 commented on #306
Yes,path is /tmp/kk

[2020-09-18 15:23] m84686660 commented on #306
i move 'kk' to other path is insatll over!

[2020-09-18 15:23] #306 closed

[2020-09-19 11:32] pixiake commented on #305
https://github.com/kubesphere/kubekey#linux-distributions

No support for centos8.x .

[2020-09-19 11:42] #305 closed

[2020-09-23 06:28] shaowenchen commented on #243
/cc @Forest-L

[2020-09-23 06:31] shaowenchen commented on #243
/assign @Forest-L

[2020-09-29 02:52] JadeRing opened #317 "kk cannot remove master node"
nothing happend when i run command  "./kk delete node master4 -f ks-config.yaml"

[2020-09-30 03:29] Forest-L commented on #317
@JadeRing  Are you sure to delete master?

[2020-09-30 05:17] JadeRing commented on #317
Yes, I'am sure
master is very important to the cluster, so High availability of the master is essential
Hope to increase the expansion, shrinkage and replacement function of the master

[2020-09-30 06:44] Forest-L commented on #317
If you do need to remove the master, follow these instructions
[code]

[2020-10-09 09:05] sbhnet opened #331 "kk on arm64 etcd error"
kk create cluster -f config.yaml -y

docker logs -f etcd1
2020-10-09 09:02:07.027019 E | etcdmain: etcd on unsupported platform without ETCD_UNSUPPORTED_ARCH=arm64 set.

kk create cluster (all-in-one) ok.

[2020-10-09 09:19] sbhnet commented on #331
need add ETCD_UNSUPPORTED_ARCH=arm64 to /etc/etcd.env

[2020-10-09 10:46] pixiake commented on #331
You need to set `arch` in the host configuration.
example:
[code]

[2020-10-10 00:25] sbhnet commented on #331
I've modified the source code and compiled it. etcd.go and default

[2020-10-10 00:25] #331 closed

[2020-10-10 05:44] sbhnet opened #332 "arm64 calico version"
default version   v3.15.1
Warning  Failed            38s (x4 over 5m44s)   kubelet, node1     Failed to pull image "calico/kube-controllers:v3.15.1": rpc error: code = Unknown desc = context canceled
  Warning  Failed            38s (x4 over 5m44s)   kubelet, node1     Error: ErrImagePull
  Normal   BackOff           1s (x7 over 5m44s)    kubelet, node1     Back-off pulling image "calico/kube-cont

[2020-10-10 06:53] pixiake commented on #332
Thanks, upgrading calico is in our plans.

I see that `calico/kube-controllers:v3.15.1` for arm64 should be available for download.
https://hub.docker.com/layers/calico/kube-controllers/v3.15.1/images/sha256-f6f2b1fea497a620cc19c2382fed58828917b99ff578d7081ca3c80e2ca209fb?context=explore

[2020-10-12 09:49] #332 closed

[2020-10-12 09:50] sbhnet commented on #332
OK，wait new calico version.

[2020-10-14 15:19] tscswcn opened #342 "where can I find kk execution log"
my issue  is

https://kubesphere.com.cn/forum/d/2404-kk

[2020-10-15 03:06] shaowenchen commented on #342
/assign @pixiake

[2020-10-21 07:37] ZhangShiy opened #343 "using config to create cluster with 3 master failed"
It reported an error “When the environment has at least three masters, You must set the value of the LB address.”， but LB address was configured.

error was found in the following code：
	clusterCfg.RoleGroups = cfg.RoleGroups
	hostGroups, err := clusterCfg.GroupHosts()
	if err != nil {
		return nil, nil, err
	}
clusterCfg.ControlPlaneEndpoint  is empty

[2020-10-21 08:01] FeynmanZhou commented on #343
Can you attach the yaml configuration of yours?

[2020-10-21 08:03] ZhangShiy commented on #343
apiVersion: kubekey.kubesphere.io/v1alpha1
kind: Cluster
metadata:
  name: sample
spec:
  hosts:
  - {name: ick-m01, address: 172.17.0.117, internalAddress: 172.17.0.117, privateKeyPath: "~/.ssh/id_rsa"}
  - {name: ick-m02, address: 172.17.0.104, internalAddress: 172.17.0.104, privateKeyPath: "~/.ssh/id_rsa"}
  - {name: ick-m03, address: 172.17.0.160, internalAddress: 172.17.0.160, privateKeyPath:

[2020-10-21 09:22] pixiake commented on #343
Do you build the binary by yourself ？

[2020-10-21 09:27] ZhangShiy commented on #343
yes,  master branch

[2020-10-21 10:24] xmapst opened #344 "Error with message 'configmap "kubesphere-config" not found'"
ks-apiserver/ks-controller-manager
[code]

[2020-10-21 10:53] Forest-L commented on #344
@xmapst   What to store？ look at the `kubectl get sc`

[2020-10-22 08:48] shaowenchen commented on #342
/assign @Forest-L

[2020-10-22 08:54] shaowenchen commented on #342
/assign @Forest-L

[2020-10-22 09:25] shaowenchen commented on #290
/cc @pixiake

[2020-10-22 09:31] shaowenchen commented on #290
/cc @pixiake

[2020-10-22 09:36] shaowenchen commented on #290
/cc @pixiake

[2020-10-22 09:43] shaowenchen commented on #290
/assign @pixiake

[2020-10-22 10:18] shaowenchen commented on #290
/cc @pixiake

[2020-10-22 10:38] shaowenchen commented on #290
/cc @pixiake

[2020-10-22 10:41] shaowenchen commented on #290
/cc @pixiake

[2020-10-22 10:45] shaowenchen commented on #288
/assign @Forest-L

[2020-10-22 11:17] shaowenchen commented on #343
/cc @Forest-L

[2020-10-22 11:22] shaowenchen commented on #317
/assign @shaowenchen

[2020-10-22 11:23] shaowenchen commented on #146
/cc @Forest-L

[2020-10-22 11:26] shaowenchen commented on #91
/assign @Forest-L

[2020-10-22 11:27] shaowenchen commented on #91
/cc @pixiake

[2020-10-22 11:29] shaowenchen commented on #133
/cc @Forest-L

[2020-10-23 10:44] jwangkun opened #346 "啥时候支持更新证书啊，或者让证书生效时间长点"
啥时候支持更新证书啊，或者让证书生效时间长点

[2020-10-25 03:33] liucy1983 opened #347 "Report error if docker already installed and not running"
在部署的时候，程序会直接调用pkg/container-engine/docker/docker.go中的InstallerDocker方法，然后在每台Node中执行installDockerOnNode方法，内容如下。

[code]

然后里面执行了一个Shell命令，去掉sudo以后，实际执行的内容为
[code]

在if中的判断条件为，找不到docker命令，或是/var/run/docker.sock文件不存在，就去安装Docker并启动服务。
这会导致在，用户事先安装了Docker，但服务没启动时，逻辑判断不正确，程序又去重试安装Docker，报错。

[2020-10-25 04:36] Forest-L commented on #347
@liucy1983
* 1. Are you using the Master branch or the Release-1.0 installation package?
* 2. When the Docker service is not started, the /var/run/docker.sock file does not exist.
* 3. The docker.sock file judgment was not added in the Release-1.0 Installation package.
* 4. You can start docker manually first, systemctl enable docker; systemctl restart docker.

[2020-10-25 04:37] Forest-L commented on #346
@jwangkun  There is already a plan.

[2020-10-25 15:02] pixiake commented on #344
It seems that the installation is not complete.
If you have any more questions, please go to the forum: https://kubesphere.com.cn/forum

[2020-10-26 07:55] Roarain opened #351 "docker network variable"
kk config add docker default-address-pools variable to avoid docker network conflict with node  network。

![image](https://user-images.githubusercontent.com/9844376/97146937-a927d480-17a3-11eb-827e-a6e645c32cb2.png)

[2020-10-27 06:16] bnubobby opened #352 "create cluster with 3 master failed"
[code]

[2020-10-27 06:19] bnubobby commented on #352
[code]

[2020-10-27 06:32] bnubobby commented on #352
安装失败，之后一直不停的创建销毁　etcd3 容器
执行docker ps ，会间歇性显示，　
[code]

[2020-10-27 12:23] Forest-L commented on #352
@bnubobby  You can execute the uninstall instruction before installing

[2020-10-28 01:38] bnubobby commented on #352
Etcd is not installed in the system
Actually,　etcd configuration file was error ,  Until I fix  "etcd.env"  file , installation is successful, and I don't know when the mistake happened.

[2020-10-28 01:38] #352 closed

[2020-10-28 11:51] wushifeng opened #353 "with-storage参数不存在"
发布文档中 https://kubesphere.io/docs/installing-on-linux/introduction/multioverview/ 有如下的说明
./kk create config --with-storage localVolume

**下载发布版本执行**
# ./kk version
version.BuildInfo{Version:"v1.0.0", GitCommit:"ab0dc4a9ad922f697af6de6de696d07507bdcb83", GitTreeState:"clean", GoVersion:"go1.14.7"}
# ./kk create config --with-storage localVolumeError: unknown flag: --with-storage
Usage:
  kk create c

[2020-10-28 12:05] pixiake commented on #353
The document is old and will be updated in the near future.
For now you can refer to the readme:
https://github.com/kubesphere/kubekey/blob/master/README.md

Storage plugins can be configured using addons (If not configured, localVolume is used by default):
https://github.com/kubesphere/kubekey/blob/master/docs/addons.md
https://kubesphere.io/docs/installing-on-linux/introduction/storage-configura

[2020-10-28 12:11] wushifeng commented on #353
的确看到了说明
建议：文档这块也分下版本，如没有发布文档的就看不到，这样初次接触的人就不会产生这种问题。
看不到比看到一个旧的文档给人的感觉可是差别很大

[2020-10-28 12:11] #353 closed

[2020-10-30 06:59] #343 closed

[2020-11-03 01:57] wushifeng opened #355 "v3.0.0离线安装多节点错误"
按照如下的文档和文件包
https://kubesphere.com.cn/forum/d/2034-kubekey-kubesphere-v300
https://kubesphere-installer.pek3b.qingstor.com/offline/v3.0.0/kubesphere-all-v3.0.0-offline-linux-amd64.tar.gz

**按照发布建议选择了版本如下：**
kubernetes: v1.17.9
kubesphere: v3.0.0

**虚拟机配置和kubesphere的配置如下**
https://gitee.com/wushifeng/kubesphere-offline/blob/master/1-2mnodes/Vagrantfile
https://gitee.com/wushifeng/kubesphere-offline

[2020-11-03 02:09] Forest-L commented on #355
@wushifeng Is the firewall off?

[2020-11-03 03:20] wushifeng commented on #355
$ systemctl status firewalld
● firewalld.service - firewalld - dynamic firewall daemon
   Loaded: loaded (/usr/lib/systemd/system/firewalld.service; disabled; vendor preset: enabled)
   Active: inactive (dead)
     Docs: man:firewalld(1)

关闭了防火墙也一样的问题，主要是这个 https://10.233.0.1:443/ 不能访问，这个是哪个的服务呢

[2020-11-03 09:14] wushifeng commented on #355
看下这个日志，2个虚拟机的信息不太一样，都是这个default  kubernetes  服务不行，估计还是多机的安装问题吧？

**=在主节点**
[vagrant@kubesphere-dev ~]$ k get svc -A
NAMESPACE              NAME                        TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)                  AGE
default                kubernetes                  ClusterIP   10.233.0.1      <none>        443/TCP                  104m
kube-system            coredns

[2020-11-04 01:45] Forest-L commented on #355
@wushifeng Are all the firewalls turned off? 443 is the firewall port

[2020-11-04 04:06] liucy1983 commented on #347
1. yes
2. when docker-ce installed and not running, `[ -z $(which docker) ] || [ ! -e /var/run/docker.sock ]` means cannot find docker command or /var/run/docker.sock not exists, the result of this expression is true, then error will occurred in docker installation progress.
3. https://github.com/kubesphere/kubekey/blob/release-1.0/pkg/container-engine/docker/docker.go
4. yes i can, but kubekey sh

[2020-11-04 04:17] liucy1983 opened #357 "CentOS 8 support"
1. 现状
   - 当前kubekey并不支持在CentOS 8中部署
   - 当试图安装时，会报错Docker安装出错
2. 原因
   - scripts/docker-install.sh中安装Docker的步骤中，默认会使用Aliyun的Repo
   - 而Aliyun的docker-ce.repo中填写的URL为 https://mirrors.aliyun.com/docker-ce/linux/centos/7/$basearch/stable 样式，而中OS版本直接写死了`7`，而不是$releasever
3. 期望
   - 要么默认使用Azure的Docker源，要么判断一下OS，如果是CentOS 8，则在下载Aliyun的Repo文件后修改一下URL
   - 在安装docker-ce前，卸载runc软件包，就可以正常安装docker-ce包。且后续的K8s

[2020-11-04 11:07] wushifeng commented on #355
2个节点的防火墙都关了，一直不能用
我使用vagrant销毁重建的，所以环境配置肯定不是问题
具体的设置在这里
https://gitee.com/wushifeng/kubesphere-offline/blob/master/1-2mnodes/Vagrantfile
这个不知道什么原因，可以给我留信息，可以远程我的环境排查[ wushifengcn@qq.com 这个邮箱]

时间等不及，我试了下sealos安装k8s，然后只部署kubesphere，遇到一个更奇怪的问题
**kubesphere的镜像如果是联网下载的，可以正常使用。把这个镜像导出来，离线部署kubesphere出现问题
这个问题的重现步骤：**
https://gitee.com/wushifeng/kubesphere-offline/tree/master/sealos
1 执行 install.sh 通过se

[2020-11-05 02:12] Forest-L commented on #355
@wushifeng  Does offline deployment refer to the following documentation?
https://kubesphere.com.cn/forum/d/2034-kubekey-kubesphere-v300

[2020-11-05 03:45] wushifeng commented on #355
我最初反馈的就是这个问题，https://kubesphere.com.cn/forum/d/2034-kubekey-kubesphere-v300 参考这个文档，部署2节点启动失败，具体的安装脚本在这个
https://gitee.com/wushifeng/kubesphere-offline/blob/master/1-2mnodes/install.sh

[2020-11-05 07:07] wushifeng commented on #355
在sealos安装的k8s基础上离线部署kubesphere服务无法访问，诊断后的原因如下
安装后登录报错
When logon to  http://192.168.99.10:30880/login, the page has following error:
request to http://ks-apiserver.kubesphere-system.svc/oauth/token failed, reason: connect EHOSTUNREACH 10.100.30.86:80

查看如下信息
# kubectl get po -n kubesphere-system -o wide
NAME                                     READY   STATUS    RESTARTS   AGE   IP               NO

[2020-11-06 06:59] LinuxSuRen opened #359 "Errors found by vet, Println arg list ends with redundant newline"
I got the following errors when I execute `make vet`.
[code]

It's fair enough, it's not necessary for a redundant newline.

[2020-11-06 07:14] #359 closed

[2020-11-06 09:57] Forest-L commented on #357
@liucy1983  In the plan, you are welcome to submit PR to fix it.

[2020-11-08 02:39] #229 closed

[2020-11-08 03:03] GitSoftwareNow opened #364 "couldn't run kk create config --with-kubernetes v1.19.3 ,how can I fix it?"

[2020-11-09 06:51] shaowenchen commented on #364
/cc @Forest-L

[2020-11-09 06:57] shaowenchen commented on #364
/assign @Forest-L

[2020-11-09 06:57] shaowenchen commented on #364
/close

[2020-11-09 07:00] shaowenchen commented on #148
/close

[2020-11-09 09:42] shaowenchen commented on #148
/close

[2020-11-09 09:42] #148 closed

[2020-11-09 15:04] aogg opened #368 "./kk create安装报错，已重新下载./kk"
![image](https://user-images.githubusercontent.com/8998031/98558013-e7fb7580-22df-11eb-9eb8-89688cc8d0f4.png)

[2020-11-09 15:07] aogg commented on #368
./kk create config --with-kubernetes v1.18.6 --with-kubesphere v3.0.0 -f a.yaml
创建的config.yml

[2020-11-10 02:10] Forest-L commented on #368
@aogg   Check the etcd set parameters in a.yaml

[2020-11-10 02:12] Forest-L commented on #364
@GitSoftwareNow    Current supported version，
https://github.com/kubesphere/kubekey/blob/master/docs/kubernetes-versions.md

[2020-11-12 07:50] LinuxSuRen commented on #368
/kind bug

[2020-11-13 07:09] LinuxSuRen opened #371 "Cannot use kubectl after kk create cluster"
When I finished the cluster creating task via `kk create cluster --with-kubesphere --with-kubernetes v1.17.9`

I try to execute a simple command which is `kubectl get ns`. But errors happend. You can see the output below:

[code]

A special case that is worth noticing. I run the below commands many times on my machine.

[code]

[2020-11-13 07:40] pixiake commented on #371
You can try to execute `kubectl get ns --kubeconfig /etc/kubernetes/admin.conf`.
If the above command can work, it is possible that kubeconfig was not updated.

[2020-11-13 07:41] LinuxSuRen commented on #371
As you said. It works well via `kubectl get ns --kubeconfig /etc/kubernetes/admin.conf`.

I did more tests. First, delete the .kube directory via `rm -rf ~/.kube`. Then install it again. After the installation was done. I got the following errors:
`The connection to the server localhost:8080 was refused - did you specify the right host or port?`

Guest what? I don't have the `.kube` directory. So

[2020-11-13 07:47] pixiake commented on #371
OK, We'll check this issue later.

[2020-11-14 10:29] LinuxSuRen opened #376 "[Proposal] Add support to install kk via apt"
It will be very convenient if the users can install kk via `apt install kk`.

[Bintray](https://bintray.com/) can offer a free account that has 10G storage to store deb packages.

I'd be happy to do that. Besides, I have already [done it before](https://github.com/jenkins-zh/jenkins-cli/blob/master/docs/book/en/download.md).

[2020-11-15 13:40] LinuxSuRen commented on #357
/kind feature

[2020-11-16 07:12] #376 closed

[2020-11-18 08:35] xuelangos opened #381 "Support update kubernetes Pod/service CIDR"
feature request
Support to modify the existing k8s POD service subnet

[2020-11-20 09:04] xuelangos opened #383 "kubekey not update CIDR"
delete cluster -f k8s.yaml ;
update CIDR;
kk create cluster;
but,/run/flannel/subnet.env ,not update at first num;
FLANNEL_NETWORK=xxx;that is old CIDR;

[2020-11-21 07:30] Sh-Zh-7 opened #384 "panic: runtime error: index out of range [0] with length 0"
Hi, I'm creating a cluster on Alibaba cloud followed by this [link](https://kubesphere.com.cn/docs/installing-on-linux/public-cloud/install-kubesphere-on-ali-ecs/).
When using kubekey to deploy a cluster I meet the following problem:
[code]
I think there must be some problem with my `config-sample.yaml` .
Base on the [template that given by the official website](https://kubesphere.com.cn/docs/inst

[2020-11-23 01:59] Forest-L commented on #384
@Sh-Zh-7 You can check the etcd parameters.

[2020-11-23 03:19] Sh-Zh-7 commented on #384
Here is my role group configuration. It is just the same as the official website
[code]
I'm new to Kubernetes and KubeSphere. Did you mean I need to add additional software dependencies except for the existing configuration on your website?

[2020-11-23 06:05] pixiake commented on #383
You can remove `kubekey/network-plugin.yaml`

[2020-11-23 06:13] pixiake commented on #384
Not required.

[2020-11-23 06:38] Sh-Zh-7 commented on #384
@pixiake
[code]
The OS image was the **CentOS 7.8**.

The host's address I filled in is the **ECS's public IP**. And the internal address I filled in is the **same as** the `address` field.

It seems Alibaba cloud's console doesn't support modify host name but only support modify the instance name, which is totally different from Qing cloud. So I changed the **instance name** and filled it into th

[2020-11-23 10:05] pixiake commented on #384
The configuration file is a direct copy from `https://github.com/kubesphere/kubekey/blob/master/docs/config-example.md` ?

You can create configuration file by `./kk create config` and try again.

[2020-11-23 11:27] Sh-Zh-7 commented on #384
OK, I found the problem.
It's the [template on the official website](https://kubesphere.com.cn/docs/installing-on-linux/public-cloud/install-kubesphere-on-ali-ecs/#%E9%9B%86%E7%BE%A4%E9%85%8D%E7%BD%AE%E8%B0%83%E6%95%B4) that made this mistake.
The field `spec` has one more indentation. That is to say, the
[code]
should be
[code]
Fix it and then close this issue pls.

[2020-11-25 00:20] LinuxSuRen opened #385 "Error: Failed to get cluster status: illegal base64 data at input byte 2"
I try to install Kubesphere with kk. But it's failed. Before I run `kk create cluster --with-kubesphere` Kubernetes is ready.

Version:
[code]

Environment:
[code]

Part of the error output:
[code]

After that Kubernetes is ok. But Kubesphere is not ready.
[code]

/kind bug

[2020-11-25 00:27] LinuxSuRen commented on #385
I resolved this by fixing my `.bashrc` file. I think it caused by:
[code]

I don't why my `.bashrc` affects this progress somehow. But it should be a bug.

[2020-11-25 07:03] xuelangos commented on #383
remove？Where should I define CIDR?

[2020-11-25 08:33] pixiake commented on #385
Can you show us the` .bashrc` for this problem?

[2020-11-25 08:38] LinuxSuRen commented on #385
I run `curl https://sourl.cn/4hKrxx -L | sh` first. It'll add the following line as the last line of `.bashrc`:

`source ~/.ks-scripts/ks-bash.sh`

I believe that the following line caused this issue:
https://github.com/LinuxSuRen/ks-scripts/blob/cb0a1f7e7fce869fa3c3bac8fe7d0115e59f4f34/ks-bash.sh#L29

[2020-11-25 10:19] pixiake commented on #383
Yes, remove this file and a new one will be created according to the configuration, otherwise, the file will be used to create network plugin.

[2020-12-08 07:56] pixiake opened #391 "external etcd upgrade not found xxx.pem"
![image](https://user-images.githubusercontent.com/22290449/101455596-cc7e9b80-396d-11eb-91b0-ff6e070bac23.png)
![image](https://user-images.githubusercontent.com/22290449/101455630-d7d1c700-396d-11eb-9edf-eb1743676eed.png)

[2020-12-09 06:30] #391 closed

[2020-12-09 10:00] xrjk opened #393 "error：Failed to enable kubelet service"
version 1.0.1
ERRO[17:10:50 CST] Failed to enable kubelet service: Failed to exec command: sudo -E /bin/sh -c "systemctl enable kubelet && ln -snf /usr/local/bin/kubelet /usr/bin/kubelet"
Failed to execute operation: File exists: Process exited with status 1  node=

[2020-12-09 11:28] Forest-L commented on #393
@xrjk  Is the machine clean? You can kubelet logs， such as systemctl status kubelet or journalctl -u kubelet -f.

[2020-12-09 13:06] xrjk commented on #393
Dec 09 21:05:56 k8s1 kubelet[27784]: F1209 21:05:56.913365   27784 server.go:199] failed to load Kubelet config file /var/lib/kubelet/config.yaml, error failed to read kubelet config file "/var/lib/kubelet/config.yaml", error: open /var/lib/kubelet/config.yaml: no such file or directory
Dec 09 21:05:56 k8s1 systemd[1]: kubelet.service: main process exited, code=exited, status=255/n/a
Dec 09 21:05:

[2020-12-09 13:37] Forest-L commented on #393
Firstly ./kk delete cluster and ./kk create cluster ***

[2020-12-10 03:29] xrjk commented on #393
执行了 ./kk delete cluster

[2020-12-10 06:37] Forest-L commented on #393
@xrjk
1. Please provide the operating system you are using.
2. Provide the config-sample.yaml .
3. More kubelet log, such as journalctl -u kubelet -f.

[2020-12-12 08:22] FeynmanZhou opened #397 "Investigate: Support install EKS-D with KubeKey"
We want to add KubeKey (or ks-installer) and KubeSphere to [EKS-D Partner page](https://distro.eks.amazonaws.com/community/partners/) if EKS-D could be installed using kk or integrated with KubeSphere.

[2020-12-14 05:18] aogg opened #398 "A机器安装B机器的单节点k8s，是不是需要开通etcd的端口，能改为不开通的吗"
[node1] Downloading image: calico/node:v3.15.1
[node1] Downloading image: calico/pod2daemon-flexvol:v3.15.1
INFO[13:16:09 CST] Generating etcd certs
INFO[13:16:10 CST] Synchronizing etcd certs
INFO[13:16:10 CST] Creating etcd service
INFO[13:16:11 CST] Starting etcd cluster
[node1 159.75.213.128] MSG:
Configuration file already exists
Waiting for etcd to start
Waiting for etcd to start
Waiting for

[2020-12-14 14:31] Forest-L commented on #398
Only one install KubeSphere by kk? No ports need to be opened.

[2020-12-17 05:41] stoneshi-yunify opened #400 "kk stuck at installing docker"
kk v1.0.1, ubuntu 18.04.1 on qingcloud, brand new instance.

kk stuck at installing docker forever:
[code]

I then checked the source code of kubekey, and found it rans the ` https://kubernetes.pek3b.qingstor.com/tools/kubekey/docker-install.sh` to install docker.

I then downloaded and started the docker-install.sh directly, and a window pops up as below, so the kk must be stuck at configuring li

[2020-12-17 06:12] pixiake opened #401 "support pull images from aliyuncs"

[2020-12-21 03:57] FeynmanZhou commented on #397
EKS-D includes upstream Kubernetes, which means ks-installer should be naturally supported. From my view, the most important thing is that how to integrate more closely with its CSI and EKS-D's related components.

![image](https://user-images.githubusercontent.com/40452856/102737926-a270a480-4383-11eb-8570-199bca5dc5ac.png)

[2020-12-21 07:27] Forest-L commented on #397
EKS-D relies on this tool kOps installation of K8s, and the dependency on AWS is quite strong.

[2020-12-24 02:27] d3957 commented on #393
systemctl disable kubelet

[2020-12-24 03:14] #393 closed

[2020-12-25 07:30] #401 closed

[2020-12-25 10:33] duanjiong opened #403 "Add parameters to support not installing the cni plugin"
Maybe the plug-ins that come with it can't meet the demand, otherwise kubekey has to install some kind of plug-in first and then uninstall it, which is not too convenient and makes it more difficult to use

[2020-12-25 10:34] duanjiong commented on #403
/assign @pixiake

[2020-12-28 07:12] LinuxSuRen opened #406 "[ERROR FileExisting-conntrack]: conntrack not found in system path"
I compile `kk` with command: `make kk-linux`. Then run it via: `kk create cluster --with-kubernetes v1.19.0`. But I got the following errors:

[code]

# OS
[code]

/kind bug

[2020-12-28 09:59] pixiake commented on #406
`conntrack` needs to be installed in advance.
https://github.com/kubesphere/kubekey#requirements-and-recommendations

[2020-12-28 13:30] #403 closed

[2020-12-28 13:39] LinuxSuRen commented on #406
Thanks to @pixiake , I've fixed it after run `yum install conntrack`

But I got a new error with `kk create cluster --with-kubesphere nightly-20201227`:
[code]

[2020-12-28 14:24] FeynmanZhou commented on #398
Closed. If you think this is unresolved, pls reopen it.

[2020-12-28 14:24] #398 closed

[2020-12-28 16:16] pixiake commented on #406
Yes, I got it and I have fixed this issue.

[2020-12-29 02:08] #406 closed

[2020-12-29 08:00] Forest-L commented on #400
/close
If there are still problems, please reopen.

[2020-12-29 08:00] #400 closed

[2020-12-30 14:11] LinuxSuRen commented on #23
Actually, I've added this feature. But I didn't add a completion feature for all sub-commands. I guess we can close this issue.

See also #375 and #407

[2020-12-30 14:16] LinuxSuRen commented on #346
I guess this feature request was done. See also #392. Please close this issue if I'm right.

[2020-12-30 15:31] #1 closed

[2020-12-30 15:32] #2 closed

[2020-12-30 15:32] #23 closed

[2020-12-30 15:33] #28 closed

[2020-12-30 15:33] #397 closed

[2020-12-30 15:34] #364 closed

[2020-12-30 15:38] #208 closed

[2020-12-30 15:39] #166 closed

[2020-12-30 15:41] #58 closed

[2020-12-30 15:42] #383 closed

[2020-12-30 15:43] #161 closed

[2021-01-04 12:42] #346 closed

[2021-01-05 09:36] xiaosuiba opened #418 "Add `-y` flag for delete command"
We are integrating kk in our devops solution, automation is important. We found `kk create` has a `-y` flag, which will skip pre-check of the installation, a.k.a perform a quiet install. But `-y` does not exist in `kk delete` context, so we need to do a `yes | kk delete ...` or `echo yes | kk delete...`. That works, but we will be really appreciated if you could add `-y` flag  for `kk delete`.

[2021-01-05 09:52] LinuxSuRen commented on #418
So glad to hear that you're using `kk` as part of your solution. I believe your suggestion is very good. I'm looking forward this feature too.

/kind feature

[2021-01-05 09:55] LinuxSuRen commented on #347
I met the same problem. I was wondering if @liucy1983  you can rewrite the issue title with English.

/kind feature

[2021-01-08 03:46] pixiake commented on #418
Deleting a cluster is a high-risk operation. If secondary confirmation is skipped, I think there is a risk of mistake operation.

[2021-01-15 03:14] pixiake opened #424 "Support installation of K3S and EKS-D"

[2021-01-20 14:15] hustlibraco commented on #317
I do same operation, and get nothing. maybe it should print some tips when debug flag enabled.

[2021-01-22 02:35] adamwoolhether commented on #208
Sorry to bring up a closed issue, but there's not link to a merge...was this addressed? I can't see anything about other CRI in the docs?

[2021-01-22 03:05] Forest-L commented on #208
https://github.com/kubesphere/kubekey/pull/386

[2021-01-22 03:30] FeynmanZhou commented on #208
@adamwoolhether Thanks. These runtimes have been already supported in Kubekey.

@pixiake @Forest-L I think we need to add an instruction on how to enable other CRIs in the document.

[2021-01-25 02:07] LinuxSuRen opened #427 "Using GitHub to upload the relevant binary files to other storage"
Some binary files come from QingCloud OSS when the `KKZONE` is `cn`. But no one knows when, how those files transfer to it. It's good to maintain them by GitHub. So everyone can help to maintain it.

[2021-01-25 02:28] FeynmanZhou commented on #427
Github is not accessible in some regions, do you have considerations and solutions for it?

[2021-01-25 02:34] LinuxSuRen commented on #427
I'm not talking about only put these files into GitHub or only take these files from GitHub. Having multiple storages is a good strategy. But the process should be open. All community members should know HOW and WHEN we handle these files.

So, what I'm proposing is that using GitHub action to handle these files instead of upload them locally.

[2021-01-28 02:37] LinuxSuRen opened #435 "Proposal: upload the binary file of kk to qingstor.com"
The release frequency of kk is very slow. Actually, we already did a lot of amazing work. But for many uses who willing to try something new is not so convenient. They still need to compile the source code to get the latest kk.

So, what I want to propose is that upload the binary file to qingstor.com once a PR gets merged. And it should not be hard work.

The upload API might be like this:

[code

[2021-02-02 03:38] wangkuan opened #442 "在离线环境下，能否离线安装 Docker?"
如题

[2021-02-02 03:58] pixiake commented on #442
https://kubesphere.com.cn/forum/d/2034-kubekey-kubesphere-v300

如果离线包中有对应操作系统的依赖包，是可以离线安装相关以来软件的，不过为了避免依赖问题，建议提前将以来软件装好做成系统镜像。

PS: 中文问题建议到 [ KubeSphere 中文官方论坛](https://kubesphere.com.cn/forum/)发帖提问。

[2021-02-02 03:58] #442 closed

[2021-02-02 09:06] LinuxSuRen opened #444 "Proposal: Speed up the release"
Since [v1.0.1](https://github.com/kubesphere/kubekey/releases/tag/v1.0.1) there're already [191 commits](https://github.com/kubesphere/kubekey/compare/v1.0.1...master) were already merged into the master branch. It's pity for us that our users have no chance to enjoy it but we already deliver so many improvements and bug fixes.

Before we release a minor even major version, it's best to hear from

[2021-02-02 09:40] pixiake commented on #435
Yes, I'll try to do that later.

[2021-02-02 09:55] FeynmanZhou commented on #444
I support monthly releases.

[2021-02-05 07:12] wangkuan opened #450 "高可用集群部署失败"
我使用腾讯云 CVM 主机部署高可用集群，配置文件如下

[code]

错误日志如下：

[code]

[2021-02-05 07:14] wangkuan commented on #450
如果不配置 address: "192.168.100.7"，比如留空 address: "" 可以部署成功，但是此时只有 Master-1 节点会提供 KubeAPI 服务

[2021-02-06 02:05] pixiake commented on #450
腾讯云的内网lb好像不支持这种用法，需要用外网lb，[KubeSphere中文官方论坛](https://kubesphere.com.cn/forum)里应该有对应的帖子。

PS: 中文问题可以直接在[中文官方论坛](https://kubesphere.com.cn/forum)里发帖提问。

[2021-02-06 02:05] #450 closed

[2021-02-07 02:41] LinuxSuRen commented on #371
/kind bug
/good-first-issue
/help

[2021-02-07 02:43] LinuxSuRen commented on #342
/kind support

[2021-02-07 03:08] wangkuan commented on #450
好像确实是 CLB 回环的问题导致的，但这个地方卡住是不是因为要等待 master-1 的 KUBE-API 可用？还是有其他逻辑？如果只是等待，是否可以让其他节点交叉执行检查而从而避免 CLB 回环？

[2021-02-07 03:30] wangkuan commented on #450
另外，公网的 CLB 我测试过了，也存在回环的问题。

[2021-02-07 03:46] FeynmanZhou commented on #450
@wangkuan   Please try internal CLB in the Tecent cloud.

[2021-02-07 04:03] LinuxSuRen commented on #444
/kind proposal

[2021-02-07 04:03] LinuxSuRen commented on #435
/kind proposal

[2021-02-07 04:03] LinuxSuRen commented on #427
/kind proposal

[2021-02-07 06:41] wangkuan commented on #450
Intranet CLB has loopback problems

[2021-02-07 06:42] wangkuan commented on #450
To be precise, as long as Tencent Cloud CLB has loopback problems. kubekey does not support Tencent Cloud.

[2021-02-08 03:31] pixiake opened #451 "Taint setting support for nodes prior to installation"

[2021-02-08 03:41] pixiake opened #452 "Cluster installation with ipv6 support"

[2021-02-15 05:27] herotan opened #454 "question about the certification when installing k8s with kk"
请教：
1、默认安装后证书有效期也是1年吗？
2、kk 1.0.1 版本没有./kk certs 参数可用
3、部署的K8S关键服务（kube-api,kube-schedule,kube-control等）全部是通过二进制方式 运行的吗？
谢谢！

[2021-02-15 23:56] pixiake commented on #454
Installed using kubeadm, so the control-plane components are containers，and the certificate is valid for 1 year.
v1.1.0-alpha should be able to use ./kk certs.

[2021-02-18 09:52] Forest-L opened #459 "[FEATURE] Check whether the machine has multiple network cards, and prompt KK which network card to use"

[2021-02-18 09:54] Forest-L commented on #459
/assign @pixiake @Forest-L

[2021-02-20 05:44] cnmill opened #464 "kk overwrite config of the existing components, such as memory settings of etcd"
使用kk部署添加节点执行./kk add nodes -f xx后会对已经部署的etcd等配置进行覆盖.etcd docker有memory限制,无配置项建议修改,或者添加不覆盖已有配置的选项
	EtcdTempl = template.Must(template.New("etcd").Parse(
		dedent.Dedent(`#!/bin/bash
/usr/bin/docker run \
  --restart=on-failure:5 \
  --env-file=/etc/etcd.env \
  --net=host \
  -v /etc/ssl/certs:/etc/ssl/certs:ro \
  -v /etc/ssl/etcd/ssl:/etc/ssl/etcd/ssl:ro \
  -v /var/lib/etcd:/var/lib/etcd:rw \

[2021-02-20 06:12] LinuxSuRen commented on #464
/retitle kk overwrite config of the existing components, such as memory settings of etcd

[2021-02-20 06:14] LinuxSuRen commented on #464
We encourage everyone to communicate in English. It's good for community health.

[2021-02-20 06:16] LinuxSuRen commented on #454
/retitle question about the certification when installing k8s with kk

We encourage everyone to communicate in English. It's good for community health.

[2021-02-20 06:16] LinuxSuRen commented on #454
/kind support

[2021-02-20 06:18] LinuxSuRen commented on #464
/kind feature

[2021-02-22 01:44] xuelangos opened #465 "Restore the etcd modified parameters to their initial values"
When you use commands like add delete，kubekey restore the etcd value to their initial values;Causes cluster run-down
ex: memory=2G
after: memory = 512M
Lack of judgment；

[2021-02-22 01:45] #465 closed

[2021-02-22 07:18] wangkuan opened #466 "应该考虑支持腾讯云 CLB 部署"
就如我在 #450 提到的问题一样，在腾讯云中使用 CLB 部署，脚本无法正确等待 Kube-API 已准备就绪状态。

[2021-02-22 07:42] pixiake commented on #466
It is recommended to use the `public ip` of the Tencent Cloud‘s loadbalancer.

We encourage everyone to communicate in English. It's good for community health.

[2021-02-22 12:22] FeynmanZhou opened #467 "Vote for Kubekey's logo"
Which icon you prefer? Feel free to leave your comments below:

- Icon 1

![image](https://user-images.githubusercontent.com/40452856/108707665-555bab00-754b-11eb-852c-461f9c1aede1.png)

- Icon 2

![image](https://user-images.githubusercontent.com/40452856/108707672-57be0500-754b-11eb-9eed-3fdd6a8452d5.png)

[2021-02-22 12:55] Sherlock113 commented on #467
I reckon the second "k" should be capitalized in both versions.

[2021-02-22 14:23] calvinyv commented on #467
any other choices? :( I think the 2nd icon is much more matched for KubeEye...

[2021-02-23 01:51] rayzhou2017 commented on #467
I agree with @Sherlock113 and @calvinyv. The first one is too complicated. The second is more suitable for KubeEye.

[2021-02-23 07:49] LinuxSuRen commented on #466
/retitle Request to support deploy with Tencent CLB

hi @wangkuan I'm not sure if I rewrite the title correctly. Please correct it again if it's not.

hi @pixiake It looks like a feature request. How do you think about it? Please help to correct it if it's not.

/kind feature-request

[2021-02-23 08:11] pixiake commented on #466
1. This is related to Tencent Cloud's loadbalancer feature，kk just uses the already created loadbalancer.
2. Some people have successfully installed it on Tencent Cloud, it should be necessary to use the public ip of lb and the security group needs to open the corresponding ports.

[2021-02-24 03:22] Forest-L commented on #467
I think the Logo can add a little Kubernetes element information.

[2021-02-25 08:57] wangkuan commented on #466
1. Tencent Cloud's load balancer function is indeed quite special, which will cause loopback problems, but I think whether the state check logic of kk should be adapted and compatible to a certain extent?（ Tencent Cloud's Loadbalancer feature 确实比较特殊，会导致回环的问题，但我觉得在 kk 的状态检查逻辑是否应该做一定的适配和兼容？）
2. I have tried to use the public network type CLB, but there is still this loopback problem, and I submitted

[2021-02-26 05:32] pixiake commented on #466
It is recommended to refer to this document:
https://kubesphere.com.cn/forum/d/3821-kubesphere

[2021-02-26 05:34] pixiake commented on #466
@wangkuan
It is recommended to refer to this document:
https://kubesphere.com.cn/forum/d/3821-kubesphere

[2021-03-02 03:37] RolandMa1986 opened #469 "Kubernetes hardening with Kubekey"
Securing Kubernetes is one of the critical issues for cluster admins. With Kubekey, we should provide an out of box security solutions. The CIS benchmark is one of the most well-known guidance for secure a Kubernetes cluster. Kubekey has already followed most of the guidelines. However, most users would prefer to use automatic tools such as **Kube-bench**, But they depend on the specific configura

[2021-03-02 06:17] pixiake commented on #469
Yes,  We'll do these.

[2021-03-02 07:13] Forest-L commented on #424
https://github.com/kubesphere/kubekey/pull/468

[2021-03-02 07:22] Forest-L commented on #368
Have you resolved your issues, @aogg  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 07:23] Forest-L commented on #368
/close

[2021-03-02 07:23] #368 closed

[2021-03-02 07:24] LinuxSuRen commented on #368
/retitle Panic due the nil occur with kk create command

[2021-03-02 07:28] Forest-L commented on #48
Have you resolved your issues, @liuyp2018  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 07:30] #59 closed

[2021-03-02 07:34] #63 closed

[2021-03-02 07:34] Forest-L commented on #344
Have you resolved your issues, @xmapst  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 07:41] Forest-L commented on #290
Have you resolved your issues, @He72  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 07:41] Forest-L commented on #288
Have you resolved your issues, @Yuanyp8  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 07:42] #258 closed

[2021-03-02 07:42] LinuxSuRen opened #470 "Error: Failed to init kubernetes cluster: interrupted by error"
I try to install KubeSphere with kk: `kk create cluster --with-kubesphere nightly-20210301 -y`

You can get the version of kubekey below:
[code]

Below is the error during the installation:
[code]

# .kube
[code]

# Addition
I've installed KubeSphere successfully many times in this VM before.

/kind bug

[2021-03-02 07:43] #254 closed

[2021-03-02 07:44] Forest-L commented on #253
Have you resolved your issues, @hawking-lab  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 07:45] Forest-L commented on #78
Have you resolved your issues, @aidocker  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 07:45] LinuxSuRen commented on #344
/retitle Error with message 'configmap "kubesphere-config" not found'

[2021-03-02 07:45] Forest-L commented on #79
https://kubesphere.com.cn/forum/d/2034-kubekey-kubesphere-v300/113

[2021-03-02 07:45] #79 closed

[2021-03-02 07:46] #83 closed

[2021-03-02 07:47] #89 closed

[2021-03-02 07:48] #91 closed

[2021-03-02 07:49] #93 closed

[2021-03-02 07:50] #94 closed

[2021-03-02 07:52] Forest-L commented on #105
https://v3-0.docs.kubesphere.io/docs/faq/observability/logging/#how-to-change-the-log-store-to-the-external-elasticsearch-and-shut-down-the-internal-elasticsearch

[2021-03-02 07:52] #105 closed

[2021-03-02 07:56] Forest-L commented on #125
Have you resolved your issues, @wanminny  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 07:56] Forest-L commented on #133
Have you resolved your issues, @hawking-lab  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 07:57] Forest-L commented on #146
Have you resolved your issues, @tscswcn  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 07:57] #147 closed

[2021-03-02 07:59] Forest-L commented on #157
Have you resolved your issues, @WaysonWei  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 08:01] Forest-L commented on #171
Have you resolved your issues, @liaoyinfeng  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 08:02] Forest-L commented on #207
Have you resolved your issues, @LiuG-lynx  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 08:07] Forest-L commented on #213
Have you resolved your issues, @lilien1010 ? Please let me know if you have any other questions or close this issue.

[2021-03-02 08:08] #243 closed

[2021-03-02 08:10] Forest-L commented on #291
Have you resolved your issues, @xuelangos  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 08:13] #317 closed

[2021-03-02 08:15] #347 closed

[2021-03-02 08:18] Forest-L commented on #355
Have you resolved your issues, @wushifeng  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 08:21] Forest-L commented on #470
You can see the documentation, you need to bring Kubernetes installation
https://github.com/kubesphere/kubekey#advanced

[2021-03-02 08:24] Forest-L commented on #466
Have you resolved your issues, @wangkuan  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 08:26] Forest-L commented on #454
https://github.com/kubesphere/kubekey/pull/380
Have you resolved your issues, @herotan  ? Please let me know if you have any other questions or close this issue.

[2021-03-02 08:31] #418 closed

[2021-03-02 08:32] #384 closed

[2021-03-02 09:04] pixiake commented on #444
Yes, I agree this!
I'm still refining the project, after that I will do this.

[2021-03-02 14:11] LinuxSuRen commented on #470
I still cannot install ks with the kubernetes option:
[code]

[2021-03-03 01:08] wushifeng commented on #355
Yes, resolved. But manual modify by using ipvsadm -C below.

[2021-03-03 01:47] #355 closed

[2021-03-03 02:12] Forest-L commented on #470
"Configuration file already exists"
You can delete it and install it again.

[2021-03-03 09:06] xmapst commented on #344
我放弃了

[2021-03-03 09:06] #344 closed

[2021-03-04 02:08] lilien1010 commented on #213
@Forest-L  I think it's all good for me now.

[2021-03-04 07:53] #213 closed

[2021-03-06 00:24] noprom opened #471 "HA server install fail on DigitalOcean"
My `cluster.yaml`:
[code]

My commands:
[code]

k8s install is ok, but openebs always fail:
[code]
My loadbalancer is ok:
[code]
[code]
You can try it by simply create 4 `2c4g` droplets on [digitalocean](https://digitalocean.com)

[2021-03-06 06:22] FeynmanZhou commented on #471
cc @kubesphere/sig-infra

[2021-03-06 06:23] FeynmanZhou commented on #471
/kind help wanted

[2021-03-07 03:45] qq676596084 opened #472 "When will other versions of v1.19. X be supported?"
Now only v1.19.0 can be deployed. Others, such as the latest version of v.1.19.8,
are not supported. Can this version be deployed?

[2021-03-08 07:19] FeynmanZhou opened #473 "How to get the daily build of v3.1.0"
The development of most features has been completed by community, how to download the daily build and test it?

[2021-03-08 07:20] FeynmanZhou commented on #473
/kind documentation

[2021-03-08 13:04] eltonbfw opened #474 "Can you specify the working directory for kubelet and docker via config.yaml when installing kubesphere all-in-on"
https://github.com/kubesphere/kubekey/blob/master/docs/config-example.md

The documentation only has an example configuration file and lacks a complete description of the configuration

[2021-03-08 13:07] eltonbfw commented on #474
As a side note, the default working directory for kubelet and docker are: /var/lib/kubelet and /var/lib/docker respectively. Generally speaking, the system disk of the operating system is mounted in the root (/) directory, and if no changes are made, the data will soon be written to the system disk

[2021-03-10 09:25] LiuG-lynx commented on #207
I have closed the issue

[2021-03-10 09:25] #207 closed

[2021-03-10 21:23] geneliu commented on #467
like the 2nd one more! :)

[2021-03-11 07:45] pixiake commented on #474
Specifying working directory for kubelet and docker is not currently supported.
It is recommended that /var/lib/docker mounts a drive separately.

Later we will consider supporting specified working directory.

[2021-03-11 07:49] pixiake commented on #473
## Build Binary from Source Code

### Method 1

[code]

### Method 2

[code]

##  Install Daily Build of KubeSphere v3.1.0

[code]

[2021-03-12 00:46] LinuxSuRen opened #476 "Failed to upgrade KubeSphere to a nightly version"
After I tried to upgrade KubeSphere to a nightly version via: `kk upgrade --with-kubesphere nightly-20210311`.

I got an error: `ERRO[08:43:54 CST] Unsupported version: nightly-20210311`

/kind bug

[2021-03-12 00:47] LinuxSuRen commented on #473
Currently, kk still does not support upgrade KubeSphere to a nightly version. See also #476

[2021-03-15 02:21] LinuxSuRen opened #479 "Suggestion: do not delete kubectl when delete cluster with kk"
`kubectl` is just a CLI of the k8s cluster. It's not necessary to delete kubectl from the machine especially when the kubeclt exists before using `kubekey`.

/kind feature-request

[2021-03-23 16:59] pixiake commented on #472
v1.19.8 and v1.20.4 are currently supported. You can build by yourself or wait for the release.

[2021-03-24 11:06] cccfs opened #487 "Support apiserver|controller-manager|kubelet custom options?"

[2021-03-29 07:22] bruceforlearn opened #490 "a suggestion about kubekey with harbor"
When kubekey installs the k8s cluster, can you add a harbor option which install the harbor synchronously to distribute the certificate to each node, instead of manually updating daemon.json

thank you

[2021-03-29 07:35] LinuxSuRen commented on #490
hi, @bruceforlearn , thanks for your suggestion.

Harbor is an important component for many users. Update the config of docker daemon manually is painful especially there's plenty of them. I also wish that having a command to do it quickly.

But in my opinion, kubekey probably should focus on the installation for Kubernetes and KubeSphere. Some features like the above can be a plugin of kubekey in

[2021-03-29 07:38] LinuxSuRen commented on #487
hi @cccfs , thanks for reaching out to us. In order to let more people can understand your case, I'm wondering if you can provide more details about your idea here. It's hard to know if you want to request a new feature or report a bug at least for me.

/triage need-information

[2021-03-29 07:42] LinuxSuRen commented on #467
I guess that we can close this issue against #482 and #484

[2021-03-29 07:42] LinuxSuRen commented on #467
/kind need-to-verify

[2021-03-29 07:48] sbhnet opened #491 "err: exit status 1: stderr: package k8s.io/code-generator: build constraints exclude all Go files in go\pkg\mod\k8s.io\code-generator@v0.18.8"
-
package tools
import _ "k8s.io/code-generator“
+
package tools

import (
	_ "k8s.io/code-generator/cmd/client-gen"
	_ "k8s.io/code-generator/cmd/conversion-gen"
	_ "k8s.io/code-generator/cmd/deepcopy-gen"
	_ "k8s.io/code-generator/cmd/defaulter-gen"
	_ "k8s.io/code-generator/cmd/go-to-protobuf"
	_ "k8s.io/code-generator/cmd/import-boss"
	_ "k8s.io/code-generator/cmd/informer-gen"
	_ "k8s.io/code

[2021-03-30 02:45] cccfs commented on #487
hi @LinuxSuRen , if Kubekey is used to build the production kubernetes cluster, I need to change the default kubelet paramether and the apiserver paramether, but check the Kubekey documentation did not find the case.
e.g:
* Change kubelet args:
[code]
* Change kube-apiserver args:
[code]

[2021-03-30 02:53] LinuxSuRen commented on #487
/cc @kubesphere/sig-installation Do you have any ideas about this?

[2021-03-30 12:36] pixiake commented on #491
The following two methods are recommended for build

### Method 1

[code]

### Method 2

[code]

[2021-03-31 06:58] pixiake commented on #487
Custom parameters are not supported at the moment, this feature will be supported in a future version.

[2021-03-31 07:02] LinuxSuRen commented on #487
/kind feature-request
/remove-triage needs-information

[2021-03-31 13:15] #491 closed

[2021-04-02 04:58] fengnex opened #494 "How to change the port from 22 to others"
如题

[2021-04-02 05:46] LinuxSuRen commented on #494
hi @fengnex , thanks for reaching us. I encourage everyone to communicate in English here. If you prefer to use Chinese, please go to the [forum](https://kubesphere.com.cn/forum).

I'll rewrite your issue title in English. Please correct me if it's not accurate.

By the way, I don't understand which port does want to ask. Please consider providing more context and details. Thanks again.

/retitle

[2021-04-02 07:10] fengnex commented on #494
OK， please look at the following error message and you'll find that kk always try to connect to the port 22, which is not opened in the server with ip:10.*.*.* and it actually uses 38022 instead:
ERRO[12:56:25 CST] Failed to connect to 10.*.*.*: could not establish connection to 10.*.*.*:22: dial tcp 10.*.*.*:22: connect: connection refused  node=10.*.*.*
WARN[12:56:25 CST] Task failed ...
WARN[12

[2021-04-02 07:13] FeynmanZhou commented on #494
Are you using all-in-one or multi-node installation?

[2021-04-02 07:14] fengnex commented on #494
I am using the all-in-one

[2021-04-06 02:10] pixiake commented on #494
Turn off the server's firewall.
or
You can change the ssh port by means of a configuration file.

[2021-04-06 03:49] fengnex commented on #494
The test server does not use the default ssh port 22 for some security reasons, so maybe turning off its firewall is useless.
On changing the ssh port  through a configuration file, could you please provide a detailed example or some concrete tips so that we can try it right now? Thanks first.

[2021-04-06 05:03] pixiake commented on #494
1. ./kk create config
2. Modify the configuration file   config-sample.yaml
    https://github.com/kubesphere/kubekey/blob/master/docs/config-example.md
3. ./kk create cluster -f config-sample.yaml

[2021-04-19 04:09] #487 closed

[2021-04-19 14:10] chenqi4547 opened #507 "ks-installer ImagePullBackOff with ks-installer:v3.1.0"
Failed to pull image "registry.cn-beijing.aliyuncs.com/kubesphereio/ks-installer:v3.1.0": rpc error: code = Unknown desc = Error response from daemon: manifest for registry.cn-beijing.aliyuncs.com/kubesphereio/ks-installer:v3.1.0 not found: manifest unknown: manifest unknown

[2021-04-19 15:59] pixiake commented on #507
After the release of 3.1, the relevant images will be pushed to the AliCloud repository, now you can replace the images with `kubespheredev/ks-installer:nightly-202104xx` or `kubespheredev/ks-installer:latest`.

[2021-04-20 00:18] LinuxSuRen commented on #507
/kind support

[2021-04-20 00:19] LinuxSuRen commented on #507
/retitle ks-installer ImagePullBackOff with ks-installer:v3.1.0

[2021-04-20 08:01] pyfs opened #508 "docker daemon.json rewrited when docker first installed, this cause network conflict error"
this happens when user's local network addr is "172.17.xxx.xxx" which conflict with docker0 bridge;

before installation, there's bip set in  `/etc/docker/daemon.json`，but rewrite by docker_install.sh ；

do not rewrite user's docker settings or dynmicly modify it instead of full rewrite; it will be more robustic !!!

[2021-04-21 13:57] yuswift opened #509 "can not init k8s cluster when docker is not installed"
INFO[21:48:32 CST] Installing docker ...
ERRO[21:48:54 CST] Failed to install docker:
% Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--   100 1514

[2021-04-22 02:16] pixiake commented on #509
Please provide os distribution and version.

[2021-04-22 02:19] pixiake commented on #508
If docker was already installed on your host,  docker configuration shouldn't be overridden.

[2021-04-22 02:50] pyfs commented on #508
can we have a key in kubekey config file to determine whether rewrite `deamon.json` or not ?

[2021-04-22 04:15] yuswift commented on #509
Linux node1 4.15.0-122-generic #124~16.04.1-Ubuntu SMP Thu Oct 15 16:08:36 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
I remember we have discussed this bug before. I suggest that kk shouldn't rely on the link.

[2021-04-22 10:15] xiabai84 commented on #467
Absolutely the 2nd

[2021-04-27 08:28] #507 closed

[2021-04-27 13:09] pixiake commented on #471
Looks like it has something to do with firewalls or security groups.

[2021-04-27 14:02] #459 closed

[2021-04-27 14:03] #472 closed

[2021-04-27 15:45] #464 closed

[2021-04-27 15:45] #479 closed

[2021-04-27 18:33] pixiake commented on #508
If `/etc/docker/daemon.json` exists on the node, it will not be overwritten.
You can use the master branch code to build or wait for the v1.1.0 version.

[2021-04-27 18:35] #508 closed

[2021-04-29 03:44] shaowenchen opened #520 "stderr: unlinkat while installing Kubernetes"
There are my steps:

1. kk create config
2. filling my params to config-sample.yaml
3. kk create cluster -f config-sample.yaml

But it raises an error.

[code]

The follwing is my solution.

https://www.chenshaowen.com/blog/how-docker-pull-images.html

[2021-04-29 06:53] yinmin2020 opened #521 "There is a problem with kubekey getting the docker version"
K8S version is 1.20, which is not installed with KK. Docker will be detected when KK is used to upgrade to 1.20.4, but docker is not supported in 1,20, the detection failed, please fix it, thank you
![image](https://user-images.githubusercontent.com/65068467/116512416-929d3a00-a8fa-11eb-9bc0-931ea3faabf5.png)

[2021-04-30 08:54] wsdflink opened #524 "Segmentation fault with kk v1.1.0 on arm64"
os: CentOS 7.6 64bit with ARM
version: kubekey-v1.1.0-linux-arm64.tar.gz
i got the "Segmentation fault" when run ./kk

[2021-04-30 08:57] LinuxSuRen commented on #524
/kind bug
/area arm64

[2021-04-30 08:58] LinuxSuRen commented on #524
/retitle Segmentation fault with kk v1.1.0 on arm64

[2021-05-06 08:32] pyfs opened #526 "segmentation Error when upgrade from v3.0.0 to v3.1.0 on centos7"
As upgrade according to `https://kubesphere.io/zh/docs/upgrade/upgrade-with-kubekey/`

Error as below:

[code]
---
Components Versions:

[code]

[2021-05-07 01:33] yuswift commented on #526
/kind bug
/cc @pixiake

[2021-05-10 02:46] wenxin-01 opened #528 "Failed to deploy KS environment with master as Ubuntu and node as CentOS"
![image](https://user-images.githubusercontent.com/68640256/117599357-41077180-b17c-11eb-9f95-2c2b35d75f77.png)

`It seems that kubedm has allocated a different configuration of Ubuntu from CentOS to CentOS, which makes calico unable to work`

/assign @pixiake

[2021-05-27 09:27] owenchenxy opened #539 "kk will pull all CNI plugin images even they are unnesscessary"
while I set the network plugin to 'none' in the config-sample.json as below:
[code]
it will still pull the images for all CNI plugins. Since I'm deploying the cluster offline, I only prepared the neccessary images, so that disk spaces and man power could be saved. But this led to a failure, whose error messages are as below:

[code]

I checked the source code in `prepull_images.go`, there is no co

[2021-05-27 09:55] #539 closed

[2021-05-28 13:48] lshmouse opened #540 "Add an unit test framework for kubekey"
Currently,  the test coverity is very low. We need to add  an unit test framework for KK command to simulate all kinds of cases

[code]

[2021-05-28 16:07] FeynmanZhou commented on #540
Thanks for pointing this issue. Would you like to help us to add a unit test framework and contribute to KubeKey? It would be much appreciated that you can work with us to complete it.

[2021-05-29 08:47] jixiaoshi-gif opened #541 "Failed to download image flannel from aliyun registry"
ERRO[15:50:41 CST] Failed to download image: registry.cn-beijing.aliyuncs.com/kubesphereio/flannel:v0.12.0: Failed to exec command: sudo env PATH=$PATH docker pull registry.cn-beijing.aliyuncs.com/kubesphereio/flannel:v0.12.0
镜像仓库是不是没有这个镜像？

[2021-05-30 05:15] LinuxSuRen commented on #541
Thanks for reaching out to us. We sync the images with the [repo image-sync-config](https://github.com/kubesphere/image-sync-config). Welcome to help add `flannel` into it.

By the way, we encourage people to communicate with each other in English. So, I'm going to help you to rewrite the issue title.

/retitle Failed to download image flannel from aliyun registry

[2021-06-01 08:45] lshmouse commented on #541
+1
https://github.com/kubesphere/image-sync-config/pull/7
Please help to review the PR, thanks~

[2021-06-02 02:28] lshmouse opened #546 "Etcd backup failed for wrong ENDPOINTS"
[code]

[2021-06-02 02:29] lshmouse commented on #546
The dir name : etcd-2021-06-02_09:46:43 is not convenient for bash completion

[2021-06-02 02:41] lshmouse commented on #546
Also see: https://bugzilla.redhat.com/show_bug.cgi?id=1822924

[2021-06-02 03:24] joker-bai opened #548 "Support for renew the certificates on KubeSphere automatically"
1、建议在Kubeshpere界面新增集群证书监控，并能在证书过期之前提供告警
2、建议在kubesphere界面上可以支持一键更新证书功能

PS：更新证书其实很简单，但这也算是平台的一种能力

[2021-06-03 14:36] oldthreefeng opened #551 "default containerd version is to high can cause PLEG problem， why not changed it?"
for kk. install kubesphere 3.0 .
![image](https://user-images.githubusercontent.com/38313565/120662417-b59fa880-c4bb-11eb-9af6-89a46426d0d0.png)

![image](https://user-images.githubusercontent.com/38313565/120661760-22667300-c4bb-11eb-9d77-445d7c3a8787.png)

i found docker engine is 19.03.8.  but containerd version is 1.4.4. which default install docker-ce 19.03.9 recommand container 1.2.3, but th

[2021-06-04 02:42] 24sama opened #552 "There may be a bug in the code that excute tasks in parallel"
i'm reading the code in this file `run_task.go`.

[code]

it will be generating a new `timer` every times in the loop.

So when timeout takes effect, the execution result may appears:

[code]

I guess there should be a consistent timeout for  every task in parallel. When the timeout takes effect, All unfinished tasks should be shutdown (pherhaps there is only printing a fatal log in the code).

So

[2021-06-04 03:52] pixiake commented on #551
This is docker's default dependency, and ks has not modified it here.

In order to create clusters quickly, kk provides the ability to install docker, and uses official scripts (`curl -fsSL https://get.docker.com -o get-docker.sh`) to install docker.

[2021-06-04 05:59] oldthreefeng commented on #551
ok, may be some cri (containerd) has already installed before kk install.

[2021-06-04 06:08] oldthreefeng commented on #551
@pixiake  can you help me find the` install docker` code in kk ?

[2021-06-04 06:14] pixiake commented on #551
https://github.com/kubesphere/kubekey/blob/21350767cc8ba03561ae306213b334e79afd7ee7/pkg/container-engine/docker/docker.go#L97

Only one script was used to install docker.

[2021-06-04 07:20] pixiake commented on #548
Thanks for your suggestion, we will consider it.

[2021-06-04 07:49] #552 closed

[2021-06-07 07:47] zackzhangkai opened #556 "Should not support modify domain instead of cluster.local"
For istio cannot support cluster.local with a full test, such as this [issue](https://github.com/istio/istio/issues/28053), we should not support modify it by kk command.

[2021-06-08 17:58] #551 closed

[2021-06-09 05:40] Phoebus888 opened #557 "添加节点不会添加阿里云加速源"
执行./kk add nodes -f config-sample.yaml命令添加节点后，docker的配置文件daemon.json不会添加阿里加速源
"registry-mirrors"这个参数添加节点的时候是否能自动加上

[2021-06-09 06:07] #557 closed

[2021-06-09 08:56] JohnNiang opened #559 "Failed to add a node in fresh OS"
Recently, I tried to add a new node by using [kubekey v1.1.0](https://github.com/kubesphere/kubekey/releases/tag/v1.1.0), but it failed in the end.

- The error details as follow:

[code]

- Content of sample.yaml

[code]

/help

[2021-06-09 09:21] pixiake commented on #559
Has the hostname of the master been modified ?

[2021-06-09 10:02] JohnNiang commented on #559
@pixiake Thanks for your reply. I'm sorry for incomplete error log.

1. I changed my hostname after creating master node.

[code]

2. Additional error log

[code]

3. No further kubelet log in node to be added.

[2021-06-09 15:33] JohnNiang commented on #559
Additional machine environments:

- k8s-master

[code]

- k8s-worker

[code]

[2021-06-09 16:33] JohnNiang commented on #559
All of them are caused by my mistakes. The worker node and master are not in the same security group which causes the worker node cannot communicate with master with any port.

[2021-06-09 16:33] JohnNiang commented on #559
/close

[2021-06-11 06:42] EvanYen commented on #524
same error

[2021-06-14 15:30] shihaoH opened #560 "add nodes for master and etcd cluster, failed to exec command"
failed to add master to cluster: failed to exec command: sudo env PATH=$PATH /bin/sh -c " --apiserver-advertise-address 192.168.0.5"

[2021-06-14 23:32] #559 closed

[2021-06-15 01:08] LinuxSuRen commented on #546
hi @lshmouse , please help to check if #547 fixed this issue. I saw you just left the comment `Ref #546`.

/kind bug

[2021-06-15 01:15] LinuxSuRen commented on #444
Any updates here?

As we can see, there're 70 commits between [v1.1.0](https://github.com/kubesphere/kubekey/tree/v1.1.0) and the [master](https://github.com/kubesphere/kubekey) branch. You can see the comparison from [here](https://github.com/kubesphere/kubekey/compare/v1.1.0...master). And there are 12 contributors did their contribution during this time.

I guess it's enough to have a new patch

[2021-06-16 01:51] mpv945 opened #561 "Huawei cloud ARM processor openeuler 20.09 installation error"
Now ARM processor is more and more popular, we try a new way to deploy k8s, openeuler 20.09 + isula + arm. I hope the community can adapt

[2021-06-16 02:13] FeynmanZhou commented on #561
Hi @mpv945 , thanks for your feedback.

Actually, we have tested and verified installing KubeSphere on openEuler 20.09 with the ARM processor. You can take a look at [this post](https://kubesphere.com.cn/forum/d/3113-arm64-k8s-kubesphere).

Please also paste the error log you got from the ks-installer so we can help you to locate the issue : )

[2021-06-16 06:36] mpv945 commented on #561
no crontab for root
INFO[14:32:55 CST] Start to download images on all nodes
[node1] Downloading image: registry.cn-beijing.aliyuncs.com/kubesphereio/pause:3.2
[master1] Downloading image: registry.cn-beijing.aliyuncs.com/kubesphereio/pause:3.2
[master1] Downloading image: registry.cn-beijing.aliyuncs.com/kubesphereio/kube-apiserver:v1.20.4
[node1] Downloading image: registry.cn-beijing.aliyuncs.c

[2021-06-16 07:50] pixiake commented on #561
[code]
It appears that kubeadm cannot find crictl in the system env $PATH.

[2021-06-21 06:16] 24sama commented on #521
Can you use the commond `which docker` on your k8s nodes?
Normally, it will show `/usr/bin/docker`.

[2021-06-29 10:36] divfor opened #565 "kk create config from cluster reports error - kube-proxy not exist"
I have an existing kubernetes cluster that was not installed by kk:
 - k8s version 1.20.4
 - cilium 1.9.4 enabled
 - no kube-proxy enabled

when I create kk config from it, I got an error like as following:

[code]

[2021-06-29 10:42] divfor opened #566 "Require network cilium to enable without kube-proxy"
when I set network from calico to cilium, I cannot get a way to disable kube-proxy. if I delete ds/kube-prxoy after install, cilium will not work properly.

[2021-06-29 10:46] divfor commented on #566
this is not a normal add-on, so it requires take care additionally - if k8s apiServers are running on multiple nodes, cilium requires to set a LB IP as API Host, and this IP must be accessible without depending on cilium's LB feature, such as a static IPVS rule.

[2021-07-02 05:10] msalmanfarisi opened #569 "install kubesphere on openstack"
Hello,
anyone here has successfully installed kubesphere (+ kubernetes) on openstack?
I have never made it :(

Thanks

[2021-07-02 09:26] bjdaijun opened #570 "./kk add nodes -f sample.yaml not success"
1、I run  ./kk create cluster --with-kubernetes v1.20.4 --with-kubesphere v3.1.0 , and install kubesphere successfully.
2、Then I run ./kk add nodes -f sample.yaml to add Node,this time it report error:

[code]

Then, I go to 192.168.1.83 And Run  journalctl -xeu kubelet
And got error:

[code]

And I tried copy /kubelet-client-current.pem to 192.168.1.83,  re run add node, and find kk delete this fi

[2021-07-02 09:39] 24sama commented on #560
Can you paste your config file on this site?

[2021-07-02 09:48] 24sama commented on #570
Please make sure the new node is already install the `conntrack`.

[2021-07-02 09:53] 24sama commented on #569
Could you please describe in detail the problem you have?

[2021-07-02 11:46] msalmanfarisi commented on #569
hi @24sama thanks for your reply, could you please let me know the installation logs location?I can share with you the log if i know the location. since I was doing the installation directly from openstack console, so i cannot clearly inform what exactly the error messages were. It took long time to proceed kubernetes initialization and suddenly prompted the reset and deletion of some directories

[2021-07-02 14:36] bjdaijun commented on #570
Yes, conntrack is already installed in all nodes.

[2021-07-03 06:51] shihaoH commented on #560
`apiVersion: kubekey.kubesphere.io/v1alpha1
kind: Cluster
metadata:
  name: sample
spec:
  hosts:
  - {name: lb1, address: 192.168.161.222, internalAddress: 192.168.161.222, user: root, password: 1012}
  - {name: lb2, address: 192.168.161.223, internalAddress: 192.168.161.223, user: root, password: 1012}
  - {name: node1, address: 192.168.161.224, internalAddress: 192.168.161.224, user: root, pass

[2021-07-03 15:38] pixiake commented on #570
Is the docker‘s `cgroup driver` of the new node consistent with master01 ?

[2021-07-03 15:44] pixiake commented on #569
Can lb forward the 6443 port of the kube-apiserver normally ？

You can check as follows:
[code]
[code]
Compare the outputs of the two commands for consistency.

[2021-07-05 02:25] willzhang opened #571 "can kubekey support lb by itself?"
Internally, you can customize and enable a nginx load balancing, support private cloud and public cloud, and quickly deploy high availability clusters

/feature-request

[2021-07-05 02:33] 24sama commented on #571
This is exactly what I'm doing recently.

[2021-07-06 06:56] MonaxGT opened #572 "ERRO[09:20:51 MSK] PATH=$PATH /bin/sh -c "/usr/local/bin/kubeadm init"
Hi Kubersphere team!

I used [manual](https://kubesphere.io/docs/installing-on-linux/introduction/multioverview/) to deploy kubersphere. I installed all of depends.
I created `./kk create config --with-kubesphere v3.1.0` and 1.20.4 Kubernetes version (I also tried v1.19.8)

Then I run `sudo ./kk create cluster -f config-sample.yaml` and received error:
[code]
But if I just copy `sudo env PATH=$PAT

[2021-07-06 07:07] 24sama commented on #572
Maybe the commands `ip`, `iptables`, `ebtables`, `ethtool`, `tc` not found in your system path. You can check them first.

[2021-07-06 07:14] MonaxGT commented on #572
Hi! I've got all of this commands. I checked this at first) I really dunno why scrip write this
[code]

[code]

[code]

[code]

[code]

[2021-07-06 12:10] yanglinan01 opened #575 "kubekey all-in-one 安装为什么不直接用脚本"

[2021-07-06 13:30] FeynmanZhou commented on #575
Not clear about your question, could you add more description?

BTW, please join the [Chinese Forum](https://kubesphere.com.cn/forum) for Chinese questions.

[2021-07-06 13:30] #575 closed

[2021-07-06 20:48] MonaxGT commented on #572
I found out that problem with PATH environment...
I run `PATH=$PATH sudo ./kk create cluster -f config-sample.yaml` and it helps but now I received next error with cert.
[code]

[2021-07-07 01:53] pixiake commented on #572
You can try to delete the cluster (`./kk delete cluster -f config-sample.yaml`) and recreate it.

[2021-07-07 03:12] yanglinan01 commented on #575
kk安装单击k8s环境通过下面的命令
/kk create cluster --with-kubernetes v1.19.8
实际的安装过程我稍微跟踪了一下，检测环境-->下载文件-->下载镜像-->....->kubeadm init
感觉一个脚本就搞定了，为什么单独写个工具？
问题可能太傻 \﻿ (•◡•) /\﻿ (•◡•) /

[2021-07-07 03:29] pixiake commented on #575
This tool is used to deploy clusters. All-in-one is only one of the cases.

Of course, All-in-one can be realized by a script, but it is necessary to maintain a script and a tool. Now that the tool already exists, there is no need to maintain a separate script.

[2021-07-07 07:14] MonaxGT commented on #572
I've tried, it isn't help(

[2021-07-07 10:33] 24sama commented on #572
Check whether `$HOME/.kube/config` is correct. You can use `base64 -d` to decode it.

If it is wrong, you can `cp /etc/kubernetes/admin.conf $HOME/.kube/config` to change it.

Perhaps, recreate:
1. delete the cluster.
2. `rm $HOME/.kube/config`

[2021-07-07 11:28] pixiake commented on #572
I think there may be two solutions:
1. Use root to perform the installation.
2. Modify the `secure_path` in `/etc/sudoers`
`Defaults        secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"`

[2021-07-07 11:55] MonaxGT commented on #572
Thank but it isn't helps too...
Maybe something useful in this part of log:

[code]

BUT if I run this command - it is ended with success... I don't know why...
[code]

It's really strange .... like kk doesn't want read some paths. It can't be because my Kubernetes user have "-" inside? Maybe some logic of KK can be broken or something else?

[2021-07-07 12:37] MonaxGT commented on #572
I tried to change user without "-" and gave sudoers permissions to this user but I got the same error

[2021-07-08 07:16] pixiake commented on #572
It should have nothing to do with the user name.

Is it the same to report the error when installing directly with root?

[2021-07-08 07:26] MonaxGT commented on #572
Yes, I used **sudo su** and run code after that

[2021-07-08 07:45] 24sama commented on #572
Can you use `which ip` and `echo $PATH` in your master01 node? Do you mind if we can take a look at the command echo?

[2021-07-08 08:00] MonaxGT commented on #572
[code]

[code]

I dunno how my base user get there... I create user kuberman use **useradd** command.

[2021-07-08 08:31] 24sama commented on #572
exec `visudo`

make sure there include your kuberman
[code]

[2021-07-08 09:00] MonaxGT commented on #572
[code]

[2021-07-08 10:02] 24sama commented on #572
Maybe the file `~/.bashrc` doesn't load the $PATH correctly in the master nodes. I'm not sure...

Try to add a new line `export PATH=$PATH` in the end of the file `~/.bashrc`.

[2021-07-08 12:13] MonaxGT commented on #572
Try to add a new line export PATH=$PATH in the end of the file ~/.bashrc.

No, still he writes the same error...

[2021-07-08 19:18] MonaxGT commented on #572
I continued deploy cluster after error. I recently wrote that my cluster had status NotReady and a tried to undestand why.. I've found that I had to initialize cluster networking. I ran `kubectl -n kube-system apply -f https://raw.githubusercontent.com/coreos/flannel/bc79dd1505b0c8681ece4de4c0d86c5cd2643275/Documentation/kube-flannel.yml` and my cluster started working in Ready status.

But it doe

[2021-07-09 02:21] 24sama commented on #572
If you want to install KubeSphere on existing k8s cluster, you can use another tools: [ks-installer](https://github.com/wenyan-lang/wenyan).

[2021-07-09 07:42] MonaxGT commented on #572
I just want to deploy Kubesphere)))

I tried to run "create cluster" after success deploy k8s cluster and at last have seen Kubepshere web UI, but I got another error
<img width="363" alt="image" src="https://user-images.githubusercontent.com/5528835/125042186-3c8b0680-e0a2-11eb-940a-f21d3aef6997.png">

[2021-07-09 07:43] MonaxGT commented on #572
Your link to ks-installer go to https://github.com/wenyan-lang/wenyan project, maybe you miss click?

[2021-07-09 07:45] 24sama commented on #572
Sorry, my mistake. I already edit it.

[2021-07-09 08:12] MonaxGT commented on #572
Ok, thanks. I will try.

[2021-07-09 08:14] MonaxGT commented on #572
Any idea how to pass this error?
I find only one issue https://github.com/kubesphere/ks-installer/issues/33 I tried to translate but not all of the word translated or translated right

[2021-07-09 08:25] FeynmanZhou commented on #572
Is there any unavailable DNS  in your K8s cluster?

[2021-07-09 08:25] FeynmanZhou commented on #572
You can also verify the Pod status of the namespace `kubephere-system`.

[2021-07-09 08:40] MonaxGT commented on #572
sorry, I'm not a professional DevOPS) I dunno... I think that kubernets deploy coredns service and this service will be internal dns for dns like in Docker. Or you ask about another DNS?

My /etc/resolv.conf
[code]

[2021-07-09 08:41] MonaxGT commented on #572
[code]

If I am not mistaken it's mean that everything works fine

[2021-07-09 09:02] 24sama commented on #572
Exec the command `kubectl get  svc -n kube-system` to check there are only one dns svc on your cluster.

[2021-07-09 09:16] MonaxGT commented on #572
[code]

[2021-07-09 09:38] MonaxGT commented on #572
I go to sh shell container **k8s_ks-controller-manager_ks-controller-manager-d84f68f46-r4gjx_kubesphere-system_583b98e5-7221-4d2f-8ab5-9aff9f16bdc9_0**

And tried to lookup this dns name:
[code]

In /etc/kubernetes/kubeadmin-conf.yaml i find:
[code]

But in the top message we can see: _kube-dns  ClusterIP  10.233.0.10_

[2021-07-09 09:48] 24sama commented on #572
This is a result when creating a cluster successfully by kk:
[code]

The kk will delete the `kube-dns` and create `core-dns`.

So, maybe you can have a try to delete it manually. Here is the `coredns-svc.yaml` file:
[code]

[2021-07-09 10:20] MonaxGT commented on #572
Thanks! I apply this conf and see coredns but with Kubernetes-dns
[code]

I tried to remove Kubernetes-dns
[code]

Kubersphere UI return the same error with request to http://ks-apiserver.kubesphere-system.svc/oauth/token failed, reason: getaddrinfo ENOTFOUND ks-apiserver.kubesphere-system.svc

[2021-07-09 10:40] MonaxGT commented on #572
I get into pod and try to resolve
[code]

[2021-07-12 06:54] 24sama commented on #572
There are 2 svc of dns in your cluster. Try to delete the svc `kube-dns`.

[2021-07-12 11:27] MonaxGT commented on #572
Hi!
I decided to recreate my VM and create nodes with Centos.
But it didn't help and I have the same error. I used way to run kk create cluster and if I got error I just copied this command and run manually and then run create cluster again. At the end I got Kubesphere UI as early and now I could get into but without changing password.

Now I can't change password or create new user because:
**Int

[2021-07-12 12:08] FeynmanZhou commented on #572
@wansir @RolandMa1986 Could you please help to take a look at this issue?

[2021-07-13 01:37] RolandMa1986 commented on #572
Hi @MonaxGT,
The certificate issue should already be fixed in the v3.1.0 release. Please check your installer's version by the following command first. The image output should be "kubesphere/ks-installer:v3.1.0" if you are trying to deploy KubeSphere 3.1.0.
[code]

For the KubeSphere 3.1.0 release, there are 2 possible issues.
1. DNS doesn't work. You can execute `nslookup ks-controller-manager.ku

[2021-07-13 06:08] 24sama commented on #560
Please try to change the `hosts[]` and `roleGroups` order like:
[code]

[2021-07-13 08:26] shihaoH commented on #560
after modification nodes order
execute `./kk add nodes -f config.yaml`
`Failed to get cluster status: Failed to upload kubeadm certs: Failed to exec command: sudo -E /bin/sh -c "/usr/local/bin/kubeadm init phase upload-certs --upload-certs"`

[2021-07-13 08:34] 24sama commented on #560
Check your `/etc/kubernetes/admin.conf` that on the node1 is correct. KK will use it to connect your cluster.

[2021-07-13 08:51] shihaoH commented on #560
[code]

[2021-07-13 09:31] 24sama commented on #560
Can you use this version of kk? Here is the link:[v1.1.1](https://github.com/kubesphere/kubekey/releases/tag/v1.1.1)

[2021-07-13 10:14] MonaxGT commented on #572
Hi @RolandMa1986!
`kubectl -n kubesphere-system get deployments.apps ks-installer -o=jsonpath='{$.spec.template.spec.containers[:1].image}'
`
kubesphere/ks-installer:v3.1.0

1. I've tried to connect to ks-apiserver and received:
[code]
I dunno how to connect to this pods but it works with basic pods

[code]

2.
[code]
I think it's mean that nothing new changed about certs

The main problem with DN

[2021-07-13 10:26] MonaxGT commented on #572
Maybe it will be useful, I used advice @24sama and apply code from this post

[2021-07-13 14:13] RolandMa1986 commented on #572
You can verify the dns service by  the following command on your host:
[code]
The "10.233.0.10" ip is the coredns service ip from
[code]
Or get a pod shell session:
[code]
I notice that you have a search domain "search net.home.ru" in your /etc/resolv.conf. Maybe you can try to delete it. if you are using a dhcp config. please try to set a fixed dns like 8.8.8.8.

[2021-07-13 16:19] MonaxGT commented on #572
On my host `nslookup ks-controller-manager.kubesphere-system.cluster.local 10.233.0.10`

[code]

[code]

Get pods names in namespace kubesphere-system
[code]

I tried to reboot 2 modules and get into shell again and nslookup after that
[code]

It seems that coredns didn't work at all(

[2021-07-14 05:38] 24sama commented on #560
1. Please use the command `curl -vk https://192.168.161.55:6443` to check the haproxy server.
2. `cat /etc/hosts` to check the `192.168.161.55 lb.kubesphere.local` is matched.

[2021-07-14 07:05] MonaxGT commented on #572
I forgot to tell, I changed /etc/resolv.conf on my host but it didn' t change anything

[2021-07-14 07:20] RolandMa1986 commented on #572
My mistake, the DNS name should be "ks-controller-manager.kubesphere-system.svc.cluster.local". You can use the long dns name both in host and pod shell

[2021-07-14 07:40] MonaxGT commented on #572
[code]

[code]

[2021-07-14 07:53] RolandMa1986 commented on #572
That looks good. Can you check your /etc/resolv.conf  in the "ks-apiserver-5949c88fb6-nl7sg" pod?
You can try to issue an HTTPS request too. like "curl -k curl -k https://ks-controller-manager.kubesphere-system.svc:443/validate-email-iam-kubesphere-io-v1alpha2" or with full DNS name.  It should return something like `{"code":400}`. You may need to install curl firstly by "# apk add curl".

[2021-07-14 09:02] shihaoH commented on #560
haproxy.cfg
[code]

shell
[code]

[2021-07-14 09:08] 24sama commented on #560
That looks your haproxy didn't work. Please check it.

[2021-07-14 09:12] shihaoH commented on #560
Is it because I put haproxy on the master node

[2021-07-14 09:19] 24sama commented on #560
Maybe you should modify the value of `bind`:
[code]

[2021-07-14 09:31] 24sama commented on #560
check the kk config:
[code]

[2021-07-14 09:35] shihaoH commented on #560
because I put haproxy on the master node,  so starting frontend kube-apiserver: cannot bind socket [192.168.161.55:6443]
When I executed before, modify `spec.controlPlaneEndpoint.port` config to `8443`

[2021-07-14 09:37] MonaxGT commented on #572
[code]

Yeap, it returns exactly 400

[2021-07-14 09:40] 24sama commented on #560
Can you paste your `keepalived ` and `haproxy` logs? And check the vip `192.168.161.55` is bound on one of your node's eth0 .

The other way, maybe you should delete the new nodes and add them again.

[2021-07-14 09:46] RolandMa1986 commented on #572
All service seems ok. Login with admin/create user should works... But, ok, maybe try to restart the service could fix the issue.
[code]

[2021-07-14 09:56] MonaxGT commented on #572
I run

[code]

And can't `kubectl -n kube-system delete pod kube-apiserver-node1`

[code]

Should I delete **kube-apiserver-master**  ?

I try to logon and have the same error with cert x509(

[2021-07-14 09:57] MonaxGT commented on #572
I dunno.. maybe it's important but I have access to internet thought proxy server, but it should influence on this

[2021-07-14 10:01] RolandMa1986 commented on #572
That's should be the root cause.

[2021-07-14 10:07] MonaxGT commented on #572
About proxy? or about delete kube-apiserver-master?

When I tried to install kubesphere (create Cluster) I put all of private network to proxy ignore in /etc/environment and docker settings

[2021-07-14 10:14] MonaxGT commented on #572
Ok, I will try!

[2021-07-14 10:16] RolandMa1986 commented on #572
You can try to add the no_proxy environment directly in the kube-apiserver.yaml config
`vi /etc/kubernetes/manifests/kube-apiserver.yaml'
[code]

[2021-07-14 10:27] MonaxGT commented on #572
I check my file and see:
[code]

Should I use exactly nets from your post?

[2021-07-14 11:41] shihaoH commented on #560
haproxy.log
[code]
why Permission denied

[2021-07-14 12:31] MonaxGT commented on #572
I ve tried to recreate cluster after put NO_PROXY=*.cluster.local
An now I get **request to http://ks-apiserver.kubesphere-system.svc/oauth/token failed, reason: getaddrinfo ENOTFOUND ks-apiserver.kubesphere-system.svc**

when I try to login(

[2021-07-14 23:14] MonaxGT commented on #572
I understood really interesting thing... When I try to create cluster everytime **kk create cluster** with dns IP address 169.254.25.10... I change this to 10.233.0.10 and after run **create cluster** see again only 169.254.25.10 in config file...
BUT when I run **create cluster** I've seen in log that he tried use 169.254.25.10 but recommended 10.233.0.10)))

If I am not mistaken kk change normal

[2021-07-15 01:16] zryfish commented on #572
169.254.25.10 is the address used by [nodelocaldns](https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/#configuration),  10.233.0.10 is the address used by cluster dns. There is nothing wrong with these addresses. You should check your host dns settings, make sure there are no unavailable upstream dns servers in your /etc/resolv.conf

[2021-07-15 01:29] RolandMa1986 commented on #572
The previous check shows your CoreDNS works.  Maybe you can the nodelocaldns's status. If the connection between NodeLocalDNS to CoreDNS was proxied.
`kubectl -n kube-system logs nodelocaldns-<tab>`

[2021-07-15 02:27] 24sama commented on #560
I think the apiserver use `httpchk`

You can try to modify it, for example:
[code]

[2021-07-15 06:30] 24sama commented on #572
I find no `nodelocaldns` pod in your `kube-system`. Maybe you should apply them manully:

[code]

[2021-07-15 07:00] MonaxGT commented on #572
Ok, but he wanted to use exactly this address to **clusterDNS**
[code]

I checked there was no configuration files in /etc/kubernetes before I ran kk cluster create

[2021-07-15 07:06] MonaxGT commented on #572
And in /etc/kubernetes/kubeadm-config.yaml i see
[code]

And I check /etc/resolv.conf on my host. All of dns servers work properly

[2021-07-15 07:07] MonaxGT commented on #572
I couldn't find this yaml files in /etc/kubernetes when cluster is up(

[2021-07-15 07:23] 24sama commented on #572
These files generate by kk, and kk will apply them automatically.

It is possible these file don't generated after you get an error in this step. Then you create a cluster manually, and some components are missing.
[code]

You can refer to the following settings:

nodelocaldnsConfigmap.yaml
[code]

nodelocaldns.yaml
[code]

[2021-07-15 08:40] 24sama commented on #571
[v1.2.0-alpha.1](https://github.com/kubesphere/kubekey/releases/tag/v1.2.0-alpha.1) is release. Now you can experience it!

[2021-07-15 09:49] shihaoH commented on #560
That does not work

[2021-07-15 09:53] 24sama commented on #560
[v1.2.0-alpha.1](https://github.com/kubesphere/kubekey/releases/tag/v1.2.0-alpha.1) is release, it has a built-in load balancer . If you do not mind, you can experience it!

[2021-07-15 10:04] shihaoH commented on #560
OK, I will try later

This problem has been solved , need config selinux
execute `setsebool -P haproxy_connect_any 1`

[2021-07-15 10:07] 24sama commented on #560
execute setsebool -P haproxy_connect_any 1

Wow, that'greate.

[2021-07-15 10:11] shihaoH commented on #560
` failed to get config map: Get "https://lb.kubesphere.local:6443/api/v1/namespaces/kube-system/configmaps/kubeadm-config?timeout=10s"`
How to modify the port here

[2021-07-15 10:15] 24sama commented on #560
I think it because the old cluster used the port `6443`, you should modify it manually.

[2021-07-15 10:20] shihaoH commented on #560
I modified `.kube/config` and `/etc/kubernetes/admin.conf` and `sample.yaml spec.controlPlaneEndpoint.port`

[2021-07-16 01:41] 24sama commented on #560
/etc/kubernetes/manifests/kube-apiserver.yaml
/etc/kubernetes/kubelet.conf
The k8s configmap `kube-proxy` in `kube-system`

Then restart the kubelet, and exec:
[code]

[2021-07-16 05:15] shihaoH commented on #560
still the same

[2021-07-16 22:21] MonaxGT commented on #572
Hi!
I recreate cluster again and tried to put configs nodelocaldns.yaml and nodelocaldnsConfigmap.yaml in /etc/kubernetes/ and it didn't help. Then I apply this config after installing kubesphere and got 3 pods which restarted again and again,

[code]

[code]

<img width="453" alt="image" src="https://user-images.githubusercontent.com/5528835/126013846-4b70409c-6b47-4b75-873b-b26e4667acb1.png">

[2021-07-16 22:29] MonaxGT commented on #572
All my running pods
[code]

[2021-07-17 01:46] 24sama commented on #572
Can you paste the pod logs in here?

Use:
[code]

[2021-07-17 07:52] MonaxGT commented on #572
[code]

  Yes , of course

[2021-07-19 03:34] 24sama commented on #572
According to this line:
[code]

Maybe there are something wrong in the `nodelocaldnsConfigmap.yaml` .

[2021-07-19 06:56] MonaxGT commented on #572
Yes< I understand. I compare that you sent early in this topic with what I applied. There is no difference between.

[2021-07-19 07:05] 24sama commented on #572
Sorry, maybe my reply is not clear. Are you configuring the variable `{ coredns svc address }` correctly? The variable should be your coredns service ip address.

You can check it by command:
[code]

Then you should modify the `nodelocaldnsConfigmap.yaml`:
[code]

[2021-07-20 04:11] liuyp2018 opened #583 "error occurs when upgrading cluster with a specified configuration file"
error occurs when upgrading cluster with a specified configuration file
![image](https://user-images.githubusercontent.com/36271543/126260641-eb95a75b-f9c8-40d9-bd55-cc0b00eda478.png)

[2021-07-20 05:01] pixiake commented on #583
temporary situation：
Delete the clusterconfiguration of kubesphere in the configuration file.

[2021-07-22 03:12] LyingDragons opened #585 "建议将所有资源转移到gitee码云平台，github真的太卡了"

[2021-07-22 10:51] MonaxGT commented on #572
HI all!
Thanks @24sama It works. I really thought that _{ coredns svc address }_ some kind of template(

After deploying everything works excellent. I took a pause to test system and deploy OpenFaas project and it's seems work)

I noticed that **etc** is not installed in components. But it can be true, because cluster works. Maybe it is some deprecated feature to show etc in component?

Thanks a l

[2021-07-22 11:17] FeynmanZhou commented on #572
@MonaxGT You are welcome.

Feel free to join our community on the [Slack channel](https://join.slack.com/t/kubesphere/shared_invite/enQtNTE3MDIxNzUxNzQ0LTZkNTdkYWNiYTVkMTM5ZThhODY1MjAyZmVlYWEwZmQ3ODQ1NmM1MGVkNWEzZTRhNzk0MzM5MmY4NDc3ZWVhMjE)!

[2021-07-22 11:29] FeynmanZhou commented on #585
Sorry, this is not reasonable to migrate all resources to Gitee.

KubeSphere is a global project and community. All of the code, development, and documents will be hosted in GitHub at first, but we are going to make mirrors from GitHub to Gitee.

[2021-07-22 11:29] #585 closed

[2021-07-22 13:28] bjdaijun opened #586 "failed create cluster with v1.2.0 alpha1"
./kk create cluster -f config-sample.yaml report error:

ERRO[13:21:42 UTC] Failed to get kube-proxy config: Failed to exec command: sudo -E /bin/sh -c "set -o pipefail && /usr/local/bin/kubectl --kubeconfig /etc/kubernetes/admin.conf get configmap kube-proxy -n kube-system -o yaml | sed -n '/server:.*/p' "
/bin/sh: 1: set: Illegal option -o pipefail: Process exited with status 2  node=192.168.1.1

[2021-07-22 13:29] bjdaijun commented on #570
v1.1.1 is ok

[2021-07-22 13:29] #570 closed

[2021-07-22 15:52] aeoluswing opened #587 "kk cannot recreate cluster"
I've installed kubesphere and kubernetes on my cluster which contains 7 server nodes.Sometime ago,I deleted kubesphere namespace by mistake.I removed kubesphere and kubernetes manually and rm docker directory.After that rerun command `./kk create cluster -f config-sample.yaml` but got some error below:

[code]

I've no idea what this panic happened, and what does `invalid memory address` exactly m

[2021-07-23 02:14] 24sama commented on #587
Can you paste your `config-sample.yaml` in here?

[2021-07-23 02:27] 24sama commented on #586
I think there maybe a bug in kk about the default shell. I do some research, some os deafult shell is not `bash`. So the `set -o pipefail` will get Illegal option error.

/kind bug

[2021-07-23 02:41] #586 closed

[2021-07-23 02:49] 24sama commented on #572
@MonaxGT Enjoy the KubeSphere!

[2021-07-23 02:51] #571 closed

[2021-07-23 04:47] #572 closed

[2021-07-23 06:17] LyingDragons commented on #585
好的，谢谢。

[2021-07-23 09:15] 24sama commented on #585
You can exec `export KKZONE=cn` at first. Then kk will download the dependencies through aliyun repo.

[2021-07-23 09:52] bjdaijun opened #589 "create cluster error"
commitid: 531ede4adc2c1b54079071d88f2e744bc88be000
with config: internalLoadbalancer: haproxy
serviceaccount/calico-kube-controllers created
ERRO[09:47:08 UTC] Failed to deploy local-volume.yaml: Failed to exec command: sudo -E /bin/sh -c "/usr/local/bin/kubectl apply -f /etc/kubernetes/addons/local-volume.yaml"
The connection to the server lb.kubesphere.local:6443 was refused - did you specify th

[2021-07-23 10:39] 24sama commented on #589
Can you paste your config file in here?

[2021-07-24 08:49] bjdaijun commented on #589
Can not re appear after reset machine to clean state.

[2021-07-24 08:49] #589 closed

[2021-07-26 06:11] shake commented on #291
Hi
now I try use flannel udp, try to change

network:
    plugin: flannel
    backendMode: udp
    kubePodsCIDR: 10.233.64.0/18
    kubeServiceCIDR: 10.233.0.0/18

not working, still vxlan.

[2021-07-26 06:14] shake opened #590 "support flannel the other backend"
Hi
now seem only support the vxlan backend for flannel.

I try to

 network:
    plugin: flannel
    backendMode: udp
    kubePodsCIDR: 10.233.64.0/18
    kubeServiceCIDR: 10.233.0.0/18

not work.

[2021-07-26 15:22] pixiake commented on #590
[code]

[2021-07-27 05:30] shake commented on #590
thank you for help.

I try it.

the kube-flannel-ds pod can not start. check the log

kubectl logs --namespace kube-system kube-flannel-ds

Error registering network: failed to open TUN device: open /dev/net/tun: no such file or directory

I find the answer

https://github.com/flannel-io/flannel/issues/1267

kubectl edit daemonset kube-flannel-ds -n kube-system
modify
privileged: true

working.

[2021-07-27 08:20] #590 closed

[2021-07-27 23:45] shake opened #593 "flannel udp can not get config form cluseter."
I have deploy flannel udp use kk. but I try use got the config.

./kk create config --from-cluster

network:
    plugin: flannel
    kubePodsCIDR: 10.233.64.0/18
    kubeServiceCIDR: 10.233.0.0/18

lack of flannel backend: udp

[2021-07-29 05:37] willzhang opened #596 "reinstall cluster when yum remove docker，kk v1.2.x not check docker service is running"
## kk version
kubekey-v1.2.0-alpha.2

## what i do
[code]

## what happend

reinstlal cluster

[code]

maybe kk should reinstall docker and start docker service.

[2021-07-29 07:35] 24sama commented on #596
That beacuse of you didn't remove the docker completely.

You can use this command to get the dependency:
[code]
Then remove them all.
Perhaps, you should delete their config dir:
[code]
Until there is no docker in your system PATH. you can use this command to check:
[code]
That means removing the docker completely.

[2021-07-29 08:27] #596 closed

[2021-07-29 14:50] willzhang opened #597 "Offline installation is too troublesome"
## what happend
The official offline installation method is too troublesome。

see:https://kubesphere.io/docs/installing-on-kubernetes/on-prem-kubernetes/install-ks-on-linux-airgapped/

## what i want

**1、online**

curl -Ok https://kubesphere-installer.pek3b.qingstor.com/offline/v3.1.1/kubesphere-all-v3.1.1-offline-linux-amd64.tar.gz

**2、offline**
tar -zxvf kubesphere-all-v3.1.1-offline-linux-amd

[2021-07-30 02:34] lin1005q commented on #524
1.1.1 same error
1.2.0-alpha.2 same error

[2021-07-30 03:07] pixiake commented on #524
I also encountered the same error on centos7，But it is normal on ubuntu.
I think the release action needs to be optimized.

Before this, we can build kk according to the following documents.
https://github.com/kubesphere/kubekey/blob/master/docs/developer-guide.md#build-binary-from-source-code

[2021-07-30 03:10] lin1005q commented on #524
Thanks

[2021-07-30 03:19] lin1005q commented on #524
It's OK! 😄

[2021-07-30 03:30] pixiake opened #598 "Refine task scheduling for kubekey"
## Describe:
At present, kk can easily deploy k8s cluster, but due to the installation restrictions of some dependent components,  the deployment process may become complicated in offline deployment and other usage scenarios.

## Proposal
There are various environments for clusters to be installed, especially in the offline environment, and the preparation of the basic environment may become very

[2021-07-30 06:29] FeynmanZhou commented on #597
@pixiake @24sama Any thoughts on this issue?

[2021-07-30 06:29] FeynmanZhou commented on #597
/kind help

[2021-07-30 07:41] FeynmanZhou commented on #467
The new logo for KubeKey is coming, how do you guys think of it?
![image](https://user-images.githubusercontent.com/40452856/127618792-2840e8c7-48c0-4a2f-a280-77e322e21211.png)
![image](https://user-images.githubusercontent.com/40452856/127618806-a078844f-f770-463a-8eb3-6558d5576969.png)

[2021-07-30 07:52] willzhang commented on #597
1、about docker: you can install with binary like sealer:
https://github.com/alibaba/sealer/blob/c7bb9433848b7e0c993a545e315518f24095ae1f/filesystem/rootfs/docker/scripts/docker.sh

2、about docker registry:
user must give a registry url ，push image to that registry, or give a guide for user to install a registry， or let user prepare one node for  harbor or registry install

3、nothing else need to d

[2021-07-30 08:08] LinuxSuRen commented on #597
hi @willzhang , thanks for your detailed proposal. That's great.

[2021-07-30 08:24] willzhang opened #599 "how can i use containerd"
install containerd  and run kk create cluster?

about: https://github.com/kubesphere/kubekey/pull/386

[2021-07-30 08:27] LinuxSuRen commented on #599
This is a good question. But please notice that part of the KubeSphere components may not fully support contained yet. Such as DevOps. Please see also https://github.com/kubesphere-sigs/ks-devops/issues/67

[2021-07-30 08:30] pixiake commented on #597
Thanks for your proposal, we have received some similar demands before.
At present, we are refining for offline environment.

[2021-07-30 08:33] willzhang commented on #599
kubekey support k8s 1.20.x ，is it possible to install k8s 1.20.x with containerd ,how can i do that?   maybe kubekey not need to wait kubesphere support containerd。

[2021-07-30 08:36] pixiake commented on #599
At present, it is necessary to prepare the machine that has deployed containerd, and then specify `containerManager: containerd` in the configuration file.

[code]

[2021-07-30 10:34] willzhang opened #601 "node can not be deleted"
## kubekey 版本
[code]
## what happend
node can not be delete
[code]

## config
[code]

`

[2021-07-31 13:45] #599 closed

[2021-08-02 01:11] shake opened #602 "flannel vxlan+Directrouting not working"
HI

I try to test flannel vxlan + Directrouting,

  network:
    plugin: flannel
    flannel:
        backendMode: vxlan
        Directrouting: true

after deploy, not working. only vxlan.

 net-conf.json: |
    {
      "Network": "10.233.64.0/18",
      "Backend": {
        "Type": "vxlan"
      }
    }
---

[2021-08-02 02:17] rayzhou2017 commented on #602
@zheng1 Please also check this issue.

[2021-08-02 08:23] pixiake commented on #602
https://github.com/kubesphere/kubekey/blob/fb0ad3ab9c613e8be318bd521c1d0ef2f48e1028/apis/kubekey/v1alpha1/network_types.go#L34

For flannel, at present, it only supports specifying `Backend`, but does not support the configuration of `Directrouting`.

[2021-08-02 09:24] shake commented on #602
ok, good idea. let my team try it.  this is Very good opportunity to enhance our ability.

[2021-08-02 13:32] pixiake commented on #601
This issue seems to be a bug.
At present, you can use `kubectl delete node xxx` to delete nodes.

[2021-08-02 13:36] pixiake commented on #593
Featching configuration from cluster has not covered `flannel.backend` so far.

[2021-08-02 13:57] #560 closed

[2021-08-04 02:24] tagGeeY opened #604 "[vet] Println arg list ends with redundant newline"
[code]

[2021-08-04 02:25] LinuxSuRen commented on #604
Good catch! Please feel free to help us to fix it if you are interested in it.

[2021-08-04 02:28] LinuxSuRen commented on #604
/good-first-issue

[2021-08-04 06:16] shake commented on #291
network:
    plugin: flannel
    flannel:
        backendMode: udp.  ## you can change to vxlan, host-gw,ipip
    kubePodsCIDR: 10.233.64.0/18
    kubeServiceCIDR: 10.233.0.0/18

https://github.com/flannel-io/flannel/blob/master/Documentation/backends.md

[2021-08-04 07:39] tagGeeY commented on #604
Okay. ☺

[2021-08-04 07:41] LinuxSuRen commented on #604
You can use the following command if you want to take it.

`/assign`

[2021-08-05 03:00] #604 closed

[2021-08-05 06:41] shake commented on #597
./kk init registry -h

kk can run a registry for deploy use?

[2021-08-10 09:04] LLLLimbo opened #615 "Not work properly on Windows WSL2"
[code]

My subsystem: `Ubuntu 20.04.2 TLS`

[2021-08-10 09:19] 24sama commented on #615
Make sure your `ssh` is correct.

You can use this command `ssh root@localhost -p 22` to check.

[2021-08-10 23:35] LLLLimbo commented on #615
Thanks , this helps.

[2021-08-10 23:35] #615 closed

[2021-08-11 09:22] yuswift opened #618 "remove the validation of lb address when the environment is not HA"
Use case: I want to expose my cluster with a public IP in the kubeconfig, so I add `spec.controlPlaneEndpoint.address`. But I can't create the cluster successfully.

[2021-08-11 09:22] yuswift commented on #618
/cc @pixiake PTAL thanks!

[2021-08-12 01:59] #618 closed

[2021-08-12 02:19] 24sama commented on #566
Thanks for your proposal, we will consider this in future releases.

[2021-08-12 02:30] FeynmanZhou commented on #566
@divfor Do you have any better ideas to implement it? Would you like to improve it with us?

[2021-08-18 02:31] duanjiong opened #626 "calico resource should be updated"
When `peerSelector` is set, the `PeerIP` and `ASNumber` fields must be empty. But now it is requied.

https://github.com/kubesphere/kubekey/blob/eb55abc95e724c98eaeb1c50656e73249165c1dd/pkg/plugins/network/calico/tmpl-v1.16%2B.go#L303

[2021-08-18 02:32] duanjiong commented on #626
/assign @pixiake

[2021-08-18 03:41] yuswift opened #628 "Support Kubernetes v1.22"
### What is version of KubeKey has the issue?

latest

### What is your os environment?

Ubuntu 16.04

### KubeKey config file

_No response_

### A clear and concise description of what happend.

Support Kubernetes v1.22

### Relevant log output

_No response_

### Additional information

_No response_

[2021-08-18 03:42] yuswift commented on #628
/kind feature

[2021-08-18 03:44] yuswift commented on #628
/milestone v3.2

[2021-08-18 11:08] #626 closed

[2021-08-20 10:09] yinmin2020 opened #631 "An error occurs when the KK is deploying a high availability cluster"
### What is version of KubeKey has the issue?

1.11

### What is your os environment?

centos7.6

### KubeKey config file

[code]

### A clear and concise description of what happend.

Kube-config file cannot be transferred to kubeadm

### Relevant log output

[code]

### Additional information

Temporarily no

[2021-08-20 10:44] pixiake commented on #631
Can loadbalancer work normally ?
You can check loadbalancer by `curl -k https:<master0>:6443` and `curl -k https://<lb>:6443`.

[2021-08-23 05:39] yinmin2020 commented on #631
resolved

[2021-08-23 05:39] #631 closed

[2021-08-25 02:44] #628 closed

[2021-08-25 07:38] macaty opened #636 "how to set node port range in kubekey"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"1.1.1", GitCommit:"7f4b70f", GitTreeState:"", GoVersion:"go1.14.15"}

### What is your os environment?

centos 7.9

### KubeKey config file

[code]

### A clear and concise description of what happend.

how to customize node port range ,such as :
k8s nodeport 20000-32767

### Relevant log output

[code]

### Additional infor

[2021-08-25 12:05] pixiake commented on #636
You can add ` apiserverArgs` in` spec.kubenretes` of the configuration file to custom `service-node-port-range`.

example:
[code]

[2021-08-26 02:47] devinleee opened #640 "failed to create v1.22.1 cluster with kk 1.2.0-alpha.3"
### What is version of KubeKey has the issue?

1.2.0-alpha.3

### What is your os environment?

ubuntu 18

### KubeKey config file

_No response_

### A clear and concise description of what happend.

Warning: policy/v1beta1 PodDisruptionBudget is deprecated in v1.21+, unavailable in v1.25+; use policy/v1 PodDisruptionBudget
poddisruptionbudget.policy/calico-kube-controllers created
ERRO[10:45:00

[2021-08-26 07:51] #640 closed, assigned to nobody

[2021-08-28 01:00] FeynmanZhou opened #644 "How to install Kubernetes 1.22 with KubeKey?"
Can we download the [v1.2.0-alpha.3](https://github.com/kubesphere/kubekey/releases/tag/v1.2.0-alpha.3) to install Kubernetes 1.22 directly?

[2021-08-28 01:01] FeynmanZhou commented on #644
/cc @kubesphere/sig-installation

[2021-08-29 02:30] pixiake commented on #644
Yes, but you may need to install the container manager first.
The next alpha version will support automatic installation of containerd.

[2021-08-29 08:01] FeynmanZhou commented on #644
Container manager?

[2021-08-30 07:05] f10atin9 opened #647 "Initializing kubernetes cluster failed."
### What is version of KubeKey has the issue?

v1.2.0-alpha3

### What is your os environment?

Ubuntu20.04

### KubeKey config file

[code]

### A clear and concise description of what happend.

Initializing kubernetes cluster failed  when I use the "./kk create cluster -f config"command to create a v1.22.1 k8s cluster. And kubectl is not configured correctly.

### Relevant log output

[code]

##

[2021-08-30 07:43] f10atin9 commented on #647
@pixiake

[2021-08-30 07:59] pixiake commented on #647
You can check kubelet's logs.
[code]

[2021-08-30 08:56] f10atin9 commented on #647
I changed docker cgroup driver to systemd. It's solved. Thank you.

[2021-08-30 08:57] #647 closed

[2021-08-31 08:17] 24sama commented on #644
This alpha version kk will not install CRI. So, i think @pixiake means maybe you should install the docker or others first.

[2021-08-31 14:11] 24sama commented on #644
This is out fault we caused, it's kind of unfriendly. So i modify it.

[2021-08-31 15:47] FeynmanZhou commented on #644
Okay, docker will be installed automatically in a new alpha release of KubeKey?

[2021-08-31 16:05] pixiake commented on #644
The `v1.2.0-alpha.3` has been rebuilt.
The next alpha version will support automatic installation of containerd.

[2021-08-31 16:08] FeynmanZhou commented on #644
If I just use docker as the runtime, I can download `v1.2.0-alpha.3` to install docker and K8s together, right?

[2021-08-31 16:20] pixiake commented on #644
yes

[2021-09-01 01:24] pixiake opened #649 "Supports the installation of containerd"
### Your current KubeKey version

_No response_

### Describe this feature

At present, KubeKey can only dock containerd and cannot automatically install containerd.

### Describe the solution you'd like

Add the installation process of the containerd to KubeKey

### Additional information

_No response_

[2021-09-01 08:59] FeynmanZhou commented on #644
👍 As K8s 1.22 was available recently, it would be great to add a blog or tutorial to introduce this scenario.

[2021-09-01 10:29] liangyuanpeng opened #650 "Not found image registry.cn-beijing.aliyuncs.com/kubesphereio/pause:3.5"
### What is version of KubeKey has the issue?

v1.2.0-alpha.3

### What is your os environment?

n

### KubeKey config file

_No response_

### A clear and concise description of what happend.

Not found image  registry.cn-beijing.aliyuncs.com/kubesphereio/pause:3.5

### Relevant log output

_No response_

### Additional information

_No response_

[2021-09-01 10:55] FeynmanZhou commented on #650
IMO, the images will be synced to the Chinese registry after a general release. It might need verification from @kubesphere/sig-installation .

[2021-09-01 14:49] liangyuanpeng commented on #650
You are right, I think the really problem is shouldn't tell the user kubekey  v1.2.0-alpha.3 support k8s 1.22 and just got the error when the uesr install k8s 1.22.0 from kubekey v1.2.0-alpha.3.

At least provide an option to allow users to use this feature If it is not possible to public container image.

[2021-09-01 14:52] #650 closed

[2021-09-01 15:44] FeynmanZhou commented on #650
Yes, this is an Alpha release for quick testing.

[2021-09-01 16:42] meilihao opened #652 "kk cannot create cluster with containerd"
### What is version of KubeKey has the issue?

1.2.0-alpha.3

### What is your os environment?

Ubuntu 20.04.3 LTS

### KubeKey config file

[code]

### A clear and concise description of what happend.

Can't deloy kubesphere.

I tried kubekey v1.1.1 with k8s v1.20.6 and kubekey v1.2.0-alpha.3 with k8s v1.22.1, go the same problem.

### Relevant log output

[code]

### Additional information

env:

[2021-09-01 17:06] meilihao commented on #652
full log:
[kk.log](https://github.com/kubesphere/kubekey/files/7093061/kk.log)
[systemd.log](https://github.com/kubesphere/kubekey/files/7093073/systemd.log)

[2021-09-02 07:50] zhuch-h commented on #644
Docker as Container ? try install by arm environment

[2021-09-02 08:53] FeynmanZhou commented on #644
Docker. I think containerd will be integrated into KubeKey soon : )

[2021-09-02 10:26] zhuch-h commented on #644
okay! The install will be on the weekend.

[2021-09-03 02:52] yuswift opened #653 "upgrade helm release firstly, then upgrade k8s version"
### What is version of KubeKey has the issue?

latest

### What is your os environment?

Ubuntu 16.04

### KubeKey config file

[code]

### A clear and concise description of what happend.

ref https://helm.sh/docs/topics/kubernetes_apis/

### Relevant log output

_No response_

### Additional information

_No response_

[2021-09-03 05:09] 24sama commented on #652
According to these logs, there something wrong in the kubelet:
[code]
You can follow the log instructions for troubleshooting

[2021-09-04 01:35] meilihao commented on #652
tried again: kubelet is running, and no container started.

[code]

'journalctl -xeu kubelet' log:  [kubelet.log](https://github.com/kubesphere/kubekey/files/7109024/kubelet.log)

[2021-09-04 02:59] meilihao commented on #652
I got containerd error log with debug level:
[code]

container conf:
[code]

container config  is not working.

[2021-09-04 03:49] meilihao commented on #652
i upgraded containterd from 1.4.9 to 1.5.5. it still is  not work but got a warning.

[code]

So add `version = 2` to `/etc/containerd/config.toml`， then restart containerd. it works.

[code]

[2021-09-04 03:49] #652 closed

[2021-09-04 09:30] meilihao commented on #644
failed to  deploy k8s v1.22.1 with kubekey v1.2.0-alpha.3:
[code]

some log from deploying k8s v1.20.6 with kubekey v1.1.1:
[code]
[code]

[2021-09-04 11:20] meilihao commented on #644
I found merged pull req in [update api version #641](https://github.com/kubesphere/kubekey/pull/641/files) to solve it.

[2021-09-04 11:25] meilihao opened #654 "KubeSphere startup timeout"
### What is version of KubeKey has the issue?

1.1.1

### What is your os environment?

Ubuntu 20.04.3 LTS

### KubeKey config file

[code]

### A clear and concise description of what happend.

Can't deloy kubesphere, get error `KubeSphere startup timeout`.

### Relevant log output

[code]

### Additional information

_No response_

[2021-09-04 11:27] meilihao commented on #654
systemd log: [sys.log](https://github.com/kubesphere/kubekey/files/7109674/all.log)

[2021-09-05 00:54] meilihao commented on #654
tried again, got the same error.

pod status:
[code]

[2021-09-05 05:30] FeynmanZhou commented on #654
`0/1 nodes are available: 1 node(s) had taint {node.kubernetes.io/not-ready: }, that the pod didn't tolerate.`, could you pls try to remove the taint from your node?

[2021-09-05 05:33] 24sama commented on #654
The `kubelet` is not ready, you can use the command: `systemctl status kubelet` or `journalctl -xu kubelet` for troubleshotting

[2021-09-05 06:22] meilihao commented on #654
@FeynmanZhou why my node has taint,  how to find the cause？

[2021-09-05 06:51] meilihao commented on #654
I filtered out the log from the first container to node.kubernetes.io/not-ready:NoSchedule:
[code]

But I don't know what went wrong.

[2021-09-05 08:11] trestea opened #655 "What if the IP address of the node or master is changed"
### What is version of KubeKey has the issue?

1.1.1

### What is your os environment?

centos7.9

### KubeKey config file

_No response_

### A clear and concise description of what happend.

What if the IP address of the node or master is changed

### Relevant log output

_No response_

### Additional information

_No response_

[2021-09-05 09:55] meilihao commented on #654
I deleted kubesphere config to install k8s only, got the same error. I think the failure to deploy cilium may have caused everything.

[2021-09-05 15:20] meilihao commented on #654
I reset os, first `kk create -f config.k8s.yaml`(install k8s only) is successful.

Then  `kk delete -f config.k8s.yaml` and run `kk create -f config.k8s.yaml` again, get the same error(node not ready).

[2021-09-05 16:07] pixiake commented on #654
`journalctl -f -u kubelet` check the logs of k`ubelet`.

[2021-09-06 04:05] pixiake commented on #655
Temporarily, nodes in the cluster are not supported to modify ip.

[2021-09-06 04:51] meilihao commented on #654
kubelet log: [k.log](https://github.com/kubesphere/kubekey/files/7113372/k.log), i really don’t know how to analyze it

[2021-09-06 04:57] 24sama commented on #654
It looks like your network plugin is not work, you can check the logs of pod `cilium` and `cilium-operator`.

[2021-09-06 06:00] meilihao commented on #654
[code]

cilium pods log:
[cilium-htv9g.log](https://github.com/kubesphere/kubekey/files/7113660/cilium-htv9g.log)
[cilium-operator-75f898cccc-64fpl.log](https://github.com/kubesphere/kubekey/files/7113661/cilium-operator-75f898cccc-64fpl.log)
[cilium-operator-75f898cccc-cpkpp.log](https://github.com/kubesphere/kubekey/files/7113662/cilium-operator-75f898cccc-cpkpp.log)

[2021-09-06 13:31] meilihao commented on #654
I found that no error will be reported with `kk create -f config.k8s.yaml`  after  `kk delete -f config.k8s.yaml && reboot`.

[2021-09-06 13:31] #654 closed

[2021-09-07 02:41] meilihao commented on #654
@FeynmanZhou Maybe kubekey can add a "reboot" prompt for `kk delete cluster`  in the READM.md

[2021-09-08 06:18] liuyp2018 opened #658 "upgrade cluster error"
### What is version of KubeKey has the issue?

v1.2.0

### What is your os environment?

openEuler 21.09

### KubeKey config file

[code]

### A clear and concise description of what happend.

The following error is reported when using the upgrade command :
![image](https://user-images.githubusercontent.com/36271543/132456014-9d4dccf1-637c-4b73-b50e-f85010235545.png)

### Relevant log output

_No

[2021-09-09 02:57] liulangwa opened #660 "kubekey create cluster failed when no default router in system"
### What is version of KubeKey has the issue?

v1.1.1

### What is your os environment?

CentOS Linux release 7.6.1810 (Core)

### KubeKey config file

_No response_

### A clear and concise description of what happend.

create cluster failed when no default route in system
安装节点没有默认路由，导致安装失败

### Relevant log output

[code]

### Additional information

_No response_

[2021-09-09 03:13] pixiake commented on #660
You should set the default route for the node.

[2021-09-09 03:23] liulangwa commented on #660
@pixiake i open a PR fix this

[2021-09-09 06:50] wenxin-01 opened #662 "Use 'v1.2.0-alpha.3' install kubesphere failed"
### What is version of KubeKey has the issue?

version.BuildInfo{Version:"1.2.0-alpha.3", GitCommit:"0833f28", GitTreeState:"", GoVersion:"go1.14.15"}

### What is your os environment?

CentOS 8.2 64bit

### KubeKey config file

_No response_

### A clear and concise description of what happend.

![image](https://user-images.githubusercontent.com/68640256/132636786-ae4d8198-a6d8-4f07-9e98-beaa0c23

[2021-09-09 06:54] 24sama commented on #662
Please use the latest 1.2.0-alpha.3(git commint: 4f1e403) release.

[2021-09-09 11:29] #660 closed

[2021-09-09 11:44] liulangwa opened #664 "kubekey create cluster failed on hosts manager by jumpserver"
### What is version of KubeKey has the issue?

v1.1.1

### What is your os environment?

CentOS Linux release 7.6.1810 (Core)

### KubeKey config file

[code]

### A clear and concise description of what happend.

kubekey create cluster failed on hosts  manager by jumpserver

在jumpserver管理的主机上部署kubesphere失败，应该是ssh后PATH环境变量问题导致找不到一些依赖工具

### Relevant log output

[code]

### Additional information

[2021-09-09 16:04] pixiake opened #665 "Supports installing docker and conatinerd using binaries"
### Your current KubeKey version

_No response_

### Describe this feature

Using binary files to install docker can avoid the dependence of basic software.

### Describe the solution you'd like

Using binary files to install docker / containerd / crictl

### Additional information

_No response_

[2021-09-09 17:38] 24sama commented on #664
SSH will load the $PATH by `/etc/bash.bashrc` or `~/.bashrc `. So ensure their content will load the $PATH just like `/etc/profile`.

[2021-09-10 01:40] liulangwa commented on #664
@24sama 但是我通过ssh命令执行kubeadm却没问题 通过kubekey不行

But I execute kubeadm through the ssh command  it’s no problem. Not through kubekey.

[2021-09-10 02:26] 24sama commented on #664
Try to use the command: `export BASH_ENV=/etc/profile` first.

[2021-09-10 04:46] liulangwa commented on #664
it not work `export BASH_ENV=/etc/profile ; ./kk add  nodes -f deploy-in.yaml`
i do nont find BASH_ENV in kubekey source code

[2021-09-10 05:50] 24sama commented on #664
You maybe need to exec that command on 11.32.16.30.

[2021-09-10 07:46] liulangwa commented on #664
i have make a PR fix this bug

[2021-09-10 07:47] liulangwa commented on #664
i have make a PR fix this bug

[2021-09-10 10:32] chen2ding opened #668 "Add master to the cluster using KubeKey"
### Your current KubeKey version

1.1.1

### Describe this feature

之前安装的集群为mster01 node01 node02 模式，只有一个master节点
现在通过kk添加master节点，期望实现高可用

结果：添加节点成功，但是master01只要宕机，整个集群不可用

### Describe the solution you'd like

请问这是怎么回事，可以做到我期望的效果吗？

### Additional information

![image](https://user-images.githubusercontent.com/45548541/132840623-cd68ae2e-0244-4b4e-9e2f-00970fc23c97.png)

nginx
![image](https://u

[2021-09-10 13:28] pixiake commented on #668
You can only modify the `address`,  and the `domain` and `port` must be consistent with the original.

[2021-09-11 15:16] TheApeMachine opened #669 "Support for OS that has read-only /usr/* paths"
### Your current KubeKey version

v1.1.1

### Describe this feature

Given my good experiences with KubeSphere I wanted to start using KubeKey to provision more bare-bones Kubernetes clusters as well.
The thing is that I run Flatcar Linux as the base OS, which has everything under /usr/** as read-only.
I forked the repo to have a closer look, because it seems like a pretty easy thing to change.
I

[2021-09-11 15:27] FeynmanZhou commented on #669
It sounds like it makes sense for us to support this feature. I am curious if Kubeadm or Kubespray support the OS that has read-only /usr/* paths?

@pixiake @24sama @kubesphere/sig-installation Please also help to evaluate this kind of scenario.